<div class="auth-page-container">
  <form [formGroup]="registerGroup" (ngSubmit)="register()">
    <div class="auth-progress-bar">
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="authLoading$ | async"
      ></mat-progress-bar>
    </div>

    <img
      src="assets/apple-touch-icon.png"
      alt="Netptune Logo"
      width="72"
      height="72"
    />

    <h3 class="auth-title">Create new Account</h3>

    <app-form-input
      formControlName="firstname"
      label="Firstname"
      maxLength="1024"
      id="firstname"
      name="firstname"
      autocomplete="givenname"
    >
    </app-form-input>

    <app-form-input
      formControlName="lastname"
      label="Lastname"
      maxLength="1024"
      id="lastname"
      name="lastname"
      autocomplete="familyname"
    >
    </app-form-input>

    <app-form-input
      formControlName="email"
      label="Email"
      maxLength="1024"
      id="email"
      name="email"
      type="email"
      autocomplete="username"
    >
    </app-form-input>

    <app-form-input
      formControlName="password0"
      label="Password"
      maxLength="1024"
      id="new-password"
      name="new-password"
      autocomplete="new-password"
      type="password"
    >
    </app-form-input>

    <app-form-input
      formControlName="password1"
      label="Confirm Password"
      maxLength="1024"
      id="confirm-new-password"
      name="confirm-new-password"
      autocomplete="new-password"
      type="password"
    >
    </app-form-input>

    <mat-error *ngIf="password1.hasError('noMatch')">
      Passwords do not macth!
    </mat-error>

    <div class="button-container">
      <a
        mat-button
        color="primary"
        type="button"
        class="form-action-button"
        [routerLink]="['/auth/login']"
      >
        Back to Log in
      </a>

      <button
        mat-stroked-button
        color="primary"
        type="submit"
        class="form-action-button"
      >
        Create Account
      </button>
    </div>
  </form>
</div>
