<h1 mat-dialog-title>Invite User to Workspace</h1>

<form [formGroup]="inviteFromGroup">

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Enter User's Email Address</mat-label>
    <input matInput id="name" class="form-control" placeholder="Email Address" formControlName="emailFormControl" name="email"
      required>
    <mat-hint>Required</mat-hint>
  </mat-form-field>

</form>


<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
  <button mat-button (click)="getResult()" [disabled]="inviteFromGroup.invalid" type="button">
    Invite User
  </button>
</div>
