<div class="board-group-card">

  <ng-content></ng-content>

  <div
    #container
    appScrollShadowVertical
    class="task-container custom-scroll"
  >

  <div
    cdkDropList
    class="board-task-list"
    [id]="dragListId"
    [cdkDropListConnectedTo]="siblingIds"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="group.tasks"
  >
    <app-board-group-card
      cdkDrag
      class="board-group-task-card"
      *ngFor="let task of group.tasks; trackBy:trackGroupTask"
      [cdkDragData]="task"
      [task]="task"
      (cdkDragStarted)="onDragStarted()"
      (cdkDragReleased)="onDragEnded()"
    >
    </app-board-group-card>


    <app-board-group-task-inline
      *ngIf="isInlineActive$ | async"
      (canceled)="onInlineCanceled()"
      [boardGroupId]="group.id"
    >
    </app-board-group-task-inline>

    <ng-container *ngIf="showAddButton$ | async; else elseTemplate">
      <div class="create-task">
        <button
          mat-button color="primary"
          (click)="onAddTaskClicked()"
        >
          ADD TASK
        </button>
      </div>
    </ng-container>

    <ng-template #elseTemplate>
      <div class="create-task-spacer">
      </div>
    </ng-template>
  </div>

  </div>
</div>
