<div class="board-group-card">

  <ng-content></ng-content>

  <div
    #container
    class="task-container"
  >

  <div
    cdkDropList
    class="board-task-list"
    [id]="dragListId"
    [cdkDropListConnectedTo]="siblingIds"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="group.tasks"
  >
    <app-board-group-card
      cdkDrag
      class="board-group-task-card"
      *ngFor="let task of group.tasks; trackBy:task?.id"
      [cdkDragData]="task"
      [task]="task"
      (cdkDragStarted)="onDragStarted()"
      (cdkDragReleased)="onDragEnded()"
    >
    </app-board-group-card>

    <div class="create-task" *ngIf="showAddButton$ | async">
      <button
        mat-button color="primary"
        (click)="onAddTaskClicked()"
      >
        ADD TASK
      </button>
    </div>

    <app-board-group-task-inline
      *ngIf="isInlineActive$ | async"
      (canceled)="onInlineCanceled()"
      [boardGroupId]="group.id"
    >
    </app-board-group-task-inline>
  </div>


  </div>
</div>
