@import '~@angular/material/theming';

@mixin board-group-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .board-group-card {
    background-color: darken(mat-color($background, board-group), 1);
  }
}
