#new-button {
    margin-bottom: 0.5rem;
    height: 3rem;
}

.fas {
    margin-right: 1rem;
}

td {
    height: 64px;
    vertical-align: middle;
}

tr #actions {
    display: none;
    height: 32px;
}

tr:hover {
    background-color: #D9EDF7 !important;
    border-radius: 0.3rem;
}
tr:hover #actions {
    display: block;
   
}

.table-responsive {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: inline-table;
}

#desc-cell {
    max-width: 16rem;
}

#actions-cell {
    width: 12rem;
}

#type-cell {
    width: 12rem;
    text-align: center;
}

#actions {
    #editBn {
        margin-right: 8px;
    }
    .fas {
        margin: auto;
        color: white;
    }
}