<div class="container main">
  <div class="container-max">

    <div class="component-header">
      <h4>Project Types</h4>
      <button mat-button type="button" class="new-button float-right" (click)='showAddModal()'>
        <i class="fas fa-clipboard-list"></i>
        New
      </button>
    </div>

    <mat-selection-list>
      <mat-list-option *ngFor="let projectType of projectTypeService.projectTypes; let i=index; trackBy:trackById;">
        <h4 matLine>{{ projectType.name }}</h4>
        <p matLine>{{ projectType.description }}</p>
        <div>
          <button mat-button type="button" id="editBn" (click)='showUpdateModal(projectType)'>
            Edit
          </button>
          <button mat-button type="button" id="deleteBn" (click)='deleteClicked(projectType)'>
            Delete
          </button>
        </div>
      </mat-list-option>
    </mat-selection-list>

  </div>
</div>