<div class="container main">
  <div class="container-max">

    <div class="component-header bottom-border">
      <h4>Tasks</h4>
      <button mat-button type="button" class="new-button float-right" (click)='showAddModal()'>
        <i class="fas fa-project-diagram"></i>
        New
      </button>
    </div>

    <div *ngIf="!projectTaskService.tasks">
      <mat-progress-spinner mode="indeterminate">
    </div>

    <div class="container tasks-container">
      <h4>My Tasks</h4>

      <mat-accordion class="tasks-accordion" [@dropIn]="projectTaskService.tasks">
        <mat-expansion-panel *ngFor="let task of projectTaskService.myTasks; let i=index; trackBy:trackById;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ task.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ task.description }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <div class="card-chips">
            <mat-chip-list>
              <mat-chip>Owner {{ task.owner?.userName }}</mat-chip>
              <mat-chip>Updated {{ task.updatedAt | date }}</mat-chip>
              <mat-chip>Created {{ task.createdAt | date }}</mat-chip>
            </mat-chip-list>
          </div>

          <mat-action-row>
            <button mat-button color="primary" type="button" (click)='showUpdateModal(task)'>
              Edit
            </button>
            <button mat-button color="primary" type="button" (click)='showDeleteModal(task)'>
              Delete
            </button>
          </mat-action-row>

        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <div class="container tasks-container">

      <mat-accordion class="tasks-accordion" [@dropIn]="projectTaskService.tasks">
        <mat-expansion-panel *ngFor="let task of projectTaskService.tasks; let i=index; trackBy:trackById;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ task.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ task.description }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <div class="card-chips">
            <mat-chip-list>
              <mat-chip>Owner {{ task.owner?.userName }}</mat-chip>
              <mat-chip>Updated {{ task.updatedAt | date }}</mat-chip>
              <mat-chip>Created {{ task.createdAt | date }}</mat-chip>
            </mat-chip-list>
          </div>

          <mat-action-row>
            <button mat-button color="primary" type="button" (click)='showUpdateModal(task)'>
              Edit
            </button>
            <button mat-button color="primary" type="button" (click)='showDeleteModal(task)'>
              Delete
            </button>
          </mat-action-row>

        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <button mat-button *ngIf="projectTaskService.tasks && projectTaskService.tasks.length > 0" type="button" class="btn btn-light float-right"
      id="export-button" (click)='exportProjects()' [disabled]='exportInProgress'>
      Export Projects
    </button>

  </div>
</div>