<div class="auth-page-container">

  <form [formGroup]="passwordResetGroup" (ngSubmit)="resetPassword()">

    <div class="auth-progress-bar">
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="authLoading$ | async"
      ></mat-progress-bar>
    </div>

    <h3 class="auth-title">
      Reset your password
    </h3>

    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        type="password"
        name="new-password"
        formControlName="password0"
        autocomplete="new-password"
      />
      <mat-error *ngIf="password0.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm New Password</mat-label>
      <input
        matInput
        type="password"
        name="confirm-new-password"
        formControlName="password1"
        autocomplete="new-password"
      />
      <mat-error *ngIf="password1.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="password1.hasError('noMatch')">
        Passwords do not macth!
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <a
        mat-button
        color="primary"
        type="button"
        class="form-action-button"
        [routerLink]="['/auth/login']"
      >
        Back to Log in
      </a>

      <button
        mat-stroked-button
        color="primary"
        type="submit"
        class="form-action-button"
      >
        Reset Password
      </button>

    </div>
  </form>
</div>
