.task-card {
  transition: background-color .2s ease-in-out;

  .task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .card-chips {
      justify-content: flex-end;
    }

    .title {
      margin-left: 1.2rem;
      font-size: 14px;
      cursor: pointer;
      white-space: nowrap;
    }

    .input-group-prepend {
      span,
      label {
        width: 10rem;
      }
    }

    .flag {
      font-size: 1.2rem;
      margin: auto 1rem;
    }

    .fas {
      margin-right: 1.4rem;
    }

    mat-divider {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    .task-header-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: auto;
      margin-bottom: auto;
      align-items: center;

      .mat-checkbox {
        margin: auto;
      }
    }

    .task-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .task-complete {
        margin: 0 .8rem;
      }
    }

    .chip-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin-right: .4rem;
    }

    .chip-spacer {
      width: .4rem;
    }

    .mat-standard-chip {
      min-height: 24px !important;
    }

    .expand-icon {
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-left: .4rem;
      visibility: hidden;
    }

    .task-card-user-chip {
      margin-right: .6rem;
      font-size: 12px / 24px 'Roboto', sans-serif !important;
    }

    .task-scope-id {
      margin-left: 1.2rem;
      border-radius: 4px;
      padding: .2rem .4rem;
      height: 1rem;
      font-size: 14px;
    }
  }

  .task-header:hover {
    .expand-icon {
      visibility: visible;
    }
  }
}
