@import '~@angular/material/theming';

@mixin task-list-item-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .task-card {
    background-color: mat-color($background, card);

    .task-scope-id {
      background-color: mat-color($foreground, text, .1);
    }
  }

  .task-card:hover {
    background-color: darken(mat-color($background, card), 2);
  }

  .task-header-title .drag {
    color: rgba(mat-color($foreground, icon), .3);
  }

  .mat-checkbox-frame {
    border-color: rgba(mat-color($foreground, icon), .3);
  }

  .task-item-selected {
    background-color: mat-color($primary, 400, .1);
  }
}
