.task-card {
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  display: flex;
  align-items: center;
  height: 40px;

  .card-chips {
    justify-content: flex-end;
  }

  .title {
    margin-left: 1.2rem;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }

  .flag {
    flex: 0;
    font-size: 1.2rem;
    margin: 0 1rem;
  }

  .task-action {
    flex: 0 0 40px;
  }

  .task-checkbox {
    flex: 0 0 16px;
  }

  .task-complete {
    margin: 0 .8rem;
  }

  .project-chip {
    height: 18px;
    margin-right: .4rem;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 12px;
    border-radius: 12rem;
  }

  app-avatar {
    margin-right: .4rem;
  }

  .task-scope-id {
    margin-left: 1.2rem;
    border-radius: 4px;
    padding: .2rem .4rem;
    height: 1rem;
    font-size: 14px;
  }
}
