<div class="task-card" [class.task-item-selected]="checked">
  <div class="task-header">

    <div class="task-header-title">
      <button
        cdkDragHandle
        mat-icon-button
        aria-label="more"
        matTooltip="click for more options. click and hold to drag task"
        [matTooltipShowDelay]="1200"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>drag_indicator</mat-icon>
      </button>
      <mat-checkbox color="primary" [(ngModel)]="checked"></mat-checkbox>
      <div class="title" (click)="titleClicked()">
        {{ task.name }}
      </div>
    </div>

    <div class="task-footer">

      <mat-icon
        class="task-complete"
        *ngIf="task.status === 1"
      >
        done
      </mat-icon>

      <div class="chip-list">
        <mat-chip-list ariaOrientation="horizontal">
            <mat-chip color="primary">
              {{ task.projectName }}
            </mat-chip>
            <div class="chip-spacer"></div>
          </mat-chip-list>
      </div>

      <app-avatar
        size="24"
        class="task-card-user-chip"
        [name]="task.ownerUsername"
      >
      </app-avatar>

      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="markCompleteClicked()">
            <mat-icon class="material-icons-outlined">
              done
            </mat-icon>
            <span>Mark Complete</span>
          </button>
          <button mat-menu-item (click)="moveToBacklogClicked()">
            <mat-icon class="material-icons-outlined">
              assignment_returned_outline
            </mat-icon>
            <span>Move to Backlog</span>
          </button>
          <button mat-menu-item (click)="deleteClicked()">
            <mat-icon class="material-icons-outlined">
              delete
            </mat-icon>
            <span>Delete</span>
          </button>
        </ng-template>
      </mat-menu>

    </div>

  </div>
</div>

