<div
  class="task-card"
  [class.flagged]="task.isFlagged"
>

  <ng-content></ng-content>

  <mat-checkbox
    class="task-checkbox"
    color="primary"
  >
  </mat-checkbox>

  <div class="task-scope-id">
    {{ task.systemId }}
  </div>

  <div class="title" (click)="titleClicked()">
    {{ task.name }}
  </div>

  <mat-icon
    *ngIf="task.isFlagged"
    color="warn"
    class="flag"
  >
    flag
  </mat-icon>


  <mat-icon
    class="task-complete"
    *ngIf="task.status === 1"
  >
    done
  </mat-icon>

  <div class="project-chip">
    {{ task.projectName }}
  </div>

  <app-avatar
    size="24"
    class="task-card-user-chip"
    [name]="task.assigneeUsername"
    [imageUrl]="task.assigneePictureUrl"
  >
  </app-avatar>

</div>

