.task-inline-container {
  width: 100%;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: .2rem;

  .new-task-button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transition: background-color .2s ease-in;
    flex-direction: row;
    background-color: transparent;
    border: 0;
    text-align: start;
    font-family: inherit;
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: .125px;
    padding: 0 2.3rem;
    border-radius: 0;

    span {
      margin: auto 1rem;
    }

  }

  .inline-task-form {
    width: 100%;
    display: flex;
    flex-direction: row;

    mat-icon {
      padding: .5rem;
    }

    mat-checkbox {
      padding: .5rem 0;
    }

    .task-form {
      height: 100%;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .inline-task-input {
      width: 100%;
      font-size: 14px;
      font-family: inherit;
      border: 0;
      background-color: transparent;
      padding: .2rem 1.2rem;
    }
  }
}
