<div
  class="task-inline-container"
  [class.edit-mode]="inlineEditActive()"
  #taskInlineContainer
  >
  @if (!inlineEditActive()) {
    <button
      mat-button
      disableRipple="true"
      class="new-task-button"
      (click)="addTaskClicked()"
      >
      <mat-icon>add</mat-icon>
      <span> Add Task </span>
    </button>
  } @else {
    <div class="inline-task-form" #taskInlineForm>
      <mat-icon>drag_indicator</mat-icon>
      <mat-checkbox color="primary" disabled />
      <form [formGroup]="taskGroup" class="task-form" (ngSubmit)="onSubmit()">
        <input
          #taskInput
          matInput
          formControlName="taskName"
          class="inline-task-input"
          placeholder="What do you need to get done?"
          />
      </form>
    </div>
  }

</div>
