@use '@angular/material' as mat;
@use 'variables' as *;

@use 'sass:map';

@mixin task-inline-theme($theme) {

  .inline-task-input {
    color: var(--foreground);
  }

  .inline-task-input:-webkit-autofill,
  .inline-task-input:-webkit-autofill:hover,
  .inline-task-input:-webkit-autofill:focus,
  .inline-task-input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
  }

  .new-task-button span,
  .new-task-button .mat-icon {
    color: var(--mat-sys-primary-container);
  }

  .new-task-button:hover {
    background-color: rgba(var(--mat-sys-primary-container), .1);
  }

  .task-card {
    background-color: var(--card);
  }

  .inline-task-form .mat-icon {
    color: rgba(var(--foreground-rgb), .1);
  }
}
