<div
  class="task-inline-container"
  [class.edit-mode]="isEditActive()"
  #taskInlineContainer
  >
  @if (!isEditActive()) {
    <button
      mat-button
      disableRipple="true"
      class="new-task-button"
      (click)="addTaskClicked()"
      >
      <mat-icon>add</mat-icon>
      <span> Add Task </span>
    </button>
  } @else {
    <div class="inline-task-form" #taskInlineForm>
      <mat-icon>drag_indicator</mat-icon>
      <mat-checkbox color="primary" disabled />
      <form class="task-form" (submit)="onSubmit($event)">
        <input
          #input
          matInput
          [field]="taskFrom.name"
          class="inline-task-input"
          placeholder="What do you need to get done?"
          />
      </form>
    </div>
  }
</div>
