<header class="page-header">

  <div class="sidenav-toggle" *ngIf="showSideNavToggle$ | async">
    <button mat-icon-button color="accent" aria-label="Open Menu" (click)="onOpenMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="header-top-row">
    <div class="header-top-row-left">
      <h1 class="page-header-title">
        {{ title }}
      </h1>

      <div class="header-tool-bar">
        <ng-content></ng-content>
      </div>
    </div>

    <div class="header-actions">
      <div
        matRipple
        class="header-primary-action"
        (click)="actionClick.emit()"
        *ngIf="actionTitle"
      >
        {{ actionTitle }}
      </div>
    </div>
  </div>
</header>
