.page-header {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  .header-top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 82px;

    .header-top-row-left {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .page-header-title {
      font-weight: 400;
      font-size: 2rem;
    }

    .header-actions {
      .header-primary-action {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: .125px;
        padding: .6rem 1.4rem;
        border-radius: 6rem;
        cursor: pointer;
        transition: background-color .2s ease-in-out;
      }
    }
  }

}
