<div class="page-body">
  <div id="left" class="column-fs" [ngClass]="transitionService.sidebarStateClass" *ngIf="authServives.userLoggedIn && workspaceService.currentWorkspace">
    <div class="bottom">
      <app-side-bar class="sidebar"></app-side-bar>
    </div>
  </div>
  <div id="right" class="column-fs">
    <div class="bottom">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ngb-alert *ngIf="alertService.successMessage" type="success" (close)="alertService.successMessage = null">{{ alertService.successMessage }}</ngb-alert>
<ngb-alert *ngIf="alertService.errorMessage" type="danger" (close)="alertService.errorMessage = null">{{ alertService.errorMessage }}</ngb-alert>