.tag-item-list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  letter-spacing: .1px;
  line-height: 20px;

  .tag-item {
    cursor: pointer;
    width: 100%;
    max-width: calc(300px - .4rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .3rem 0;
    border-radius: 4px;
    padding: calc(.4rem + 2px) calc(.6rem + 2px);
    transition: background-color .24s ease-in-out;

    .tag-item-label {
      width: 100%;
    }
  }

  .add-tag-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .add-tag-item-label {
      display: block;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.tag-item-list {
  --item-background: rgba(var(--foreground-rgb), .06);
  --item-background-hover: rgba(var(--foreground-rgb), .1);

  .tag-item {
    color: var(--foreground);
    background-color: var(--item-background);

    .tag-item-delete {
      font-size: 20px;
      line-height: 20px;
      height: 20px;
      width: 20px;
      display: none;

      .mat-icon {
        font-size: 20px;
        line-height: 20px;
        height: 20px;
        width: 20px;
      }
    }

    &:hover:not(.edit-tag-item) {
      background-color: var(--item-background-hover);

      .tag-item-delete {
        display: block;
      }
    }
  }

  .add-tag-item {
    background-color: transparent;
    border-width: 1px;
    border: 1px solid var(--item-background);
    color: var(--foreground);

    &:hover:not(.edit-tag-item) {
      border-width: 2px;
      background-color: transparent;
      border: 2px solid rgba(var(--foreground-rgb), 1);
    }
  }

  .edit-tag-item {
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--foreground);
  }
}
