<h3 class="section-heading">Tags</h3>

<div class="tag-item-list">
  @for (tag of tags(); track tag.id; let i = $index) {
    @if (editTagIndex() === i) {
      <app-tags-input
        [value]="tag.name"
        (submitted)="onEditTagSubmit($event, tag)"
        (canceled)="onEditCanceled()"
        >
      </app-tags-input>
    } @else {
      <div role="button" [tabindex]="i" class="tag-item" (click)="onItemClicked(i)">
        <div class="tag-item-label"> {{ tag.name }} </div>
        <div
          role="button"
          aria-disabled="true"
          class="tag-item-delete"
          matTooltip="Delete Tag"
          (click)="$event.stopPropagation(); onDeleteClicked(tag)"
          >
          <mat-icon> close </mat-icon>
        </div>
      </div>
    }
  }

  <div class="tag-item-list-add" #tagsinput>
    @if (addTagActive()) {
    <app-tags-input

      (submitted)="onAddTagSubmit($event)"
      (canceled)="onAddCanceled()"
      >
    </app-tags-input>
  } @else {
    <div role="button"
         aria-disabled="true"
         class="tag-item add-tag-item"
         (click)="onAddTagClicked()">
      <span class="add-tag-item-label"> Create Tag </span>
    </div>
  }
  </div>

</div>
