<div class="auth-page-container">
  <form [formGroup]="formGroup" (ngSubmit)="resetPassword()">
    <div class="auth-progress-bar">
      <mat-progress-bar mode="indeterminate" *ngIf="authLoading$ | async" />
    </div>

    <h3 class="auth-title">Reset your password</h3>

    <app-form-input
      formControlName="password0"
      label="New Password"
      maxLength="1024"
      id="new-password"
      name="new-password"
      type="password"
      autocomplete="new-password"
    >
    </app-form-input>

    <app-form-input
      formControlName="password1"
      label="Confirm New Password"
      maxLength="1024"
      id="confirm-new-password"
      name="confirm-new-password"
      type="password"
      autocomplete="new-password"
    >
      <app-form-error *ngIf="password1?.hasError('noMatch')">
        Passwords do not macth!
      </app-form-error>
    </app-form-input>

    <div class="button-container">
      <a
        mat-button
        color="primary"
        type="button"
        class="form-action-button"
        [routerLink]="['/auth/login']"
      >
        Back to Log in
      </a>

      <button
        mat-stroked-button
        color="primary"
        type="submit"
        class="form-action-button"
      >
        Reset Password
      </button>
    </div>
  </form>
</div>
