<div class="auth-page-container">
  <form (submit)="resetPassword($event)">
    <div class="auth-progress-bar">
      @if (loading()) {
      <mat-progress-bar mode="indeterminate" />
      }
    </div>

    <h3 class="auth-title">Reset your password</h3>

    <app-form-input
      [field]="resetForm.password0"
      label="New Password"
      maxLength="1024"
      id="new-password"
      type="password"
      autocomplete="new-password"
    >
    </app-form-input>

    <app-form-input
      [field]="resetForm.password1"
      label="Confirm New Password"
      maxLength="1024"
      id="confirm-new-password"
      type="password"
      autocomplete="new-password"
    >
      <app-form-errors [field]="resetForm.password1" />
    </app-form-input>

    <div class="button-container">
      <a
        mat-button
        color="primary"
        type="button"
        class="form-action-button"
        [routerLink]="['/auth/login']"
      >
        Back to Log in
      </a>

      <button
        mat-stroked-button
        color="primary"
        type="submit"
        class="form-action-button"
      >
        Reset Password
      </button>
    </div>
  </form>
</div>
