@use '@angular/material' as mat;

$light-primary: mat.define-palette(mat.$deep-purple-palette);
$light-accent:  mat.define-palette(mat.$deep-purple-palette, 900);
$light-warn:    mat.define-palette(mat.$red-palette, A200, A100, A400);

::selection {
  background: mat.get-color-from-palette($light-primary);
}

$default-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
   warn: $light-warn,
   is-dark: false,
   foreground: mat.$light-theme-foreground-palette,
   background: mat.$light-theme-background-palette,
   board-group: #f8f8f8,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));
