.activity-menu {
  @extend .custom-scroll;

  min-width: 360px;
  margin: .4rem 0;
}

.activity-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .4rem 1.2rem;
  min-width: 320px;
  font-size: 14px;

  app-avatar {
    flex: 0 0 32px;
  }

  .user {
    font-weight: 500;
    letter-spacing: .225px;
  }

  .label {
    margin-left: .3rem;
  }
}

.no-activity-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .4rem .8rem;
  min-width: 320px;
  font-size: 14px;
}
