@use 'scroll';

.activity-menu {
  @extend .custom-scroll;

  min-width: 400px !important;
  max-width: 480px !important;
  margin: .4rem 0;
}

.activity-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .6rem 1.2rem;
  min-width: 320px;
  font-size: 14px;

  app-avatar {
    flex: 0 0 32px;
  }

  .user {
    font-weight: 500;
    letter-spacing: .225px;
    white-space: nowrap;
  }

  .label {
    margin-left: .3rem;
    white-space: nowrap;
  }
}

.no-activity-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .4rem .8rem;
  min-width: 320px;
  font-size: 14px;
}
