@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin cards-theme($theme) {
  $is-dark-theme: map.get($theme, is-dark);

  .netp-card {
    color: var(--foreground);
    background-color: var(--card);
    box-shadow: 1px 2px 4px if($is-dark-theme, rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));
  }

  .netp-card-group {
    background-color: var(--board-group);
  }

  .netp-card-title {
    color: var(--foreground);
  }

  .netp-card-subtitle {
    color: rgba(var(--foreground-rgb), .54);
    background-color: rgba(var(--foreground-rgb), .06);
  }

  .netp-card {
    background-color: var(--card) !important;
    box-shadow: 1px 2px 4px if($is-dark-theme, 1px 6px -1px rgb(0 0 0 / 42%), rgba(0, 0, 0, .1)) !important;
    transition: background-color .2s ease-in, color .2s ease-in;
  }

  .netp-card:not([class*='selected']):hover {
    background-color: var(--hover) !important;
  }

  .netp-card.flagged {
    background-color: var(--card-warn) !important;
  }

  .netp-card.flagged:hover {
    background-color: var(--card-warn-hover) !important;
  }


  .netp-card.selected {
    background-color: var(--card-selected) !important;
  }
}
