@use '@angular/material' as mat;

@mixin cards-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $is-dark-theme: map-get($theme, is-dark);

  .netp-card-group {
    background-color: darken(mat.get-color-from-palette($background, board-group), 1);
  }

  .netp-card {
    background-color: mat.get-color-from-palette($background, card);
    box-shadow: 1px 2px 4px if($is-dark-theme, rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));
  }

  .netp-card-title {
    color: mat.get-color-from-palette($foreground, text);
  }

  .netp-card-subtitle {
    color: mat.get-color-from-palette($foreground, text, .54);
    background-color: mat.get-color-from-palette($foreground, text, .06);
  }
}
