.netp-card-group {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 .6rem .6rem;
  border-radius: 3px;
  margin-bottom: 2.4rem;

  & > * {
    margin-top: .6rem;
    min-width: 320px;
  }

  & > *:not(:last-child) {
    display: block;
    margin-right: .8rem;
  }
}

.netp-card {
  display: block;
  padding: 1.6rem;
  border-radius: 3px;
}

.netp-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.netp-card-header-image {
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4rem;
  border-radius: 3px;
  color: #fff;
  opacity: .6;
}

.netp-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Overpass', sans-serif;
}

.netp-card-subtitle {
  display: block;
  border-radius: 4px;
  padding: .2rem .4rem;
  height: 1rem;
  font-size: 14px;
  margin-right: .6rem;
  margin-top: auto;
}

.netp-card-content {
  display: block;
  margin-bottom: 16px;

  pre {
    font-family: inherit;
    white-space: pre-wrap;
    max-width: 800px;
    font-size: 1rem;
  }

  small {
    font-size: 12px;
  }
}

.netp-card-actions {
  display: block;
}

.netp-card {
  color: var(--foreground);
  background-color: var(--card);
  box-shadow: 1px 2px 4px var(--card-shadow);
}

.netp-card-group {
  background-color: var(--board-group);
}

.netp-card-title {
  color: var(--foreground);
}

.netp-card-subtitle {
  color: rgba(var(--foreground-rgb), .54);
  background-color: rgba(var(--foreground-rgb), .06);
}

.netp-card {
  background-color: var(--card) !important;
  transition: background-color .2s ease-in, color .2s ease-in;
}

.netp-card:not([class*='selected']):hover {
  background-color: var(--hover) !important;
}

.netp-card.flagged {
  background-color: var(--card-warn) !important;
}

.netp-card.flagged:hover {
  background-color: var(--card-warn-hover) !important;
}


.netp-card.selected {
  background-color: var(--card-selected) !important;
}
