.nept-form-control {
  width: inherit;
  margin-bottom: 1.4rem;

  .form-control-prefix {
    padding-left: .8rem;
  }

  .form-control-input {
    border: 2px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color .24s ease-out, border-color .14s ease-out;
    width: inherit;
    max-width: inherit;
    background-color: var(--seconday-background);
  }

  .form-control-content {
    margin-top: .4rem;
  }

  label:not(.form-toggle) {
    display: block;
    margin-bottom: .4rem;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .125px;
    width: inherit;
    max-width: inherit;
  }

  small {
    display: block;
    margin: .4rem .2rem;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .125px;
    width: inherit;
    max-width: inherit;
  }

  input,
  textarea,
  select,
  .input-template,
  mat-autocomplete {
    appearance: none;
    border: 0;
    background-color: transparent;
    color: inherit;
    outline: none;
    line-height: 2.5rem !important;
    font-size: inherit !important;
    font-weight: inherit;
    font-family: inherit;
    width: 100%;

    &::placeholder {
      opacity: .6;
    }
  }

  .mat-icon {
    padding: 0 .8rem;
  }

  textarea {
    line-height: 1.5rem;
  }
}

.form-error {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .0125px;
}

.form-control-label {
  color: rgba(var(--foreground-rgb), .6);
}

.form-control-prefix {
  opacity: .6;
}

.form-control-input {
  background-color: transparent;
  border-color: rgba(var(--foreground-rgb), .3) !important;

  &:focus-within,
  &.active {
    border-color: var(--primary) !important;
  }

  &.invalid {
    border-color: var(--warn) !important;
  }

  mat-icon {
    color: rgba(var(--foreground-rgb), .1) !important;
  }
}

.form-control-disabled {
  color: rgba(var(--foreground-rgb), .4) !important;
  background-color: rgba(var(--foreground-rgb), .02) !important;
}

.form-error {
  color: var(--warn);
}
