@use '@angular/material' as mat;

@mixin form-select-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $hover-light: mat.m2-get-color-from-palette($foreground, text, .06);
  $background: mat.m2-get-color-from-palette(map-get($theme, background), background);

  $is-dark-theme: map-get($theme, is-dark);

  $dropdown-background: lighten($background, 6);
  $hover: if($is-dark-theme, lighten($background, 12), $hover-light);
  $selected: mat.m2-get-color-from-palette($primary, .2);
  $selected-hover: lighten(mat.m2-get-color-from-palette($primary, .3), 6);
  $disabled-foreground: mat.m2-get-color-from-palette($foreground, .5);

  .form-select-dropdown {
    background-color: $dropdown-background !important;
  }

  .netp-form-select > .arrow {
      color: mat.m2-get-color-from-palette($foreground, text, .6) !important;
  }

  .nept-form-select-option {
    &.active {
      background-color: $selected;

      &:hover {
        background-color: $selected-hover;
      }
    }

    &:hover {
      outline: none;
      background-color: $hover;
    }

    &.disabled {
      color: $disabled-foreground;
      cursor: auto;
    }
  }
}
