.form-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.form-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border);
  -webkit-transition: .4s;
  transition: .4s;
}

.form-toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .form-toggle-slider {
  background-color: var(--primary);
}

input:focus + .form-toggle-slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .form-toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.form-toggle-slider.round {
  border-radius: 34px;
}

.form-toggle-slider.round:before {
  border-radius: 50%;
}
