@use '@angular/material' as mat;

@mixin form-control-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);

  .form-control-label {
    color: mat.get-color-from-palette($foreground, text, .6);
  }

  .form-control-prefix {
    opacity: .6;
  }

  .form-control-input {
    background-color: transparent;
    border-color: if($is-dark-theme, mat.get-color-from-palette($foreground, text, .3), mat.get-color-from-palette($foreground, text, .1)) !important;

    &:focus-within,
    &.active {
      border-color: mat.get-color-from-palette($primary) !important;
    }

    &.invalid {
      border-color: mat.get-color-from-palette($warn) !important;
    }

    mat-icon {
      color: mat.get-color-from-palette($foreground, text, .1) !important;
    }
  }

  .form-control-disabled {
    color: mat.get-color-from-palette($foreground, text, .4) !important;
    background-color: mat.get-color-from-palette($foreground, text, .02) !important;
  }

  .form-error {
    color: mat.get-color-from-palette($warn);
  }
}
