@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;

@mixin form-control-theme($theme) {
  $is-dark-theme: map.get($theme, is-dark);

  .form-control-label {
    color: rgba(var(--forgeground), .6);
  }

  .form-control-prefix {
    opacity: .6;
  }

  .form-control-input {
    background-color: transparent;
    border-color: rgba(var(--forgeground), .3) !important;

    &:focus-within,
    &.active {
      border-color: var(--mat-primary) !important;
    }

    &.invalid {
      border-color: var(--mat-warn) !important;
    }

    mat-icon {
      color: rgba(var(--forgeground), .1) !important;
    }
  }

  .form-control-disabled {
    color: rgba(var(--forgeground), .4) !important;
    background-color: rgba(var(--forgeground), .02) !important;
  }

  .form-error {
    color: var(--mat-warn);
  }
}
