.board-groups-selection {
  padding: 0 .8rem;
  border-radius: .3rem;
  display: flex;
  align-items: center;
  margin-left: .4rem;
}

span {
  margin-left: .4rem;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .125px;
  opacity: .6;
  line-height: 36px;

  b {
    font-weight: 700;
  }
}

.row {
  display: flex;
  align-items: center;
}
