<app-auth-page-container>
  <form (submit)="login($event)" class="bg-background z-1 p-8 w-md rounded shadow-lg border border-border flex flex-col gap-4">
    <div class="auth-progress-bar">
      @if (loading()) {
        <app-progress-bar mode="indeterminate" />
      }
    </div>

    <img
      src="assets/apple-touch-icon.png"
      alt="Netptune Logo"
      width="72"
      height="72"
      class="my-2 mx-auto"
      />

    <h3 class="tracking-normal w-full text-center font-normal">Sign in to continue</h3>

    <div class="h-4 mb-6 w-full flex flex-col justify-center items-center">
      @if (showLoginError()) {
        <div class="rounded-[0.4rem] w-full p-[0.4rem] text-sm font-medium tracking-[0.25px] text-center bg-[rgba(var(--warn-rgb),0.06)] text-warn">
          Username or Password was incorrect
        </div>
      }
    </div>

    <app-form-input
      [formField]="loginForm.email"
      label="Email"
      maxLength="1024"
      id="email"
      type="email"
      autocomplete="username"
      >
    </app-form-input>

    <app-form-input
      [formField]="loginForm.password"
      label="Password"
      maxLength="1024"
      id="password"
      autocomplete="current-password"
      type="password"
      >
    </app-form-input>

    <div class="flex items-center justify-between">
      <a
        app-button-link
        color="primary"
        type="button"
        [routerLink]="['/auth/register']"
        >
        Create Account
      </a>

      <button app-stroked-button color="primary" type="submit" class="min-w-32">Sign in</button>
    </div>

    <div class="button-container mt-[1.4rem]">
      <a
        app-button-link
        color="primary"
        [routerLink]="['/auth/request-password-reset']"
        >
        Forgot Password?
      </a>
    </div>

    <div class="border-t border-border my-2"></div>

    <app-login-github />
  </form>
</app-auth-page-container>
