@import '~@angular/material/theming';

@mixin project-tasks-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .task-drag {
    background-color: mat-color($background);
    border-bottom: 1px solid mat-color($background, disabled-button);
  }

  .empty-list-img,
  .list-empty-mark {
    color: mat-color($foreground, empty-list);

    .empty-text {
      color: mat-color($foreground, disabled-button);
    }
  }
}
