<h1 mat-dialog-title>Add Group</h1>

<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>
      Create Group
    </mat-label>
    <input
      matInput
      [formControl]="groupFormControl"
      (keydown.enter)="onSubmit()"
    >
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Close</button>
  <div class="mr-2"></div>
  <button mat-flat-button color="primary" (click)="onSubmit()" type="button">
    Add Group
  </button>
</div>
