<div class="nept-form-control">
  @if (label) {
  <label [for]="ngControl?.name" class="form-control-label">
    {{ label }}
  </label>
  }

  <div
    class="form-control-input"
    [class.invalid]="control?.touched && control?.invalid"
    [class.active]="control?.value && control?.pending"
  >
    @if (prefix) {
    <div class="form-control-prefix">{{ prefix }}</div>
    }

    <input
      #input
      [id]="ngControl?.name"
      [value]="value"
      [disabled]="disabled"
      [class.form-control-disabled]="disabled"
      [attr.type]="type"
      [attr.autocomplete]="autocomplete"
      [attr.placeholder]="placeholder"
      [attr.maxLength]="maxLength"
      [attr.minLength]="minLength"
      [style.padding]="prefix ? '0 .8rem 0 0' : '0 .8rem'"
      (input)="onInputchange($event)"
      (blur)="onTouch()"
    />

    @if (icon) {
    <mat-icon aria-hidden="true" class="material-icons-outlined">
      {{ icon }}
    </mat-icon>
    }
  </div>

  @if (hint) {
  <small class="form-control-hint"> {{ hint }} </small>
  }

  <div class="form-control-content">
    <ng-content />
  </div>
</div>
