<div class="nept-form-control">
  @if (label()) {
  <label [for]="name()" class="form-control-label">
    {{ label() }}
  </label>
  }

  <div
    class="form-control-input"
    [class.invalid]="touched() && invalid()"
    [class.active]="pending()"
  >
    @if (prefix()) {
    <div class="form-control-prefix">{{ prefix() }}</div>
    }

    <input
      #input
      [id]="name()"
      [value]="value()"
      [disabled]="disabled()"
      [class.form-control-disabled]="disabled()"
      [attr.type]="type()"
      [attr.autocomplete]="autocomplete()"
      [attr.placeholder]="placeholder()"
      [style.padding]="prefix() ? '0 .8rem 0 0' : '0 .8rem'"
      (input)="onInputchange($event)"
      (blur)="touched.set(true)"
    />

    @if (icon()) {
    <mat-icon aria-hidden="true" class="material-icons-outlined">
      {{ icon() }}
    </mat-icon>
    }
  </div>

  @if (hint()) {
    <small class="form-control-hint"> {{ hint() }} </small>
  }

  @if (errors()) {
    @for (error of errors(); track error.kind) {
      <app-form-error>
        {{ error.message }}
      </app-form-error>
    }
  }

  <div class="form-control-content">
    <ng-content />
  </div>
</div>
