<div *ngIf="project$ | async as project">

  <form [formGroup]="formGroup">
    <app-form-input
      name="name"
      formControlName="name"
      label="Name"
    >
    </app-form-input>

    <app-form-input
      name="description"
      formControlName="description"
      label="Description"
    >
    </app-form-input>

    <div class="form-seperator"></div>

    <app-form-input
      name="key"
      formControlName="key"
      label="Project ID"
      class="project-key-input"
    >
    </app-form-input>

    <app-form-input
      name="repositoryUrl"
      formControlName="repositoryUrl"
      label="Repository URL"
    >
    </app-form-input>

    <button
      class="form-submit-btn"
      mat-stroked-button
      (click)="updateClicked()"
      [disabled]="updateDisabled$ | async"
    >
      Update Profile
    </button>

  </form>

</div>
