h1 {
    font-weight: lighter;
}

.form-register {
    height: 100%;
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    padding: 1rem;
}

.form-register .checkbox {
    font-weight: 400;
}

.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-register .form-control:focus {
    z-index: 2;
}

.form-register input[id="inputUsername"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-register input[id="inputEmail"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-register input[id="inputPassword0"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-register input[id="inputPassword1"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-group {
    margin-bottom: 0rem;
}

.progress-bar {
  height: 1rem;
}
