<div class="container main">
  <div class="container-max">

    <div class="component-header bottom-border">
      <h4>{{authService.userName}}</h4>
      <button mat-button type="button" class="new-button float-right" (click)='showLogOutModal()'>
        <i class="fas fa-plus"></i>
        Log Out
      </button>
    </div>


      <form [formGroup]="profileFromGroup">

        <h4>Details</h4>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput id="firstName" class="form-control" formControlName="firstNameFormControl"
            name="firstName">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput id="lastName" class="form-control" formControlName="lastNameFormControl"
            name="lastName">
        </mat-form-field>

        <div class="form-spacer"></div>

        <h4>Account</h4>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Usernmae</mat-label>
          <input matInput id="userName" class="form-control" formControlName="userNameFormControl"
            name="userName" required>
          <mat-hint>Required</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput id="email" class="form-control" formControlName="emailFormControl"
            name="email" required>
          <mat-hint>Required</mat-hint>
        </mat-form-field>

        <div class="form-spacer"></div>

        <div class="form-actions">
            <button mat-button (click)='saveChangesClicked()' [disabled]='profileFromGroup.pristine'>Save Changes</button>
        </div>
        

      </form>


  </div>
</div>