<app-page-container>

  <app-page-header title="Settings"></app-page-header>

  <ng-container *ngIf="settings$ | async as settings">

    <mat-form-field appearance="outline">
      <mat-label>Theme</mat-label>
      <mat-select
        placeholder="Select Theme"
        (selectionChange)="onThemeSelect($event)"
        [ngModel]="settings.theme"
      >
        <mat-option *ngFor="let theme of themes" [value]="theme.value">
          {{ theme.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </ng-container>

</app-page-container>
