@use 'styles/variables';

@use '@angular/material' as mat;

// Themes
@use 'themes/light-theme';
@use 'themes/dark-theme';

// Styles reset
@use 'styles/reset';

@use 'styles/typography';
@use 'styles/material';
@use 'styles/utility';
@use 'styles/components';
@use 'styles/lists';
@use 'styles/forms';
@use 'styles/colors';
@use 'styles/boards';
@use 'styles/spinners';
@use 'styles/containers';
@use 'styles/modals';
@use 'styles/dialogs';
@use 'styles/animations/menu';
@use 'styles/controls/editor';
@use 'styles/controls/form-control';
@use 'styles/controls/form-select';
@use 'styles/controls/form-autocomplete-chips.scss';
@use 'styles/controls/activity-menu.scss';
@use 'styles/controls/cards';

:root {
  --border-radius: 8px;
  --border-radius-small: 3px;
}

.light-theme {
  --background-rgb: 255, 255, 255;
  --background: rgba(var(--background-rgb));
  --foreground-rgb: 0, 0, 0;
  --foreground: rgba(var(--foreground-rgb), 0.87);
  --seconday-background: rgba(255, 255, 255, 1);
  --dialog-background: rgba(255, 255, 255);

  --scrollbar-foreground: rgba(0, 0, 0, .2);

  --primary-rgb: 179, 157, 219;
  --primary: rgba(var(--primary-rgb));
  --primary-selected: rgba(var(--primary-rgb), 0.6);
  --primary-selected-hover: rgba(var(--primary-rgb), 0.8);

  --warn-rgb: 182, 0, 0;
  --warn: rgba(var(--warn-rgb));

  --side-bar-rgb: 41, 36, 46;
  --side-bar: rgba(var(--side-bar-rgb));
  --side-bar-border: rgba(140, 140, 140, 1);

  --side-bar-active-rgb: 52, 50, 61;
  --side-bar-active: rgba(var(--side-bar-active-rgb));
  --side-bar-active-foreground: rgba(255, 255, 255, 1);

  --board-group-rgb: 248, 248, 248;
  --board-group: rgba(var(--board-group-rgb));

  --border: rgb(226, 226, 226);
  --status-bar: #fff;
  --app-bar: #fff;
  --hover: rgba(0, 0, 0, .06);

  --toolbar-btn-background: rgba(var(--board-group-rgb), .8);
  --toolbar-btn-background-hover: rgba(var(--board-group-rgb), .8);

  --card: #fff;
  --card-warn: #ffe5e5;
  --card-warn-hover: #fad0d0;
  --card-selected: #f0ebf8;
  --card-shadow: rgba(0, 0, 0, .1);

  --dialog: #fff;

  --editor-code-color: #6e0099;
  --editor-code-background: #fbfbfb;
  --editor-link-border: #c9c9cc7a;
  --editor-link-background-color: #fff;

  color-scheme: light;

  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-bases(light-theme.$theme);
  @include mat.all-component-colors(light-theme.$theme);
  @include mat.all-component-typographies(typography.$netptune);
}

.dark-theme {
  --background-rgb: 0, 0, 0;
  --background: rgba(var(--background-rgb));
  --foreground-rgb: 255, 255, 255;
  --foreground: rgba(var(--foreground-rgb));
  --seconday-background: rgba(11, 11, 11, 1);
  --dialog-background: rgba(10, 10, 10, 1);

  --scrollbar-foreground: rgba(255, 255, 255, .2);

  --primary-rgb: 179, 157, 219;
  --primary: rgba(var(--primary-rgb));
  --primary-selected: rgba(var(--primary-rgb), 0.6);
  --primary-selected-hover: rgba(var(--primary-rgb), 0.8);

  --warn-rgb: 255, 82, 82;
  --warn: rgba(var(--warn-rgb));

  --side-bar-rgb: 12, 12, 12;
  --side-bar: rgba(var(--side-bar-rgb));
  --side-bar-border: rgba(56, 56, 56, 1);

  --side-bar-active-rgb: 34, 34, 34;
  --side-bar-active: rgba(var(--side-bar-active-rgb));
  --side-bar-active-foreground: rgba(255, 255, 255, 1);

  --board-group-rgb: 10 10 10;
  --board-group: rgba(var(--board-group-rgb));

  --border: rgba(41, 41, 41, 1);
  --status-bar: #000;
  --app-bar: #272727;
  --hover: rgba(255, 255, 255, .06);

  --card: rgb(26, 26, 26);
  --card-warn: #472d2d;
  --card-warn-hover: #694040;
  --card-selected: #3f3454;
  --card-shadow: rgba(0, 0, 0, .2);

  --editor-code-color: #cfbed5;
  --editor-code-background: #262626;
  --editor-link-border: #3e3e3e;
  --editor-link-background-color: #2f2f2f;

  --toolbar-btn-background: rgba(var(--board-group-rgb), .8);

  color-scheme: dark;

  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-bases(dark-theme.$theme);
  @include mat.all-component-colors(dark-theme.$theme);
  @include mat.all-component-typographies(typography.$netptune);
}
