$side-bar: null !default;
$board-group: null !default;
$border: null !default;
$status-bar: null !default;
$app-bar: null !default;
$background: null !default;
$hover: null !default;
$card: null !default;
$dialog: null !default;

$primary: null !default;
$accent: null !default;
$warn: null !default;
$foreground: null !default;

@use '@angular/material' as mat;

// Themed Component styles
@import './component.styles';

// Themes
@import './themes/default-theme';
@import './themes/dark-theme';

// Styles reset
@import './styles/reset';

@import './styles/material';
@import './styles/utility';
@import './styles/components';
@import './styles/controls/form-control';
@import './styles/controls/form-select';
@import './styles/controls/cards';
@import './styles/lists';
@import './styles/forms';
@import './styles/spinners';
@import './styles/typography';
@import './styles/containers';
@import './styles/modals';
@import './styles/editor';
@import './styles/dialogs';
@import './styles/animations/menu';

.default-theme {
  $side-bar: #29242e !global;
  $board-group: #f8f8f8 !global;
  $border: rgba(0, 0, 0, .08) !global;
  $status-bar: #fff !global;
  $app-bar: #fff !global;
  $background: #fff !global;
  $hover: rgba(#000, .02) !global;
  $card: #fff !global;
  $dialog: #fff !global;

  $primary: map-get($default-theme, primary) !global;
  $accent: map-get($default-theme, accent) !global;
  $warn: map-get($default-theme, warn) !global;
  $foreground: map-get($default-theme, foreground) !global;

  @include mat.core();
  @include mat.all-component-bases($default-theme);
  @include mat.all-component-colors($default-theme);
  @include mat.all-component-typographies($netptune-typography);
  @include custom-components-theme($default-theme);

  color-scheme: light;
  color: rgba(0, 0, 0, .8);
  background-color: #fff;
}

.dark-theme {
  $side-bar: #1c1b21 !global;
  $board-group: #3a3a3a !global;
  $border: rgba(255, 255, 255, .12) !global;
  $status-bar: #000 !global;
  $background: #272727 !global;
  $app-bar: #272727 !global;
  $card: #303030 !global;
  $hover: rgba(#fff, .04) !global;

  $primary: map-get($dark-theme, primary) !global;
  $accent: map-get($dark-theme, accent) !global;
  $warn: map-get($dark-theme, warn) !global;
  $foreground: map-get($dark-theme, foreground) !global;

  @include mat.core();
  @include mat.all-component-bases($dark-theme);
  @include mat.all-component-colors($dark-theme);
  @include mat.all-component-typographies($netptune-typography);
  @include custom-components-theme($dark-theme);

  color-scheme: dark;
  color: rgba(255, 255, 255, .8);
  background-color: #272727;

  .mat-mdc-dialog-container .mdc-dialog__surface {
    --mdc-dialog-container-color: #2c2c2c;
  }

  .mat-mdc-menu-panel {
    --mat-menu-container-color: #313131;
  }

  .mat-mdc-tooltip {
    --mdc-plain-tooltip-container-color: #1d1d1d;
  }

  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    --mdc-chip-elevated-container-color: #333333;
  }
}

:root {
 --background: #fff;
}

.dark-theme {
  --background: #272727;
}

