@use "sass:map";

@use './styles/variables';

@use '@angular/material' as mat;

// Themed Component styles
@use './component-styles';

// Themes
@use './themes/default-theme';
@use './themes/dark-theme';

// Styles reset
@use './styles/reset';

@use './styles/typography';
@use './styles/material';
@use './styles/utility';
@use './styles/components';
@use './styles/controls/form-control';
@use './styles/controls/form-select';
@use './styles/controls/cards';
@use './styles/lists';
@use './styles/forms';
@use './styles/spinners';
@use './styles/containers';
@use './styles/modals';
@use './styles/editor';
@use './styles/dialogs';
@use './styles/animations/menu';

.default-theme {
  --background: #fff;
  --foreground-rgb: 0, 0, 0;

  --side-bar: #29242e;
  --side-bar-lighter: #362f3c;
  --board-group: #f8f8f8;
  --border: rgba(0, 0, 0, .08);
  --status-bar: #fff;
  --app-bar: #fff;
  --background: #fff;
  --hover: rgba(#000, .02);

  --card: #fff;
  --card-warn: #ffe5e5;
  --card-warn-hover: #fad0d0;
  --card-selected: #f0ebf8;

  --dialog: #fff;

  $primary: map.get(default-theme.$theme, primary) !global;
  $accent: map.get(default-theme.$theme, accent) !global;
  $warn: map.get(default-theme.$theme, warn) !global;
  $foreground: map.get(default-theme.$theme, foreground) !global;

  color-scheme: light;

  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-bases(default-theme.$theme);
  @include mat.all-component-colors(default-theme.$theme);
  @include mat.all-component-typographies(typography.$netptune);
  @include component-styles.custom-components-theme(default-theme.$theme);

}

.dark-theme {
  --background: #272727;
  --foreground-rgb: 255, 255, 255;

  --side-bar: #1c1b21;
  --board-group: #3a3a3a;
  --border: rgba(255, 255, 255, .12);
  --status-bar: #000;
  --background: #272727;
  --app-bar: #272727;

  --card: #303030;
  --card-warn: #472d2d;
  --card-warn-hover: #694040;
  --card-selected: #3f3454;
  --hover: rgba(#fff, .04);

  --primary: map.get(dark-theme.$theme, primary);
  $accent: map.get(dark-theme.$theme, accent);
  $warn: map.get(dark-theme.$theme, warn);
  $foreground: map.get(dark-theme.$theme, foreground);

  color-scheme: dark;

  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-bases(dark-theme.$theme);
  @include mat.all-component-colors(dark-theme.$theme);
  @include mat.all-component-typographies(typography.$netptune);
  @include component-styles.custom-components-theme(dark-theme.$theme);

  .mat-mdc-dialog-container .mdc-dialog__surface {
    --mdc-dialog-container-color: #2c2c2c;
  }

  .mat-mdc-menu-panel {
    --mat-menu-container-color: #313131;
  }

  .mat-mdc-tooltip {
    --mdc-plain-tooltip-container-color: #1d1d1d;
  }

  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    --mdc-chip-elevated-container-color: #333333;
  }
}

:root {
  --background: #fff;
  --foreground: rgba(var(--foreground-rgb), .8);

  background: var(--background);
  color: var(--foreground);
}

.dark-theme {
  --background: #272727;
}

