// Styles reset
@import './styles/reset';

@import './styles/material';
@import './styles/utility';
@import './styles/components';
@import './styles/lists';
@import './styles/forms';
@import './styles/spinners';
@import './styles/typography';
@import './styles/containers';
@import './styles/modals';
@import './styles/editor';

// Angular Material Theming core
@import '~@angular/material/theming';

@include mat-core($netptune-typography);

// Themes
@import './themes/default-theme';
@import './themes/dark-theme';

// Component Themes
@import './styles/reset.scss-theme';
@import './styles/spinners.scss-theme';
@import './styles/components.scss-theme';
@import './styles/containers.scss-theme';
@import './styles/lists.scss-theme';
@import './styles/colors.scss-theme';
@import './styles/boards.scss-theme';

@import './app/app.component.scss-theme';

@import './app/static/components/spinner/spinner.component.scss-theme.scss';
@import './app/static/components/avatar/avatar.component.scss-theme.scss';
@import './app/static/components/page-header/page-header.component.scss-theme.scss';
@import './app/static/components/autocomplete-chips/autocomplete-chips.component.scss-theme.scss';
@import './app/static/components/image-cropper/image-cropper.component.scss-theme.scss';
@import './app/static/components/editor/editor.component.scss-theme.scss';
@import './app/static/components/inline-text-area/inline-text-area.component.scss-theme.scss';

@import './app/entry/dialogs/task-detail-dialog/task-detail-dialog.component.scss-theme.scss';
@import './app/entry/dialogs/workspace-dialog/workspace-dialog.component.scss-theme.scss';

@import './app/features/workspaces/components/shell/shell.component.scss-theme';
@import './app/features/workspaces/components/create-workspace-list-item/create-workspace-list-item.component.scss-theme.scss';
@import './app/features/project-tasks/components/task-list-item/task-list-item.component.scss-theme';
@import './app/features/project-tasks/components/task-list-group/task-list-group.component.scss-theme';
@import './app/features/project-tasks/components/task-list/task-list.component.scss-theme.scss';
@import './app/features/project-tasks/components/task-inline/task-inline.component.scss-theme.scss';
@import './app/features/boards/views/board-groups-view/board-groups-view.component.scss-theme.scss';
@import './app/features/boards/components/board-group/board-group.component.scss-theme.scss';
@import './app/features/boards/components/boards-grid/boards-grid.component.scss-theme.scss';
@import './app/features/boards/components/board-group-card/board-group-card.component.scss-theme.scss';
@import './app/features/boards/components/board-groups-selection/board-groups-selection.component.scss-theme.scss';
@import './app/features/boards/components/board-group-tags/board-group-tags.component.scss-theme.scss';
@import './app/features/boards/components/board-group-task-inline/board-group-task-inline.component.scss-theme.scss';
@import './app/features/boards/components/create-board-group/create-board-group.component.scss-theme.scss';
@import './app/features/boards/components/board-group-users/board-group-users.component.scss-theme.scss';
@import './app/features/boards/components/move-tasks-dialog/move-tasks-dialog.component.scss-theme.scss';
@import './app/features/boards/components/reassign-tasks-dialog/reassign-tasks-dialog.component.scss-theme.scss';
@import './app/features/settings/components/tags/tags.component.scss-theme.scss';
@import './app/features/settings/components/tags-input/tags-input.component.scss-theme.scss';

@mixin custom-components-theme($theme) {
  @include reset-theme($theme);
  @include spinners-theme($theme);
  @include components-theme($theme);
  @include containers-theme($theme);
  @include colors-theme($theme);
  @include component-theme($theme);
  @include lists-theme($theme);
  @include shell-theme($theme);
  @include baords-theme($theme);
  @include spinner-theme($theme);
  @include avatar-theme($theme);
  @include editor-theme($theme);
  @include page-header-theme($theme);
  @include autocomplete-chips-theme($theme);
  @include inline-text-area-theme($theme);
  @include image-cropper-theme($theme);
  @include create-workspace-list-item-theme($theme);
  @include task-list-group-theme($theme);
  @include task-list-item-theme($theme);
  @include project-tasks-list-theme($theme);
  @include task-inline-theme($theme);
  @include board-groups-view-theme($theme);
  @include board-group-theme($theme);
  @include board-group-task-inline-theme($theme);
  @include boards-grid-theme($theme);
  @include create-board-group-theme($theme);
  @include board-group-card-theme($theme);
  @include task-detail-dialog-theme($theme);
  @include board-group-users-theme($theme);
  @include workspace-dialog-theme($theme);
  @include board-group-tags-theme($theme);
  @include board-groups-selection-theme($theme);
  @include move-tasks-dialog-theme($theme);
  @include reassign-tasks-dialog-theme($theme);
  @include tags-theme($theme);
  @include tags-input-theme($theme);
}

.default-theme {
  @include angular-material-theme($default-theme);
  @include custom-components-theme($default-theme);

  color: rgba(0, 0, 0, .8);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);

  color: rgba(255, 255, 255, .8);
}
