.group-task-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  font-size: 14px;
  letter-spacing: .1px;
  cursor: pointer;
  margin-bottom: .3rem;
  border: 0 !important;
}

.task-name-text {
  margin-bottom: 0;
  line-height: 1.4rem;
}

.card-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-self: flex-end;
  width: 100%;
  margin-top: .2rem;
  align-items: center;

  .task-scope-id {
    border-radius: 4px;
    padding: .2rem .4rem;
    height: 1rem;
    font-size: 14px;
  }

  .task-card-user-chip {
    justify-self: flex-end;
  }
}
