.group-task-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  font-size: 14px;
  letter-spacing: .1px;
  cursor: pointer;
  margin-bottom: .3rem;
}

.task-name-text {
  margin-bottom: 0;
  line-height: 1.4rem;
}

.task-card-user-chip {
  align-self: flex-end;
}
