@import '~@angular/material/theming';

@mixin board-group-card-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .card-footer {
    .task-scope-id {
      background-color: mat-color($primary, .2);
    }
  }

  .group-task-card.flagged {
    background-color: mat-color($warn, .14) !important;
  }
}
