.inline-text-area {
  width: 100%;
  padding-bottom: .4rem;
  display: flex;

  .inline-text-area-label {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: inherit;
    white-space: inherit;
    line-height: 1.5;
    padding: 12px;
    border-radius: 4px;
    transition: background-color .2s ease-in-out;
    width: inherit;
  }

  .inline-text-area-input {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    padding: 12px;
    color: inherit;
    line-height: 1.5 !important;
    width: 100%;
    font: inherit;
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    flex: 1;
  }
}
