<div class="inline-text-area">
  <ng-container *ngIf="isEditActive$ | async; else elseTemplate">
    <textarea
      #textarea
      #autosize="cdkTextareaAutosize"
      class="inline-text-area-input custom-scroll"
      [class.active-border]="activeBorder"
      cdkTextareaAutosize
      rows="1"
      [cdkAutosizeMinRows]="minRows"
      [cdkAutosizeMaxRows]="maxRows"
      [formControl]="control"
    ></textarea>
  </ng-container>

  <ng-template #elseTemplate>
    <div class="inline-text-area-label">{{ control.value }}</div>
  </ng-template>
</div>
