@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin inline-text-area-theme($theme) {

  $is-dark-theme: map.get($theme, is-dark);

  .inline-text-area-input.active-border {
    &:focus {
      padding: 10px !important;
      border: 2px solid rgba(var(--mat-sys-primary-container), .6) !important;
    }
  }

  .inline-text-area {
    .inline-text-area-label:hover {
      background-color: var(--hover);
    }
  }

}
