<div class="inline-text-area">
  @if (isEditActive()) {
    <textarea
      #textarea
      #autosize="cdkTextareaAutosize"
      class="inline-text-area-input custom-scroll"
      [class.active-border]="activeBorder()"
      [class.invalid]="invalid()"
      [attr.aria-invalid]="invalid()"
      cdkTextareaAutosize
      [cdkAutosizeMinRows]="minRows()"
      [cdkAutosizeMaxRows]="maxRows()"
      [value]="value()"
      [disabled]="disabled()"
      [readonly]="readonly()"
      (input)="onInput($event)"
      (blur)="touched.set(true)"
      rows="1"
    ></textarea>
  } @else {
    <div class="inline-text-area-label">{{ value() }}</div>
  }

</div>
