@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin inline-text-area-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);

  .inline-text-area-input.active-border {
    &:focus {
      padding: 10px !important;
      border: 2px solid mat.get-color-from-palette($primary, .6) !important;
    }
  }

  .inline-text-area {
    .inline-text-area-label:hover {
      $hover: if($is-dark-theme, rgba(255, 255, 255, .04), rgba(0, 0, 0, .04));
      background-color: $hover;
    }
  }

}
