@import '../../../styles.scss';

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    transition: all 0.3s;
    padding: 0px 16px 64px;
    display: flex;
    flex-direction: column;
}

a,
a:hover,
a:focus {
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 2px;
}

#sidebar {
    background: $black1;
    color: $textOnDark;
    -webkit-box-shadow: 0.05rem 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.03);
    box-shadow: 0.05rem 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.03);
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #30343C;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 16px 16px 16px 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: $hovberOnDark;
    border-radius: 5px;
}

#sideBar-toggle {
    margin-top: auto;
}

#spacer {
    flex-grow: 1;
}

.link-active {
    color: white;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

i {
    margin-right: 32px;
    min-width: 16px;
    min-height: 16px;
    height: 16px;
    width: 16px;
}