<nav id="sidebar" [ngClass]='transitionService.sidebarStateClass'>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/dashboard"]'>
                <i class="fas fa-home"></i>{{worskspaceService.currentWorkspace?.name}}</a>
        </li>
    </ul>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/projects"]'>
                <i class="far fa-map"></i>Projects</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/tasks"]'>
                <i class="fas fa-tasks"></i>Tasks</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/flags"]'>
                <i class="far fa-flag"></i>Flags</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/users"]'>
                <i class="far fa-user"></i>Users</a>
        </li>
    </ul>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/descriptors"]'>
                <i class="fas fa-columns"></i>Descriptors</a>
        </li>
    </ul>

    <div id="spacer"></div>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/profile"]'>
                <i class="far fa-user"></i>
                {{authService.token.displayName}}
            </a>
        </li>
        <li>
            <a [routerLink]='["/workspaces"]'>
                <i class="fas fa-plus"></i>
                My Worksapces
            </a>
        </li>
        <li>
            <a id="sideBar-toggle" (click)='transitionService.toggleSideBar()' href="javascript:void(0)">
                <i class="fas fa-bars"></i>
                Toggle
            </a>
        </li>
    </ul>

</nav>