<nav id="sidebar" [ngClass]='transitionService.sidebarStateClass'>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/dashboard"]'>
                <i class="fas fa-columns" ngbTooltip="Dashboard"></i>Dashboard</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/projects"]'>
                <i class="fas fa-project-diagram" ngbTooltip="Projects"></i>Projects</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/tasks"]'>
                <i class="fas fa-tasks" ngbTooltip="Tasks"></i>Tasks</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/flags"]'>
                <i class="far fa-flag" ngbTooltip="Flags"></i>Flags</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/users"]'>
                <i class="far fa-user" ngbTooltip="Users"></i>Users</a>
        </li>
    </ul>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/descriptors"]'>
                <i class="fas fa-columns" ngbTooltip="Descriptors"></i>Descriptors</a>
        </li>
    </ul>

    <div id="spacer"></div>

    <ul class="list-unstyled components">
        <li>
            <a (click)='authService.logout()' href="javascript:void(0)">
                <i class="far fa-user" ngbTooltip="Account"></i>
                {{authService.token.displayName}}
            </a>
        </li>
        <li>
            <a id="sideBar-toggle" (click)='transitionService.toggleSideBar()' href="javascript:void(0)">
                <i class="fas fa-bars" ngbTooltip="Toggle"></i>
                Toggle
            </a>
        </li>
    </ul>

</nav>