<div class="task-card">
  <div class="task-header">


    <div class="task-header-title">
      <button
        cdkDragHandle
        mat-icon-button
        aria-label="more"
        matTooltip="click for more options. click and hold to drag task"
        [matTooltipShowDelay]="1200"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>drag_indicator</mat-icon>
      </button>
      <mat-checkbox color="primary"></mat-checkbox>
      <div class="title" (click)="titleClicked()">
        {{ task.name }}
      </div>
    </div>
    <div class="flex-row justify-content-start align-items-start">

      <div class="chip-list">
          <mat-chip-list>
              <mat-chip color="primary">
                {{ task.projectName }}
              </mat-chip>
              <div class="chip-spacer"></div>
              <mat-chip color="accent">
                {{ task.assigneeUsername }}
              </mat-chip>
            </mat-chip-list>
      </div>

      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="markCompleteClicked()">
            <mat-icon>done</mat-icon>
            <span>Mark Complete</span>
          </button>
          <button mat-menu-item (click)="moveToBacklogClicked()">
            <mat-icon>assignment_returned_outline</mat-icon>
            <span>Move to Backlog</span>
          </button>
          <button mat-menu-item (click)="editClicked()">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteClicked()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </ng-template>
      </mat-menu>

    </div>
  </div>
</div>

