.task-card {
  .task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card-chips {
      justify-content: flex-end;
    }

    .title {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 1.2rem;
      font-size: 14px;
      cursor: pointer;
    }

    .input-group-prepend {
      span,
      label {
        width: 10rem;
      }
    }

    .fas {
      margin-right: 1.4rem;
    }

    mat-divider {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    .task-header-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: auto;
      margin-bottom: auto;

      .mat-checkbox {
        margin: auto;
      }
    }

    .chip-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin-right: .4rem;
    }

    .chip-spacer {
      width: .4rem;
    }

    .mat-standard-chip {
      min-height: 24px !important;
    }

    .expand-icon {
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-left: .4rem;
      visibility: hidden;
    }
  }

  .task-header:hover {
    .expand-icon {
      visibility: visible;
    }
  }
}


@media only screen and (max-width: 900px) {
  .task-header {
    flex-direction: column;
  }

  .chip-list {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mat-card:not([class*='mat-elevation-z']) {
    background-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
  }
}
