.task-card-container {
  .task-card {
    .task-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px;

      #task-icon {
        padding: 2px;
        border-radius: 4px;
        width: 16px;
        text-align: center;
        transition: all 400ms;
      }

      .card-chips {
          justify-content: flex-end;
      }

      .title {
          margin-top: auto;
          margin-bottom: auto;
          font-size: 14px;
          cursor: pointer;
          font-family: 'Roboto', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
      }

      .input-group-prepend {
          span,
          label {
              width: 10rem;
          }
      }

      .fas {
          margin-right: 1.4rem;
      }

      mat-divider {
          margin-top: 2em;
          margin-bottom: 2em;
      }

      .task-header-title {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-top: auto;
          margin-bottom: auto;
      }

      .chip-spacer {
          width: 0.4rem;
      }

      .mat-standard-chip {
        min-height: 24px !important;
        font-family: 'Roboto', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
      }

      .expand-icon {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin-left: .4rem;
        visibility: hidden;
      }
    }

    .task-header:hover {
      .expand-icon {
        visibility: visible;
      }
    }
  }
}


@media only screen and (max-width: 900px) {
  .task-header {
    flex-direction: column;
  }
  .chip-list {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mat-card:not([class*=mat-elevation-z]) {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
}
