h1 {
    font-weight: lighter;
}

.form-signin {
    height: 100%;
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    padding: 1rem;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-group {
    margin-bottom: 0rem;
}

.form-register .checkbox {
    font-weight: 400;
}

.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-register input[id="inputEmail"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-register input[id="inputPassword"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
