main, .mat-drawer-container {
  height: 100vh;
}

.app-shell-sidenav {
  width: 72px;
}

.main-logo {
  display: flex;
  padding-top: 6px;
  img {
    margin: auto;
  }
}

.workspace-nav-list {
  display: flex;
  flex-direction: column;
  padding: .4rem .2rem;
  .app-workspace-link {
    margin: 0.4rem auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 700;
    width: 48px;
    height: 48px;
    background-color: #ccc;
    border-radius: .2rem;
  }
}
