<mat-accordion class="tasks-accordion" [dragula]="dragGroupName" [(dragulaModel)]="tasks" [id]="identifier"
  [class.expanded]='dragExpaneded'>

  <div class="task-card" *ngFor="let task of tasks">
    <div class="task-header">
      <div class="task-header-title">
        <i [class]='getStatusClass(task)' id="task-icon" *ngIf="userService.settings.showTaskIcons"></i>
        <div class="title">
          {{ task.name }}
        </div>
      </div>
      <div class="chip-list">
        <mat-chip color="primary">
          {{ task.projectName }}
        </mat-chip>
        <div class="chip-spacer"></div>
        <mat-chip color="accent">
          {{ task.assigneeUsername }}
        </mat-chip>
      </div>
    </div>
  </div>

  <mat-expansion-panel id='placeholder' *ngIf='dragExpaneded'>
    <mat-expansion-panel-header>

    </mat-expansion-panel-header>
  </mat-expansion-panel>

</mat-accordion>