@import '../../../../styles/variables.scss';

#complete {
    color: green;
}
#in-progress {
    color: mediumslateblue;
}
#blocked {
    color: red;
}

#task-icon {
    padding: 6px;
    border-radius: 4px;
    width: 16px;
    text-align: center;
    transition: all 400ms;
}

.card-chips {
    justify-content: flex-end;
}

.completed {
    color: darkgreen;
    background-color: #90eec3;
}

#info-chip {
    color: #969696;
    height: 1.2rem;
    background-color: #f4f4f4;
    font-weight: 100;
}

.in-progress {
    color: darkblue;
    background-color: lightblue;
}

.blocked {
    color: darkred;
    background-color: pink;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
}

.input-group-prepend {
    span,
    label {
        width: 10rem;
    }
}

.fas {
    margin-right: 0.6rem;
}

mat-divider {
    margin-top: 2em;
    margin-bottom: 2em;
}

.mat-expansion-panel-header-title {
    margin: auto;
}

.mat-chip.mat-standard-chip {
    background-color: transparent;
    color: rgba(0,0,0,.87);
    white-space: nowrap;
}

.mat-action-row {
    justify-content: space-between;
}

.mat-expansion-panel-header-title {
    flex-grow: 1 !important;
}

.mat-expansion-panel-header-description {
    flex-grow: unset !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    border: solid 1px #e2e2e2;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 2px;
}