/* You can add global styles to this file, and also import other style files */

@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/dragula.scss';
@import 'styles/animations.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

html,
body,
#st-full-pg {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: #FAFAFA !important;
    height: 100%;
    width: 100%;
    display: inline-block;
}

body,
p {
    font-family: 'Nunito Sans', 'Roboto', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
small {
    font-family: 'Nunito Sans', 'Roboto', sans-serif !important;
}

.center {
    height: 100% !important;
}

.dropdown-menu .show {
    min-width: 12rem !important;
}

.mat-button,
.mat-raised-button {
    border-radius: 4px !important;
}

.mat-dialog-container {
    border-radius: 8px !important;
    border: solid 4px #e2e2e2 !important;
}

.mat-select-panel:not([class*=mat-elevation-z]) {
    border-radius: 8px !important;
    border: solid 2px #e2e2e2 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #e2e2e2 !important;
}

.mat-card:not([class*=mat-elevation-z]) {
    border: solid 1px #e2e2e2 !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    margin-bottom: 2px !important;
}

#new-button {
    margin-bottom: 4rem;
    margin-right: 6rem;
    font-size: 1.4rem;
    height: 4rem;
    background-color: rebeccapurple;
    color: white;
    padding-left: 1rem;
    border-radius: 48px !important;
    width: 4rem;
    font-weight: 100;
    transition: all 330ms;
    bottom: 0;
    position: fixed;
    right: 0;
    min-width: 0px;
    overflow: hidden;
    z-index: 99;
    span {
        white-space: nowrap;
        overflow: hidden;
        .fas {
            margin-left: 0.3rem !important;
            margin-right: 1rem !important;
            margin-bottom: 0.3rem !important;
        }
    }
}

#new-button:hover {
    width: 14rem;
}

.shadow-panel {
    background-color: white !important;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin-bottom: 2rem !important;
    -webkit-transition: width 2s;
    /* Safari */
    transition: width 2s;
    border-radius: 6px;
}

.container-max {
    height: 100%;
    width: 100%;
    padding: 1.8rem;
    min-height: 100%;
}

.dropdown-menu {
    -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
}

.draggable {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Sidebar width
.open {
    width: 320px;
}

.closed {
    width: 68px;
}

@import "styles/loaders.scss";
@import "styles/quill.scss";
@import "styles/components.scss";