/* You can add global styles to this file, and also import other style files */

@import './variables.scss';
@import './mixins.scss';


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('fonts/MaterialDesign-Webfont-master/css/materialdesignicons.min.css');

html, body, #st-full-pg {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: #FAFAFA !important;
    height: 100%;
    width: 100%;
    display: inline-block;
}

body,
p {
    font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6, a, small {
    font-family: 'Roboto', sans-serif !important;
}

.dropdown-menu .show {
    min-width: 12rem !important;
}

.new-button {
    margin-bottom: 0.5rem;
    height: 3rem;
}

.shadow-panel {
    background-color: white !important;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin-bottom: 2rem !important;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    border-radius: 6px;
}

.container-max {
    height: 100%;
    width: 100%;
    padding: 1.8rem;
    min-height: 100%;
}

.dropdown-menu {
    -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
}

.draggable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;   
    user-select: none;
    cursor: pointer;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Sidebar width
.open {
    width: 320px;
}

.closed {
    width: 68px;
}

@import "@fortawesome/fontawesome-free/css/all.css";
@import "node_modules/bootstrap/scss/bootstrap-grid";

@import "app/loaders.scss";
@import "app/components.scss";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';