$main1: #0747A6;
$main2: #5984C3;
$main3: #C7D6EB;
$main4: #FF5733;
$main5: #FFC300;

$hover: #ECECEC;

$black1: #282C34;
$black2: #21252B;
$black3: #A6A6A6;
$black4: #D7D7D7;

$light1: #F6F9FA;
$textOnDark: #A8A9AB;
$hovberOnDark: #2C313C;


$primary: #0288D1;