.loader {
  font-size: 10px;
  border-radius: 50%;
  position: relative;
  animation: load 1.4s infinite linear;
  transform: translateZ(0);
}

.loader::before {
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader::after {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
