@use '@angular/material' as mat;
@use 'variables' as *;

@use 'sass:map';

@mixin spinner-theme($theme) {
  .loader {
    background: linear-gradient(to right, var(--mat-sys-primary-container) 10%, rgba(129, 55, 241, 0) 42%);
  }

  .loader::after {
    background: var(--card);
  }

  .loader::before {
    background: var(--mat-sys-primary-container);
  }
}
