@use '@angular/material' as mat;

@mixin spinner-theme($theme) {
  .loader {
    background: linear-gradient(to right, mat.get-color-from-palette($primary) 10%, rgba(129, 55, 241, 0) 42%);
  }

  .loader::after {
    background: $card;
  }

  .loader::before {
    background: mat.get-color-from-palette($primary);
  }
}
