<h1 mat-dialog-title>{{ task ? 'Edit Task' : 'Add new Task'}}</h1>

<form [formGroup]="projectFromGroup">

  <mat-form-field class="full-width">
    <input matInput id="name" class="form-control" placeholder="Task Summary" formControlName="nameFormControl" name="name" required>
    <mat-hint>Required</mat-hint>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select id="type" name="type" placeholder="Project" formControlName="projectFormControl">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let project of projectsService.projects" [value]="project.projectId">{{ project.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput id="description" class="form-control" formControlName="descriptionFormControl" placeholder="Description"
      name="description" aria-label="With textarea"></textarea>
  </mat-form-field>

</form>


<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
  <button mat-button [mat-dialog-close]="getResult()" [disabled]="projectFromGroup.invalid" type="button">
    {{ task ? 'Save Changes' : 'Save Task'}}
  </button>
</div>
