h1 {
    font-weight: lighter;
}

.full-height {
    width: 620px;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.form-signin {
    height: 100%;
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    padding: 1rem;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-group {
    margin-bottom: 0rem;
}

button {
    height: 4rem !important;
    width: 27rem !important;
    font-size: 1.4rem !important;
    font-family: 'Nunito Sans' !important;
}