<div class="full-height full-width flex-center">

  <mat-card>
    <form class="form-signin" [formGroup]="loginFromGroup" (ngSubmit)="login()">

      <h1 class="text-center full-width">Netpune</h1>

      <div class="form-spacer"></div>

      <div *ngIf="!authServices.loginError" class="errorMessagePlaceHolder">
      </div>
      <div *ngIf="authServices.loginError" class="loginErrorMessageTop">
        {{authServices.loginError}}
      </div>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter Email Address</mat-label>
        <input matInput placeholder="Email" name="emailFormControl" [formControl]="emailFormControl" [disabled]='isWorking'>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter Password</mat-label>
        <input matInput placeholder="Password" type="password" name="passwordFormControl" [formControl]="passwordFormControl"
          [disabled]='isWorking'>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="form-spacer"></div>

      <div class="buuton-container">
        <button mat-raised-button color="primary" type="submit" id="#sign-in-btn" [disabled]="loginFromGroup.invalid" [disabled]='isWorking'>Sign
          in</button>
        <br>
        <button mat-button color="primary" type="button" (click)='createAccountClicked()' [disabled]='isWorking'>Create
          Account</button>
      </div>
    </form>
  </mat-card>
</div>