h1 {
    font-weight: lighter;
}

.full-height {
    width: 360px;
    height: 500px;
    margin: auto;
}

.form-signin {
    height: 100%;
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-group {
    margin-bottom: 0rem;
}
