.user-card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 140px;
  grid-gap: 1em;

  .mat-card {
    margin-bottom: 0 !important;
  }
}

.user-header-image {
  height: 40px;
}

.card-group {
  padding: .6rem;
  border-radius: .4rem;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0;
}



.users-loading {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
