.create-group-button {
  transition: background-color .2s ease-in-out, margin .2s ease-in-out, color .2s ease-in-out;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .125px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: .9rem;
  display: flex;
  flex-direction: column;
  padding: .6rem;
  height: 100%;
  border-radius: .3rem;

  span {
    margin-left: .4rem;
  }
}

.create-group-button:hover {
  margin: .4rem;
}
