<app-page-container [marginBottom]="true" [centerPage]="true">

  <app-page-header
    title="Workspaces"
    actionTitle="Create Workspace"
    (actionClick)="openWorkspaceDialog()"
  >
  </app-page-header>

  <div class="card-group">

    <mat-card *ngFor="let workspace of workspaces$ | async; let i = index; trackBy: trackById">
      <mat-card-title>
        {{ workspace.name }}
        <button mat-button color="primary" type="button" (click)="deleteClicked(workspace)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content>
        <p>{{ workspace.description }}</p>
        <small class="text-muted">Last updated {{ workspace.updatedAt | fromNow }}</small>
      </mat-card-content>

      <mat-card-actions>
        <a
          mat-flat-button
          color="primary"
          class="action-button"
          type="button"
          [routerLink]="['/', workspace.slug]"
        >
          <mat-icon class="action-mat-icon">assessment</mat-icon> Go To Projects
        </a>
        <a
          mat-button
          color="primary"
          class="action-button"
          type="button"
          [routerLink]="['/', workspace.slug, 'users']"
        >
          Manage Users
        </a>
        <a
          mat-button
          color="primary"
          class="action-button"
          type="button"
          (click)="onEditClicked(workspace)"
        >
          Edit Workspace
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="create-workspace-card">
      <mat-card-title>
        Create a new Workspace
      </mat-card-title>
      <mat-card-content>
        <p class="card-text">
          Worksapces allow for team collobaration on multiple projectes and are the foundation of all workflows within
          Neptuna.
        </p>

        <mat-card-actions>
          <button mat-stroked-button color="primary" (click)="openWorkspaceDialog()">
            Create Workspace
          </button>
        </mat-card-actions>
      </mat-card-content>
      <div class="card-footer">
        <small class="text-muted">
          Created with ❤ by Joel
        </small>
      </div>
    </mat-card>
  </div>

</app-page-container>
