<div class="container main">
    <div class="container-max">

      <div class="component-header bottom-border">
        <h4>Dashboard</h4>
        <button mat-raised-button type="button" class="float-right" id="new-button" (click)='commentButtonClicked()'>
          <i class="fas fa-plus"></i>
          New Post
        </button>
      </div>

      <div class="posts-container" *ngFor="let project of projectsService.projects">
        <app-board-posts [posts]='postsService.getProjectPosts(project.id) | async'></app-board-posts>
      </div>

    </div>
  </div>