@import '../../../variables.scss';

#new-button {
    margin-bottom: 0.5rem;
    height: 3rem;
}

.main {
    height: 90%;
    position: relative;
    width: 100%;
}

.fas {
    margin-right: 1rem;
}

.input-group-prepend {
    span,
    label {
        width: 10rem;
    }
}

#export-button {
    color: #6C757D;
    margin-top: 2rem;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2rem;
}

.dot {
    margin: 0px auto;
    text-align: center;
    height: 48px;
    width: 48px;
    padding: 0.5rem;
    background-color: $main1;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1.5rem;
}

mat-card {
    max-width: 300px;
}