<app-page-container [showProgress]="loadingUpdate$ | async">

  <app-page-header title="Profile"></app-page-header>

  <form [formGroup]="profileGroup" class="px-0">

    <mat-form-field class="profile-input mb-3" appearance="fill">
      <mat-label>Firstname</mat-label>
      <input matInput placeholder="Edit Firstname" formControlName="firstname">
      <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-form-field>

    <mat-form-field class="profile-input mb-3" appearance="fill">
      <mat-label>Lastname</mat-label>
      <input matInput placeholder="Edit Lastname" formControlName="lastname">
      <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-form-field>

    <mat-form-field class="profile-input mb-3" appearance="fill">
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="Change Email Address" formControlName="email">
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>

    <button
      mat-button
      (click)="updateClicked()"
      [disabled]="loadingUpdate$ | async"
    >
      Update
    </button>

  </form>
</app-page-container>
