<h1 mat-dialog-title>Invite Users to Workspace</h1>

<mat-dialog-content>

  <p>
    You can enter multiple addresses seperated by commas
  </p>

  <form [formGroup]="inviteFromGroup">

    <mat-form-field
      class="w-100"
      appearance="fill"
    >
      <mat-label>Email Addresses</mat-label>
      <mat-chip-list
        #chipList
        aria-label="Users"
      >
        <mat-chip
          *ngFor="let user of users"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(user)"
        >
          {{user}}
          <mat-icon
            matChipRemove
            *ngIf="removable"
          >
            cancel
          </mat-icon>
        </mat-chip>
        <input
          class="form-control"
          formControlName="email"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        >
      </mat-chip-list>
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<div
  mat-dialog-actions
  align="end"
>
  <button
    mat-stroked-button
    (click)="close()"
  >
    Close
  </button>
  <div class="mr-2"></div>
  <button
    mat-flat-button
    color="primary"
    (click)="getResult()"
    type="button"
  >
    Invite Users
  </button>
</div>
