<h1 mat-dialog-title>Invite Users to Workspace</h1>

<app-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="add()">
    <app-form-input
      formControlName="email"
      label="Invitee Email"
      maxLength="128"
      type="email"
    >
    </app-form-input>

    <div class="app-list">
      @if (users.length) { @for (user of users; track user) {
      <div class="app-list-item">{{ user }}</div>
      } } @else {
      <div class="app-list-message">
        Email addresses entered below will show here.
      </div>
      }
    </div>
  </form>
</app-dialog-content>

<div app-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Close</button>
  <button mat-flat-button color="primary" (click)="getResult()" type="button">
    Invite Users
  </button>
</div>
