<h1 mat-dialog-title>Invite Users to Workspace</h1>

<app-dialog-content>
  <form (submit)="add($event)">
    <app-form-input
      [formField]="inviteForm.email"
      label="Invitee Email"
      maxLength="128"
      type="email"
    >
    </app-form-input>

    <div class="min-h-[128px] max-h-[496px] overflow-y-auto">
      @for (user of users(); track user) {
        <div class="px-4">{{ user }}</div>
      } @empty {
        <div class="app-list-message">
          Email addresses entered below will show here.
        </div>
      }
    </div>
  </form>
</app-dialog-content>

<div app-dialog-actions align="end">
  <app-button variant="outlined" (click)="close()">Close</app-button>
  <app-button variant="filled" (click)="getResult()">Invite Users</app-button>
</div>
