@import '~@angular/material/theming';

@mixin app-shell-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .main-content {
    background-color: mat-color($background, background)
  }

  .app-toolbar {
    color: mat-color($foreground, text);
  }

  .app-toolbar-shadow {
    border-bottom: 1px solid mat-color($background, border);
  }

  .app-sidenav {
    border-right: 1px solid mat-color($background, border);
    background-color: mat-color($background, card)
  }

  .router-link-active {
    background-color: mat-color($primary);
    color: invert(mat-color($foreground, text)) !important;
  }

  .router-link-active:hover, .router-link-active:focus {
    background-color: lighten(mat-color($primary), 10) !important;
  }
}
