.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  z-index: 2;
  width: 100%;
}

h1 .app-name {
  margin-left: 8px;
  text-transform: uppercase;
  letter-spacing: .4rem;
  font-size: 1.6rem;
  font-weight: 500;
}

h1 .nav-title {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.app-sidenav-container {
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  flex: 1 0 auto;
}

.mat-subheader {
  font-weight: 500 !important;
  text-transform: uppercase !important;
  letter-spacing: 1.2px !important;
}

.app-menu-link {
  height: 2.6rem !important;

  .mat-list-item-content {
    height: 2.6rem;
    line-height: 18px;
    padding: 12px 48px;
    padding-left: 24px;
    text-align: left;
    width: 100%;
    font-size: 14px;
  }
}

.app-logo {
  height: 63px !important;
  text-transform: uppercase;
  letter-spacing: .4rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.toolbar-username {
  font-weight: 400;
  font-size: 1rem;
  margin-right: 1rem;
}

.app-sidenav {
  width: 200px;
}

.app-toolbar {
  height: 56px;
  z-index: 4;
  position: fixed;
  top: 0;
  width: calc(100% - 284px);
}

.toolbar-spacer {
  flex: 1 1 auto;
}

main {
  padding-top: 56px;
}
