.loading {
  display: grid;
  place-items: center;

  mat-spinner {
    margin: 1.4rem;
  }
}


.no-tags-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .4rem 1.4rem;
  font-weight: 500;
  font-size: 14px;
  opacity: .6;
  user-select: none;

  .mat-icon {
    margin: .8rem 0;
    opacity: .6;
  }

  p {
    text-align: center;
  }
}
