<h1 mat-dialog-title>{{ workspace ? 'Edit Workspace' : 'Add new Workspace'}}</h1>

<form class="form-signin" [formGroup]="workspaceFromGroup">

  <mat-form-field class="full-width" appearance="outline">
      <mat-label>Enter Workspace Name</mat-label>
    <input matInput id="name" class="form-control" placeholder="Workspace Name" name="name" formControlName="nameFormControl">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
      <mat-label>Enter Workspace Summary</mat-label>
    <textarea matInput id="description" class="form-control" placeholder="Description" name="description" aria-label="With textarea" formControlName="discriptionFormControl"></textarea>
  </mat-form-field>

</form>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button [mat-dialog-close]="getResult()" [disabled]="workspaceFromGroup.invalid" type="button">
    {{ workspace ? 'Save Changes' : 'Save Workspace'}}
  </button>
</div>