<div class="nept-form-control w-[inherit] mb-[1.4rem]">
  @if (label()) {
  <label [for]="name()" appFormLabel>
    {{ label() }}
  </label>
  }

  <app-form-control-field
    #dropreference
    class="w-full cursor-pointer"
    [invalid]="touched() && invalid()"
    [active]="!!value() && pending()"
    (click)="onDropMenuIconClick($event)"
  >
    @if (prefix()) {
    <div appFormPrefix>{{ prefix() }}</div>
    }

    <input
      #input
      appFormInput
      [placeholder]="placeholder()"
      [id]="name()"
      [value]="displayValue()"
      [disabled]="disabled()"
      class="grow cursor-pointer selection:bg-transparent"
      [style.padding]="prefix() ? '0 .8rem 0 0' : '0 .8rem'"
      readonly
      (click)="$event.stopPropagation(); showDropdown()"
      (keydown)="onKeyDown($event)"
      (blur)="touched.set(true)"
      autocomplete="off"
    />

    <div
      class="hidden"
      [style.padding]="prefix() ? '0 .8rem 0 0' : '0 .8rem'"
    ></div>

    <ng-content />

    @if (icon()) {
      <svg class="mr-3" [lucideIcon]="icon()!" size="20" aria-hidden="true"></svg>
    }

    <svg lucideChevronDown size="42" aria-hidden="true" class="mr-4 flex items-center justify-center text-foreground/70"></svg>

    <app-form-select-dropdown [reference]="dropreference.el">
      <div appFormSelectDropdown class="menu-scale-in">
        <ng-content select="app-form-select-option" />
      </div>
    </app-form-select-dropdown>
  </app-form-control-field>

  @if (hint()) {
  <small appFormHint> {{ hint() }} </small>
  }
</div>
