<div class="nept-form-control">
  <label *ngIf="label" [for]="ngControl.name" class="form-control-label">
    {{ label }}
  </label>

  <div
    #dropreference
    class="form-control-input netp-form-select"
    [class.invalid]="control?.touched && control?.invalid"
    [class.active]="control?.value && control?.pending"
    (click)="onDropMenuIconClick($event)"
  >
    <div *ngIf="prefix" class="form-control-prefix">{{ prefix }}</div>

    <input
      #input
      placeholder="{{placeholder}}"
      [id]="ngControl.name"
      [value]="displayValue"
      [disabled]="disabled"
      [style.padding]="prefix ? '0 .8rem 0 0' : '0 .8rem'"
      readonly
      (click)="$event.stopPropagation(); showDropdown()"
      (keydown)="onKeyDown($event)"
      (blur)="onTouch()"
      autocomplete="off"
    />

    <div
      class="input-template"
      [style.padding]="prefix ? '0 .8rem 0 0' : '0 .8rem'"
    ></div>

    <ng-content />

    <mat-icon *ngIf="icon" aria-hidden="true" class="material-icons-outlined">
      {{ icon }}
    </mat-icon>

    <mat-icon aria-hidden="true" class="material-icons-outlined arrow">
      arrow_drop_down
    </mat-icon>

    <app-form-select-dropdown [reference]="dropreference">
      <div class="form-select-dropdown menu-scale-in">
        <ng-content select="app-form-select-option" />
      </div>
    </app-form-select-dropdown>
  </div>

  <small *ngIf="hint" class="form-control-hint"> {{ hint }} </small>
</div>
