<div class="tasks-container">
  <h4> {{ header }} </h4>
  <div class="task-list">

    <ng-container *ngIf="(loaded | async) && tasks.length; else elseTemplate">

      <div
        cdkDropList
        class="task-list-group"
        [cdkDropListData]="{ tasks: tasks, status: status }"
        (cdkDropListDropped)="drop($event)"
      >
        <app-task-list-item
          cdkDrag
          class="task-drag"

          *ngFor="let taskItem of tasks"
          [task]="taskItem"
          [cdkDragData]="taskItem"
        >
          <button
            class="task-action"
            cdkDragHandle
            mat-icon-button
            aria-label="more"
            matTooltip="click for more options. click and hold to drag task"
            [matTooltipShowDelay]="1200"
            [matMenuTriggerData]="{ task: taskItem }"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon class="drag">drag_indicator</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <ng-template matMenuContent let-task="task">
              <button mat-menu-item (click)="markCompleteClicked(task)">
                <mat-icon class="material-icons-outlined">
                  done
                </mat-icon>
                <span>Mark Complete</span>
              </button>
              <button mat-menu-item (click)="moveToBacklogClicked(task)">
                <mat-icon class="material-icons-outlined">
                  assignment_returned_outline
                </mat-icon>
                <span>Move to Backlog</span>
              </button>
              <button mat-menu-item (click)="deleteClicked(task)">
                <mat-icon class="material-icons-outlined">
                  delete
                </mat-icon>
                <span>Delete</span>
              </button>
            </ng-template>
          </mat-menu>
        </app-task-list-item>

        <app-task-inline [status]="status" [siblings]="tasks"></app-task-inline>

      </div>

    </ng-container>

    <ng-template #elseTemplate>
      <ng-container *ngIf="(loaded | async); else loadedElseTemplate">

        <app-task-inline [status]="status"></app-task-inline>

        <div class="list-empty">
          <div class="list-empty-mark">
            <i class="far fa-compass"></i>
            <h4 class="empty-text">
              {{ emptyMessage }}
            </h4>
          </div>
        </div>

      </ng-container>
      <ng-template #loadedElseTemplate>

        <div class="spinner-container">
          <div class="typing-loader"></div>
        </div>

      </ng-template>
    </ng-template>

  </div>
</div>
