.user-card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 140px;
  grid-gap: 1em;
}

.mat-chip {
  i {
    margin-right: .6rem;
  }
}

.user-header-image {
  background-image: url('assets/apple-touch-icon.png');
  background-size: cover;
}
