@if (user()) {
  <div>
    <div class="flex flex-row items-center">
      <app-avatar
        size="24"
        class=""
        [name]="user().displayName"
        [imageUrl]="user().pictureUrl"
        >
      </app-avatar>
      <form class="flex-1 ml-3" (submit)="submit($event)">
        <app-form-input
          [formField]="commentForm.comment"
          placeholder="Add Comment"
          [icon]="lucideMessageCircle"
          >
        </app-form-input>
      </form>
    </div>
    <div class="flex flex-col">
      @for (comment of comments(); track comment.id) {
        <div class="mb-5 flex flex-row items-center group">
          <app-avatar
            size="24"
            class=""
            [name]="comment.userDisplayName"
            [imageUrl]="comment.userDisplayImage"
            >
          </app-avatar>
          <div class="flex-1 flex flex-col">
            <span class="font-medium mb-1 flex flex-row items-center">
              {{ comment.userDisplayName }}
              <small class="flex-1 ml-[0.6rem] opacity-60"> {{ comment.createdAt | fromNow }} </small>
              <div class="w-10 hidden group-hover:block">
                <button
                  app-icon-button
                  aria-label="Comment Actions"
                  (click)="commentMenu.toggle($any($event.currentTarget))"
                  >
                  <svg lucideEllipsis class="h-4 w-4"></svg>
                </button>
                <app-dropdown-menu #commentMenu xPosition="before">
                  <button app-menu-item (click)="deleteComment.emit(comment); commentMenu.close()">
                    <svg lucideTrash2 class="h-4 w-4"></svg>
                    <span>Delete Comment</span>
                  </button>
                </app-dropdown-menu>
              </div>
            </span>
            <span class="text-sm font-normal ml-3"> {{ comment.body }} </span>
          </div>
        </div>
      }
    </div>
  </div>
}
