<mat-sidenav-container class="app-container app-sidenav-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-sidenav
    [opened]="!mobileQuery.matches && (authenticated$ | async)"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    class="app-sidenav"
  >
    <mat-nav-list>
      <mat-list-item class="app-logo">
        Netptune
      </mat-list-item>
      <h3 matSubheader class="app-sub-header">
        Browse
      </h3>
      <a
        mat-list-item
        *ngFor="let link of links"
        [routerLink]="link.value"
        class="app-menu-link"
        routerLinkActive="router-link-active"
      >
      <mat-icon mat-list-icon class="material-icons-round">
        {{ link.icon }}
      </mat-icon>
      <p mat-line>
        {{ link.label }}
      </p>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
