@import '~@angular/material/theming';

@mixin app-shell-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .main-content {
    background-color: mat-color($background, background);
  }

  .app-toolbar {
    color: mat-color($foreground, text, .6);
  }

  .app-menu-link {
    color: rgba(255, 255, 255, 1);
  }

  .app-sidenav {
    background-color: mat-color($background, side-bar);
  }

  .router-link-active {
    border-top-left-radius: 12rem;
    border-bottom-left-radius: 12rem;
    background-color: mat-color($primary);
    color: rgba(255, 255, 255, .8);
  }

  .router-link-active:hover,
  .router-link-active:focus {
    color: rgba(255, 255, 255, .8) !important;
    background-color: lighten(mat-color($primary), 10) !important;
  }
}
