@import '~@angular/material/theming';

@mixin shell-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .main-content {
    background-color: mat-color($background, background);
  }

  .app-toolbar {
    color: mat-color($foreground, text, .6);
  }

  .app-menu-link {
    color: rgba(255, 255, 255, 1);
  }

  .app-menu-link:hover {
    color: rgba(255, 255, 255, 1) !important;
    background-color: lighten(mat-color($background, side-bar), 8) !important;
  }

  .app-sidenav {
    background-color: mat-color($background, side-bar);

    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .router-link-active {
    background-color: lighten(mat-color($background, side-bar), 10);
    color: rgba(255, 255, 255, 1);
  }

  .router-link-active:hover,
  .router-link-active:focus {
    color: rgba(255, 255, 255, 1) !important;
    background-color: lighten(mat-color($background, side-bar), 12) !important;
  }
}
