<h1 mat-dialog-title>Add new Task</h1>

<form app-dialog-content [formGroup]="formGroup">
  <app-form-input formControlName="name" label="Summary" maxLength="1024">
  </app-form-input>

  <app-form-textarea
    formControlName="description"
    label="Description"
    maxLength="4096"
  >
  </app-form-textarea>

  <app-form-select formControlName="project" label="Project">
    <app-form-select-option
      *ngFor="let project of projects$ | async"
      [value]="project.id"
    >
      {{ project.name }}
    </app-form-select-option>
  </app-form-select>
</form>

<div app-dialog-actions align="end">
  <app-button mat-stroked-button (click)="close()">Close</app-button>
  <app-button
    mat-flat-button
    color="primary"
    (click)="saveClicked()"
    type="button"
  >
    Save Task
  </app-button>
</div>
