<h1 mat-dialog-title>Add new Task</h1>

<form app-dialog-content [formGroup]="formGroup">
  <app-form-input formControlName="name" label="Summary" maxLength="1024">
  </app-form-input>

  <app-form-textarea
    formControlName="description"
    label="Description"
    maxLength="4096"
    >
  </app-form-textarea>

  <app-form-select formControlName="project" label="Project">
    @for (project of projects$ | async; track project) {
      <app-form-select-option
        [value]="project.id"
        >
        {{ project.name }}
      </app-form-select-option>
    }
  </app-form-select>
</form>

<div app-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Close</button>
  <button mat-flat-button color="primary" (click)="saveClicked()" type="button">
    Save Task
  </button>
</div>
