.new-icon {
    margin-right: 1rem;
}

.list-icon {
    margin-right: 1rem;
    font-size: 2rem;
    min-width: 48px;
    min-height: 38px;
}

.list-item-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list-items-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h4, p {
    margin: 0;
}

.mat-list-option:hover {
    background: rgba(0,0,0,.04);
    border-radius: 4px;
}