<h1 mat-dialog-title>{{ project ? 'Edit Project' : 'Add new Project'}}</h1>

<form [formGroup]="projectFromGroup">

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Enter Project Name</mat-label>
    <input matInput id="name" class="form-control" placeholder="Project Name" formControlName="nameFormControl" name="name"
      required>
    <mat-hint>Required</mat-hint>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Enter Project Repository</mat-label>
    <input matInput id="url" class="form-control" placeholder="Repository Url" formControlName="repositoryUrlFormControl"
      name="url">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Enter Project Description</mat-label>
    <textarea matInput id="description" class="form-control" formControlName="descriptionFormControl" placeholder="Description"
      name="description" aria-label="With textarea"></textarea>
  </mat-form-field>

</form>


<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
  <button mat-button (click)="getResult()" [disabled]="projectFromGroup.invalid" type="button">
    {{ project ? 'Save Changes' : 'Save Project'}}
  </button>
</div>
