$dark-primary: mat-palette($mat-blue, 900);
$dark-accent:  mat-palette($mat-blue-grey, 400);
$dark-warn:    mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
