<app-page-container [marginBottom]="true" [centerPage]="true">

  <app-page-header
    title="Workspaces"
    actionTitle="Create Workspace"
    (actionClick)="openWorkspaceDialog()"
  >
  </app-page-header>

  <app-workspace-list></app-workspace-list>

  <div class="build-info" *ngIf="buildInfo$ | async as buildInfo">
    <span class="gitHashShort"> {{ buildInfo.gitHashShort }} </span>
    <span> | </span>
    <span class="buildNumber"> BUILD {{ buildInfo.buildNumber }} </span>
    <span> | </span>
    <a
      class="runId"
      [href]="'https://github.com/JoelCrosby/Netptune/actions/runs/' + buildInfo.runId"
      target="_blank"
      rel="noopener noreferrer"
    >
      Github Action
    </a>
  </div>

</app-page-container>
