<h1 mat-dialog-title>Create Project</h1>

<form app-dialog-content [formGroup]="projectFromGroup">
  <app-form-input formControlName="name" label="Name" maxLength="1024">
  </app-form-input>

  <app-form-input
    formControlName="repositoryUrl"
    label="Repository URl"
    maxLength="1024"
  >
  </app-form-input>

  <app-form-textarea
    formControlName="description"
    label="Description"
    maxLength="4096"
  >
  </app-form-textarea>
</form>

<div app-dialog-actions align="end">
  <app-button mat-stroked-button (click)="close()">Close</app-button>
  <app-button
    mat-flat-button
    color="primary"
    (click)="getResult()"
    type="button"
  >
    Create Project
  </app-button>
</div>
