<h1 mat-dialog-title>Create Project</h1>

<form app-dialog-content [formGroup]="form">
  <app-form-input formControlName="name" label="Name" maxLength="1024">
  </app-form-input>

  <app-form-input
    formControlName="repositoryUrl"
    label="Repository URl"
    maxLength="1024"
  >
  </app-form-input>

  <app-form-textarea
    formControlName="description"
    label="Description"
    maxLength="4096"
  >
  </app-form-textarea>
</form>

<div app-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Close</button>
  <button mat-flat-button color="primary" (click)="getResult()" type="button">
    Create Project
  </button>
</div>
