<app-card>
  <app-card-title>
    {{ title }}
    <app-button color="primary" type="button" (click)="delete.emit()">
      <mat-icon>close</mat-icon>
    </app-button>
  </app-card-title>
  <app-card-content>
    <pre>{{ description }}</pre>

    <small class="text-muted"> {{ subText }} </small>

    <ng-content />
  </app-card-content>

  <app-card-actions>
    <ng-container *ngFor="let action of actions; first as isFirst">
      <ng-container *ngIf="action.isLink; else elseTemplate">
        <ng-container *ngIf="isFirst; else elseTemplate">
          <app-button
            mat-flat-button
            color="primary"
            class="action-button"
            type="button"
            [routerLink]="action.routerLink"
          >
            <mat-icon *ngIf="action.icon" class="action-mat-icon">
              {{ action.icon }}
            </mat-icon>
            {{ action.label }}
          </app-button>
        </ng-container>
        <ng-template #elseTemplate>
          <app-button
            mat-button
            color="primary"
            class="action-button"
            type="button"
            [routerLink]="action.routerLink"
          >
            <mat-icon *ngIf="action.icon" class="action-mat-icon">
              {{ action.icon }}
            </mat-icon>
            {{ action.label }}
          </app-button>
        </ng-template>
      </ng-container>
      <ng-template #elseTemplate>
        <ng-container *ngIf="isFirst; else elseTemplate">
          <app-button
            color="primary"
            class="action-button"
            (click)="action.click && action.click()"
          >
            <mat-icon *ngIf="action.icon" class="action-mat-icon">
              {{ action.icon }}
            </mat-icon>
            {{ action.label }}
          </app-button>
        </ng-container>
        <ng-template #elseTemplate>
          <app-button
            color="primary"
            class="action-button"
            (click)="action.click && action.click()"
          >
            <mat-icon *ngIf="action.icon" class="action-mat-icon">
              {{ action.icon }}
            </mat-icon>
            {{ action.label }}
          </app-button>
        </ng-template>
      </ng-template>
    </ng-container>
  </app-card-actions>
</app-card>
