mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-card {
  border-radius: .2rem;
  padding: 1.6rem;
  overflow: hidden;
}

mat-card-actions {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

small {
  font-size: 12px;
}

.mat-card-actions {
  padding: 1.6rem;
  margin-bottom: 2rem;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.action-button {
  margin-right: .8rem;
}

.action-button:first-child,
.mat-card-actions .mat-raised-button:first-child {
  margin-left: 0;
  margin-right: .8rem !important;
}

.action-mat-icon {
  margin-right: .6rem;
}
