<app-card>
  <app-card-title>
    {{ title() }}
    <button mat-button color="primary" type="button" (click)="delete.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </app-card-title>
  <app-card-content>
    <pre>{{ description() }}</pre>

    <small class="text-muted"> {{ subText() }} </small>

    <ng-content />
  </app-card-content>

  <app-card-actions>
    @for (action of actions(); track action; let isFirst = $first) {
      @if (action.isLink) {
        @if (isFirst) {
          <a
            mat-flat-button
            color="primary"
            class="action-button"
            type="button"
            [routerLink]="action.routerLink"
            >
            @if (action.icon) {
              <mat-icon class="action-mat-icon">
                {{ action.icon }}
              </mat-icon>
            }
            {{ action.label }}
          </a>
        } @else {
          <a
            mat-button
            color="primary"
            class="action-button"
            type="button"
            [routerLink]="action.routerLink"
            >
            @if (action.icon) {
              <mat-icon class="action-mat-icon">
                {{ action.icon }}
              </mat-icon>
            }
            {{ action.label }}
          </a>
        }
      } @else {
        @if (isFirst) {
          <button
            mat-flat-button
            color="primary"
            class="action-button"
            (click)="action.click && action.click()"
            >
            @if (action.icon) {
              <mat-icon class="action-mat-icon">
                {{ action.icon }}
              </mat-icon>
            }
            {{ action.label }}
          </button>
        } @else {
          <button
            mat-button
            color="primary"
            class="action-button"
            (click)="action.click && action.click()"
            >
            @if (action.icon) {
              <mat-icon class="action-mat-icon">
                {{ action.icon }}
              </mat-icon>
            }
            {{ action.label }}
          </button>
        }
      }
    }
  </app-card-actions>
</app-card>
