<div
  class="flex flex-col justify-center items-center select-none font-medium tracking-[0.8px] overflow-hidden text-xs font-avatar whitespace-nowrap"
  [style.height]="size() | px"
  [style.width]="size() | px"
  [style.background-color]="imageUrl() ? null : backgroundColor"
  [style.color]="color"
  [style.border-radius]="borderRadius()"
  [class.avatar-border]="border()"
  [matTooltip]="tooltip() && name() ? name() : ''"
  [style.font-size]="size() | avatarFontSize"
  >
  @if (imageUrl()) {
    <img
      crossorigin="anonymous"
      class="object-cover rounded-full"
      [width]="size()"
      [height]="size()"
      [src]="imageUrl()"
      [alt]="name()"
      />
  } @else {
    {{ name() | avatar }}
  }

</div>
