.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: 500;
  letter-spacing: .8px;
  overflow: hidden;
}

.avatar-image {
  object-fit: cover;
  border-radius: 100% !important;
}

.avatar-border {
  border: 3px solid rgba(255, 255, 255, .8);
}
