@import '~@angular/material/theming';

@mixin components-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-card:not([class*='mat-elevation-z']) {
    background-color: mat-color($background, card) !important;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1) !important;
    transition: background-color .2s ease-in;
  }

  .mat-card:not([class*='mat-elevation-z']):hover {
    background-color: mat-color($background, hover) !important;
  }

  .custom-scroll::-webkit-scrollbar {
    width: 18px;
    height: 18px;
  }

  .custom-scroll::-webkit-scrollbar-corner {
    background: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    border: 6px solid transparent;
    background: mat-color($foreground, text, 0.2);
    border-radius: 10px;
    background-clip: padding-box;
  }
}
