@import '~@angular/material/theming';

@mixin components-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-card:not([class*='mat-elevation-z']) {
    background-color: mat-color($background, card) !important;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1) !important;
    border: 1px solid mat-color($background, border);
    transition: background-color .2s ease-in;
  }

  .mat-card:not([class*='mat-elevation-z']):hover {
    background-color: mat-color($background, hover) !important;
  }
}
