@import '~@angular/material/theming';

@mixin containers-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .auth-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      border: 1px solid mat-color($background, border);
    }
  }

  .card-group {
    background-color: darken(mat-color($background, board-group), 1);
  }

  .auth-error {
    .auth-error-text {
      background-color: mat-color($warn, .06);
      color: darken(mat-color($warn), 36);
    }
  }
}
