.auth-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    width: 500px;
    max-width: 500px;
    padding: 2rem;

    .mat-form-field {
      width: 100%;
    }
  }

  .auth-title {
    font: 400 16px/28px Roboto, 'Helvetica Neue', sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    button {
      height: 38px;
      min-width: 8rem;
    }
  }
}
