.auth-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    width: 400px;
    max-width: 400px;
    padding: 2rem 2rem 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: normal;

    img {
      margin: 1rem auto;
    }

    .mat-form-field {
      width: 100%;
    }
  }

  .auth-title {
    font: 400 16px/28px Roboto, 'Helvetica Neue', sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    a,
    button {
      height: 38px;
      min-width: 8rem;
    }
  }

  .auth-footer {
    margin-top: 1.4rem;
  }
}

.card-group {
  padding: .6rem;
  border-radius: .4rem;
}


@media only screen and (max-width: 600px) {
  .auth-page-container {
    height: 100vh;

    form {
      padding: 0 4rem !important;
      border: 0 !important;
    }

    .mat-form-field,
    .button-container {
      width: 80vw !important;
      margin: 0 auto !important;
    }
  }

}
