// Material icons classes
.material-icons-outlined,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
  font-family: 'Material Icons Two Tone';
}

.material-icons-round,
.material-icons.material-icons--round {
  font-family: 'Material Icons Round';
}

.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-family: 'Material Icons Sharp';
}

.mat-line {
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: .125px !important;
}

// Text Area

textarea.mat-input-element {
  line-height: 1.5;
}


// Menu

.mat-menu-panel {
  min-height: 32px !important;
}

.mat-menu-item {
  min-width: 180px;
}
