.mat-dialog-actions {
  button {
    min-width: 8rem;
  }
}


@media only screen and (max-width: 600px) {
  .app-modal-class {
    height: 100vh !important;
    max-width: 100vw !important;
  }

  .mat-dialog-content {
    max-height: calc(100vh - 200px) !important;
  }
}
