@import '@angular/material/theming';

@mixin autocomplete-chips-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .autocomplete-chips {
    .mat-chip {
      margin: .2rem .2rem .2rem 0;
      border-radius: 4px;
      padding: .2rem .4rem;
      min-height: 24px;
    }

    .mat-form-field-infix {
      padding: 1em 0 .8em 0;
    }
  }

  .auto-complete-option {
    line-height: 32px !important;
    height: 32px  !important;
    padding: 6px 12px;

    .mat-option-text {
      padding: 0;
      font-size: 14px;
      letter-spacing: .125px;
      font-weight: 400;
    }
  }
}
