@if (filteredOptions | async; as filtered) {
  <div class="nept-form-control">
    <mat-label> {{ label }} </mat-label>
    <div class="form-control-input autocomplete-chips">
      <mat-chip-grid #chipList>
        @for (option of selected; track option) {
          <mat-chip-row
            [removable]="removable"
            (removed)="remove(option)"
            >
            {{ option }}
            @if (removable) {
              <mat-icon matChipRemove> clear </mat-icon>
            }
          </mat-chip-row>
        }
        <input
          #input
          class="form-control"
          [placeholder]="selected?.length ? '' : placeholder"
          [formControl]="formCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
          />
      </mat-chip-grid>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onSelected($event)"
        >
        @for (option of filtered; track option) {
          <mat-option
            [value]="option"
            class="auto-complete-option"
            (click)="$event.stopPropagation();"
            >
            {{ option }}
          </mat-option>
        }
      </mat-autocomplete>
    </div>
  </div>
}
