input {
  font: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.autocomplete-chips {
  .mat-mdc-chip {
    margin: .2rem .2rem .2rem 0;
    border-radius: 4px;
    padding: .2rem .4rem;
    min-height: 24px;
  }
}

.auto-complete-option {
  line-height: 32px !important;
  height: 32px  !important;
  padding: 6px 12px;
}
