<mat-form-field class="autocomplete-chips w-100" appearance="fill">
  <mat-label *ngIf="label">
    {{ label }}
  </mat-label>

  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let option of selected"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(option)"
    >
      {{ option }}
      <mat-icon
        matChipRemove
        *ngIf="removable"
      >
        clear
      </mat-icon>
    </mat-chip>

    <input
      #input
      class="form-control"
      [placeholder]="selected.length ? undefined : placeholder"
      [formControl]="formCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    >
  </mat-chip-list>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelected($event)"
  >
    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="option"
    >
      {{ option }}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>
