<nav id="sidebar" [ngClass]='transitionService.sidebarStateClass'>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/dashboard"]'>
                <i class="fas fa-drafting-compass"></i>{{ worskspaceService.currentWorkspace?.name }}</a>
        </li>
    </ul>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/projects"]' matRipple>
                <i class="far fa-map"></i>Projects</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/tasks"]' matRipple>
                <i class="fas fa-tasks"></i>Tasks</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/users"]' matRipple>
                <i class="far fa-user"></i>Users</a>
        </li>
    </ul>

    <div id="spacer"></div>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/profile"]' matRipple>
                <i class="far fa-user"></i>
                Account
            </a>
        </li>
        <li>
            <a [routerLink]='["/workspaces"]' matRipple>
                <i class="fas fa-network-wired"></i>
                My Worksapces
            </a>
        </li>
        <li>
            <a id="sideBar-toggle" (click)='transitionService.toggleSideBar()' href="javascript:void(0)" matRipple>
                <i class="fas fa-bars"></i>
                Toggle
            </a>
        </li>
    </ul>

</nav>
