<nav id="sidebar" [ngClass]='transitionService.sidebarStateClass'>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/dashboard"]'>
                <i class="fas fa-drafting-compass"></i>{{ worskspaceService.currentWorkspace?.name }}</a>
        </li>
    </ul>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/projects"]' matRipple>
                <i class="far fa-map"></i>
                <div class="title">
                  Projects
                </div>
            </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/tasks"]' matRipple>
                <i class="fas fa-tasks"></i>
                <div class="title">
                    Tasks
                </div>
              </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/users"]' matRipple>
                <i class="far fa-user"></i>
                <div class="title">
                  Users
                </div>
              </a>
        </li>
    </ul>

    <div id="spacer"></div>

    <ul class="list-unstyled components">
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/profile"]' matRipple>
                <i class="far fa-user"></i>
                <div class="title">
                    Account
                </div>
            </a>
        </li>
        <li>
            <a [routerLink]='["/workspaces"]' matRipple>
                <i class="fas fa-network-wired"></i>
                <div class="title">
                    Workspaces
                </div>
            </a>
        </li>
        <li>
            <a id="sideBar-toggle" (click)='transitionService.toggleSideBar()'  matRipple>
                <i class="fas fa-bars"></i>
                <div class="title">
                    Toggle
                </div>
            </a>
        </li>
    </ul>

</nav>
