<div class="container main">
  <div class="container-max">

    <div class="component-header bottom-border">
      <h4>Workspaces</h4>
    </div>

    <div class="container">
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{selectedWorkspace ? 'Edit Workspace' : 'Add new Workspace'}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Name</span>
                </div>
                <input id="name" class="form-control" placeholder="Project Name" name="name" [(ngModel)]='inputName'>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Description</span>
                </div>
                <textarea id="description" class="form-control" name="description" aria-label="With textarea" [(ngModel)]='inputDescription'></textarea>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="c('Save click')">{{selectedWorkspace ? 'Save Changes' : 'Save Workspace'}}</button>
        </div>
      </ng-template>

      <div class="card-group">

        <div class="card shadow-panel" *ngFor="let workspace of workspaces; let i=index; trackBy:trackById;">
          <div class="card-body">
            <h5 class="card-title">{{workspace.name}}</h5>
            <p class="card-text">{{workspace.description}}</p>
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)='goToProjectsClicked(workspace)'>Go To Projects</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block" (click)='manageUsersClicked(workspace)'>Manage Users</button>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated {{workspace.updatedAt | date:'shortTime'}}</small>
          </div>
        </div>

        <div class="card shadow-panel">
          <div class="card-body">
            <h5 class="card-title">Create a new Workspace</h5>
            <p class="card-text">Worksapces allow for team collobaration on multiple projectes and are the foundation of all workflows within
              Neptuna.
            </p>

            <div class="center">
              <a class="btn btn-primary" (click)='showAddModal(content)'>Create</a>
            </div>

          </div>
          <div class="card-footer">
            <small class="text-muted">Created with by :heart: Joel</small>
          </div>
        </div>

      </div>

    </div>
  </div>