@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .app-container {
    background-color: mat.get-color-from-palette($background, background);
  }
}
