<div class="auth-page-container">

  <div class="auth-progress-bar">
    <mat-progress-bar mode="indeterminate" *ngIf="$authLoading | async"></mat-progress-bar>
  </div>

  <form [formGroup]="registerGroup" (ngSubmit)="register()">

    <h2 class="mat-typography auth-title">
      Create new Account
    </h2>

    <mat-form-field appearance="outline">
      <mat-label>Firstname</mat-label>
      <input
        matInput
        name="firstname"
        formControlName="firstname"
        autocomplete="givenname"
      />
      <mat-error *ngIf="firstname.hasError('firstname') && !firstname.hasError('required')">
        Please enter a valid Firstname
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
          Firstname is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lastname</mat-label>
      <input
        matInput
        name="lastname"
        formControlName="lastname"
        autocomplete="familyname"
      />
      <mat-error *ngIf="lastname.hasError('lastname') && !lastname.hasError('required')">
        Please enter a valid Lastname
      </mat-error>
      <mat-error *ngIf="lastname.hasError('required')">
          Lastname is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input
        matInput
        name="email"
        formControlName="email"
        autocomplete="username"
      />
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="new-password"
        formControlName="password0"
        autocomplete="new-password"
      />
      <mat-error *ngIf="password0.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        name="confirm-new-password"
        formControlName="password1"
        autocomplete="new-password"
      />
      <mat-error *ngIf="password1.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button
        mat-stroked-button
        color="primary"
        type="submit"
        class="form-action-button"
      >
        Register Account
      </button>

      <a
        mat-button
        color="primary"
        type="button"
        class="form-action-button"
        [routerLink]="['/auth/login']"
      >
        Back to Log in
    </a>
    </div>
  </form>
</div>
