<input
  #importTasksInput
  name="file"
  type="file"
  class="hidden h-0 w-0"
  accept=".csv"
  (change)="handleFileInput($event)"
  />

<app-page-container
  [marginBottom]="false"
  [verticalPadding]="false"
  [fullHeight]="true"
  >
  @if (boardGroupsLoaded()) {
    <app-page-header
      [title]="boardName()"
      [titleEditable]="isAuthenticated()"
      [overflowActions]="isAuthenticated() ? secondaryActions : []"
      (titleSubmitted)="onTitleSubmitted($event)"
      >
      <app-board-group-header />
    </app-page-header>
  }

  @if (loading()) {
    <div class="flex h-full flex-col items-center justify-center">
      <app-spinner diameter="32px" />
    </div>
  } @else {
    @if (groups(); as groups) {
      <div
        cdkDropList
        appScrollShadow
        class="board-groups rounded-lg overflow-hidden custom-scroll flex w-full flex-1 flex-row overflow-x-scroll pb-4 max-h-[calc(100vh-180px)] max-[600px]:max-h-[calc(100vh-154px)]"
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="groups"
        >
        @for (group of groups; track trackBoardGroup($index, group)) {
          <app-board-group
            cdkDrag
            [cdkDragDisabled]="!isAuthenticated()"
            class="board-group mr-4 flex w-75 flex-none flex-col overflow-hidden rounded-[.4rem]"
            [cdkDragData]="group"
            [group]="group"
            [siblingIds]="getsiblingIds(group, groups)"
            [dragListId]="group.id.toString()"
            >
            <span
              cdkDragHandle
              class="group/header flex cursor-pointer flex-row items-center justify-between uppercase">
              <div class="flex h-12.5 w-full flex-row-reverse items-center justify-end pl-4 text-sm font-medium tracking-[.1px] text-foreground/60">
                @if (group.type === 2) {
                  <svg
                    lucideCheck
                    class="ml-[.4rem] h-4 w-4 text-green-500"
                    appTooltip="Tasks moved into this group will be marked as Done"
                    ></svg>
                }
                <app-inline-edit-input
                  class="ml-[.2rem] w-full rounded-sm px-1.5 py-1 transition-colors duration-200 hover:bg-primary/6"
                  [size]="group.name.length"
                  [value]="group.name"
                  [disabled]="!isAuthenticated()"
                  (submitted)="onGroupNameSubmitted($event, group)"
                  >
                </app-inline-edit-input>
                <span class="ml-[.2rem] font-bold text-foreground/30">{{ group.tasks.length }}</span>
              </div>
              @if (isAuthenticated()) {
                <button
                  app-icon-button
                  class="mx-[.2rem] invisible group-hover/header:visible"
                  (click)="onDeleteGroupClicked(group)"
                  >
                  <svg lucideX class="h-4 w-4 text-foreground/40"></svg>
                </button>
              }
            </span>
          </app-board-group>
        }
        @if (isAuthenticated()) {
          <app-create-board-group class="board-group mr-4 flex w-75 flex-none flex-col overflow-hidden rounded-[.4rem]" />
        }
      </div>
    }
  }

</app-page-container>
