<input
  #importTasksInput
  name="file"
  type="file"
  class="import-tasks-input"
  accept=".csv"
  (change)="handleFileInput($event)"
  />

<app-page-container
  [marginBottom]="false"
  [verticalPadding]="false"
  [fullHeight]="true"
  >
  @if (boardGroupsLoaded()) {
    <app-page-header
      [title]="boardName()"
      [titleEditable]="true"
      [overflowActions]="secondaryActions"
      [backLink]="['../../boards']"
      (titleSubmitted)="onTitleSubmitted($event)"
      backLabel="Back to boards"
      >
      <div class="board-filter-seperator"></div>
      <app-board-groups-search />
      <div class="board-filter-seperator"></div>
      <app-board-group-users />
      <div class="board-filter-seperator"></div>
      <app-board-group-tags />
      <app-board-groups-flagged />
      <app-board-groups-selection />
    </app-page-header>
  }

  @if (loading()) {
    <div class="page-loading">
      <mat-spinner diameter="32" />
    </div>
  } @else {
    @if (groups(); as groups) {
      <div
        cdkDropList
        appScrollShadow
        class="board-groups custom-scroll"
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="groups"
        >
        @for (group of groups; track trackBoardGroup($index, group)) {
          <app-board-group
            cdkDrag
            class="board-group"
            [cdkDragData]="group"
            [group]="group"
            [siblingIds]="getsiblingIds(group, groups)"
            [dragListId]="group.id.toString()"
            >
            <span class="board-group-header" cdkDragHandle>
              <div class="title">
                @if (group.type === 2) {
                  <mat-icon
                    class="task-complete done-group"
                    matTooltip="Tasks moved into this group will be marked as Done"
                    >
                    done
                  </mat-icon>
                }
                <app-inline-edit-input
                  class="title-input"
                  [size]="group.name.length"
                  [value]="group.name"
                  (submitted)="onGroupNameSubmitted($event, group)"
                  >
                </app-inline-edit-input>
                <span>{{ group.tasks.length }}</span>
              </div>
              <button
                mat-icon-button
                class="delete-board-group-btn"
                (click)="onDeleteGroupClicked(group)"
                >
                <mat-icon>close</mat-icon>
              </button>
            </span>
          </app-board-group>
        }
        <app-create-board-group class="board-group" />
      </div>
    }
  }

</app-page-container>
