@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin board-groups-view-theme($theme) {
  .board-group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    span {
      color: rgba(var(--foreground-rgb), .3);
    }

    .title {
      color: rgba(var(--foreground-rgb), .6);

      .title-input:hover,
      .title-input.edit-active {
        background-color: rgba(var(--mat-sys-primary-container), .06);
      }
    }

    .delete-board-group-btn
    .mat-icon {
      color: rgba(var(--foreground-rgb), .4);
    }
  }
}
