<input
  #importTasksInput
  name="file"
  type="file"
  class="import-tasks-input"
  accept=".csv"
  (change)="handleFileInput($event)"
/>

<app-page-container
  [marginBottom]="false"
  [verticalPadding]="false"
  [fullHeight]="true"
>
  <app-page-header
    *ngIf="boardGroupsLoaded$ | async"
    [title]="selectedBoardName$ | async"
    [titleEditable]="true"
    [overflowActions]="secondaryActions"
    [backLink]="['../../boards']"
    (titleSubmitted)="onTitleSubmitted($event)"
    backLabel="Back to boards"
  >
    <div class="board-filter-seperator"></div>

    <app-board-groups-search />

    <div class="board-filter-seperator"></div>

    <app-board-group-users />

    <div class="board-filter-seperator"></div>

    <app-board-group-tags />
    <app-board-groups-flagged />

    <app-board-groups-selection />
  </app-page-header>

  <ng-container *ngIf="loading$ | async; else elseTemplate">
    <div class="page-loading">
      <mat-spinner diameter="32" />
    </div>
  </ng-container>

  <ng-template #elseTemplate>
    <div
      cdkDropList
      appScrollShadow
      class="board-groups custom-scroll"
      *ngIf="groups$ | async as groups"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="groups"
    >
      <app-board-group
        cdkDrag
        class="board-group"
        *ngFor="let group of groups; trackBy:trackBoardGroup"
        [cdkDragData]="group"
        [group]="group"
        [siblingIds]="getsiblingIds(group, groups)"
        [dragListId]="group.id.toString()"
      >
        <span class="board-group-header" cdkDragHandle>
          <div class="title">
            <mat-icon
              *ngIf="group.type === 2"
              class="task-complete done-group"
              matTooltip="Tasks moved into this group will be marked as Done"
            >
              done
            </mat-icon>

            <app-inline-edit-input
              class="title-input"
              [size]="group.name.length"
              [value]="group.name"
              (submitted)="onGroupNameSubmitted($event, group)"
            >
            </app-inline-edit-input>

            <span>{{ group.tasks.length }}</span>
          </div>
          <app-button
            mat-icon-button
            class="delete-board-group-btn"
            (click)="onDeleteGroupClicked(group)"
          >
            <mat-icon>close</mat-icon>
          </app-button>
        </span>
      </app-board-group>

      <app-create-board-group class="board-group" />
    </div>
  </ng-template>
</app-page-container>
