@use '@angular/material' as mat;

@mixin board-groups-view-theme($theme) {
  .board-group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    span {
      color: mat.get-color-from-palette($foreground, text, .3);
    }

    .title {
      color: mat.get-color-from-palette($foreground, text, .6);

      .title-input:hover,
      .title-input.edit-active {
        background-color: mat.get-color-from-palette($primary, .06);
      }
    }

    .delete-board-group-btn
    .mat-icon {
      color: mat.get-color-from-palette($foreground, icon, .4);
    }
  }
}
