@import '~@angular/material/theming';

@mixin board-group-task-inline-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .inline-task-textarea {
    color: mat-color($foreground, text);
    background-color: mat-color($background, card);
  }

  .inline-task-container {
    border: 4px solid mat-color($primary, 400, .6);
    background-color: mat-color($background, card);
    box-shadow: 1px 2px 4px mat-color($foreground, text, .1) !important;
  }
}
