.inline-task-container {
  border-radius: .2rem;
  overflow: hidden;
  padding: .4rem;
}

.inline-task-textarea {
  border: 0;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: .1px;
  width: 100%;
}

.create-in-progress {
  opacity: .6;
}

.inline-task-footer {
  height: 1.6rem;
  padding: .4rem;
}
