<div
  class="inline-task-container"
  [class.create-in-progress]="createInProgress$ | async"
  #taskInlineContainer
>
  <textarea
    class="inline-task-textarea"
    #taskInput
    matInput
    [formControl]="taskInputControl"
    cdkTextareaAutosize
    cdkAutosizeMinRows="2"
    cdkAutosizeMaxRows="12"
    #autosize="cdkTextareaAutosize"
    (keydown.enter)="onSubmit($event)"
    placeholder="What do you need to get done?"
    maxlength="256"
  >
  </textarea>
  <div class="inline-task-footer">
    <app-spinner
      *ngIf="createInProgress$ | async"
      diameter="1.4rem"
    >
    </app-spinner>
  </div>
</div>
