@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin board-group-task-inline-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .inline-task-textarea {
    color: mat.get-color-from-palette($foreground, text);
    background-color: mat.get-color-from-palette($background, card);
  }

  .inline-task-container {
    border: 4px solid mat.get-color-from-palette($primary, 400, .6);
    background-color: mat.get-color-from-palette($background, card);
    box-shadow: 1px 2px 4px mat.get-color-from-palette($foreground, text, .1) !important;
  }

  .inline-task-info-message {
    border-radius: 50%;
    background-color: mat.get-color-from-palette($primary);
    text-align: center;
    height: 24px;
    width: 24px;
    line-height: 24px;
    color: rgb(255, 255, 255);
  }
}
