<div
  class="inline-task-container"
  [class.create-in-progress]="loading()"
  [class.active]="!loading()"
  #taskInlineContainer
  >
  <textarea
    class="inline-task-textarea"
    #textarea
    matInput
    [field]="taskForm.name"
    cdkTextareaAutosize
    cdkAutosizeMinRows="2"
    cdkAutosizeMaxRows="12"
    #autosize="cdkTextareaAutosize"
    (keydown.enter)="onSubmit($event)"
    [cdkTrapFocusAutoCapture]="true"
    [cdkTrapFocus]="true"
    placeholder="What do you need to get done?"
    >
  </textarea>
  <div class="inline-task-footer">
    @if (message(); as message) {
      <div
        class="inline-task-info-message"
        [matTooltip]="message"
        >
        !
      </div>
    }

    @if (loading()) {
      <app-spinner diameter="1.4rem">
      </app-spinner>
    }
  </div>
</div>
