<div class="boards-grid card-group">

    <a
      *ngFor="let board of boards$ | async"
      [routerLink]="['.', board.identifier]"
      routerLinkActive="router-link-active"
    >
      <mat-card class="board-grid-item">
        <mat-card-header>
          <div
            mat-card-avatar
            class="user-header-image"
          >
            <mat-icon class="material-icons-outlined">table_chart</mat-icon>
          </div>
          <mat-card-title>{{ board.name }}</mat-card-title>
          <mat-card-subtitle>{{ board.identifier }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-chip-list>
            <mat-chip>{{ 'created ' + (board.createdAt | fromNow) }}</mat-chip>
          </mat-chip-list>
        </mat-card-content>

      </mat-card>
    </a>
</div>
