<app-card class="create-workspace-card">
  <app-card-title>Create a new Workspace</app-card-title>
  <app-card-content>
    <p class="card-text">
      Workspaces allow for team collaboration on multiple projects and are the
      foundation of all workflows within Netptune.
    </p>

    <app-card-actions>
      <app-button
        mat-stroked-button
        color="primary"
        (click)="openWorkspaceDialog()"
      >
        Create Workspace
      </app-button>
    </app-card-actions>
  </app-card-content>
  <div class="card-footer">
    <small class="text-muted">Created with ❤ by Joel</small>
  </div>
</app-card>
