<div class="px-md-3 px-lg-5">

  <div class="component-header">
    <button mat-fab type="button" id="new-button">
      <mat-icon>send</mat-icon>
      <span id="new-button-text">Invite User</span>
    </button>
  </div>

  <div>

    <div class="user-card-group">

      <mat-card *ngFor="let user of users$ | async; let i=index; trackBy:trackById;">
        <mat-card-header>
          <div mat-card-avatar class="far fa-user"></div>
          <mat-card-title>{{ toDisplay(user) }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip><i class="fas fa-user-check"></i> {{ user.lastLoginTime | date }}</mat-chip>
            <mat-chip><i class="fas fa-user-clock"></i> {{ user.registrationDate | date }}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
