@use '@angular/material' as mat;

@mixin task-list-item-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .task-item {
    background-color: mat.get-color-from-palette($background, card);

    .task-scope-id {
      background-color: mat.get-color-from-palette($foreground, text, .1);
    }

    .drag {
      color: rgba(mat.get-color-from-palette($foreground, icon), .3);
    }
  }

  .task-item:hover {
    background-color: darken(mat.get-color-from-palette($background, card), 2);
  }

  .task-item-selected {
    background-color: mat.get-color-from-palette($primary, 400, .1);
  }

  .project-chip {
    color: mat.get-color-from-palette($foreground, text, .7);
    background-color: mat.get-color-from-palette($foreground, text, .06);
  }
}
