.task-item {
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  display: flex;
  align-items: center;
  height: 40px;
  overflow: hidden;

  .task-action {
    flex: 0 0 40px;
  }

  .task-checkbox {
    flex: 0 0 32px;
  }

  .task-scope-id-col {
    flex: 0 0 100px;
  }

  .task-scope-id {
    border-radius: 4px;
    padding: .2rem .4rem;
    font-size: 14px;
    display: inline;
  }

  .title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }

  .flag,
  .task-complete {
    flex: 0 0 32px;
    font-size: 1.2rem;
  }

  app-avatar {
    flex: 0 0 38px;
  }
}

.task-item {
  background-color: var(--card);

  .task-scope-id {
    background-color: rgba(var(--foreground-rgb), .1);
  }

  .drag {
    color: rgba(var(--foreground-rgb), .3);
  }
}

.task-item:hover {
  background-color: var(--card);
}

.task-item-selected {
  background-color: rgba(var(--primary-rgb), 400, .1);
}

.project-chip {
  color: rgba(var(--foreground-rgb), .7);
  background-color: rgba(var(--foreground-rgb), .06);
}
