@use '@angular/material' as mat;

@mixin task-list-item-theme($theme) {

  .task-item {
    background-color: $card;

    .task-scope-id {
      background-color: mat.m2-get-color-from-palette($foreground, text, .1);
    }

    .drag {
      color: rgba(mat.m2-get-color-from-palette($foreground, icon), .3);
    }
  }

  .task-item:hover {
    background-color: darken($card, 2);
  }

  .task-item-selected {
    background-color: mat.m2-get-color-from-palette($primary, 400, .1);
  }

  .project-chip {
    color: mat.m2-get-color-from-palette($foreground, text, .7);
    background-color: mat.m2-get-color-from-palette($foreground, text, .06);
  }
}
