@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin task-list-item-theme($theme) {

  .task-item {
    background-color: var(--card);

    .task-scope-id {
      background-color: rgba(var(--foreground-rgb), .1);
    }

    .drag {
      color: rgba(var(--foreground-rgb), .3); //TODO
    }
  }

  .task-item:hover {
    background-color: var(--card);
  }

  .task-item-selected {
    background-color: rgba(var(--mat-sys-primary-container), 400, .1);
  }

  .project-chip {
    color: rgba(var(--foreground-rgb), .7);
    background-color: rgba(var(--foreground-rgb), .06);
  }
}
