@use '@angular/material' as mat;

@mixin board-groups-search-theme($theme) {
  .board-groups-search-input {
    background-color: mat.m2-get-color-from-palette($foreground, text, .04);
    border-color: mat.m2-get-color-from-palette($foreground, text, .1) !important;

    &:focus-within,
    &.active {
      background-color: transparent;
      border-color: mat.m2-get-color-from-palette($primary) !important;
    }

    &.invalid {
      border-color: mat.m2-get-color-from-palette($warn) !important;
    }

    mat-icon {
      color: mat.m2-get-color-from-palette($foreground, text, .1) !important;
    }

    .clear-search:hover {
      color: mat.m2-get-color-from-palette($primary) !important;
    }
  }
}
