@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;

@mixin board-groups-search-theme($theme) {
  .board-groups-search-input {
    background-color: rgba(var(--foreground-rgb), .04);
    border-color: rgba(var(--foreground-rgb), .1) !important;

    &:focus-within,
    &.active {
      background-color: transparent;
      border-color: var(--mat-sys-primary-container) !important;
    }

    &.invalid {
      border-color: var(--mat-sys-error-container) !important;
    }

    mat-icon {
      color: rgba(var(--foreground-rgb), .1) !important;
    }

    .clear-search:hover {
      color: var(--mat-sys-primary-container) !important;
    }
  }
}
