<div
  class="board-groups-search-input"
  [class.invalid]="termForm.term().value() && termForm.term().touched() && termForm.term().invalid()"
  [class.active]="termForm.term().value() && termForm.term().touched() && termForm.term().valid()"
  >
  <input
    type="text"
    placeholder="Search"
    [formField]="termForm.term"
    (keydown.enter)="onSubmit()"
    />

  @if (termForm.term().value()) {
    <svg
      lucideX
      aria-hidden="false"
      aria-label="Clear Search Icon"
      class="clear-search h-4 w-4"
      matTooltip="Clear search term"
      (click)="onClearClicked()"
      ></svg>
  } @else {
    <svg
      lucideSearch
      aria-hidden="false"
      aria-label="Search Icon"
      class="h-4 w-4"
      ></svg>
  }
</div>
