<div
  class="board-groups-search-input"
  [class.invalid]="termForm.term().value() && termForm.term().touched() && termForm.term().invalid()"
  [class.active]="termForm.term().value() && termForm.term().touched() && termForm.term().valid()"
  >
  <input
    type="text"
    placeholder="Search"
    [field]="termForm.term"
    (keydown.enter)="onSubmit()"
    />

  @if (termForm.term().value()) {
    <mat-icon
      aria-hidden="false"
      aria-label="Clear Search Icon"
      class="material-icons-outlined clear-search"
      matTooltip="Clear search term"
      (click)="onClearClicked()"
      >
      close
    </mat-icon>
  } @else {
    <mat-icon
      aria-hidden="false"
      aria-label="Search Icon"
      class="material-icons-outlined"
      >
      search
    </mat-icon>
  }
</div>
