<div
  class="board-groups-search-input"
  [class.invalid]="termFormControl.value && termFormControl.touched && termFormControl.invalid"
  [class.active]="termFormControl.value && termFormControl.valid"
  >
  <input
    type="text"
    placeholder="Search"
    [formControl]="termFormControl"
    (keydown.enter)="onSubmit()"
    />

  @if (termFormControl.value) {
    <mat-icon
      aria-hidden="false"
      aria-label="Clear Search Icon"
      class="material-icons-outlined clear-search"
      matTooltip="Clear search term"
      (click)="onClearClicked()"
      >
      close
    </mat-icon>
  } @else {
    <mat-icon
      aria-hidden="false"
      aria-label="Search Icon"
      class="material-icons-outlined"
      >
      search
    </mat-icon>
  }
</div>
