.board-groups-search-input {
  border: 2px solid;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: .4rem;
  transition: background-color .24s ease-out;
  border-color: rgba(var(--foreground-rgb), .1) !important;
  background-color: var(--seconday-background);

  &:focus-within,
  &.active {
    background-color: transparent;
    border-color: var(--primary) !important;
  }

  &.invalid {
    border-color: var(--warn) !important;
  }

  mat-icon {
    color: rgba(var(--foreground-rgb), .1) !important;
  }

  .clear-search:hover {
    color: var(--primary) !important;
  }
}

input {
  appearance: none;
  border: 0;
  background-color: transparent;
  color: inherit;
  padding: 0 .8rem;
  outline: none;
  line-height: 33px;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  width: 180px;
  transition: width .14s ease-out;

  &:placeholder-shown:not(:focus) {
    width: 80px;
  }

  &::placeholder {
    opacity: .6;
  }
}

.clear-search {
  cursor: pointer;
}
