.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav-spacer {
  flex: 1;
}

.app-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 72px;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: width .2s ease-in-out;
  z-index: 900;

  &.app-sidenav-expanded {
    width: 248px;

    .main-logo {
      margin-left: auto;
      margin-right: auto;
    }

    .app-menu-link-profile {
      margin-left: 13px;
      margin-right: 18px;
    }

    .app-sidenav-list {
      align-items: flex-start;
      padding: 1rem .5rem;
    }

    .app-menu-link {
      width: 100%;
      justify-content: flex-start;
    }

    mat-icon {
      margin: 0 20px 0 1rem;
    }

    p {
      display: block;
    }
  }
}

.app-sidenav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;

  & > * {
    margin: .4rem 0;
  }

  & > .main-logo {
    margin: .4rem auto 2rem;
  }
}

.app-menu-link {
  color: rgba(255, 255, 255, .6);
  height: 2.6rem;
  width: 56px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: .8rem;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;

  p {
    display: none;
  }
}

.app-menu-collapse {
  user-select: none;
  align-items: center;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
  padding: .4rem 0;

  mat-icon {
    margin: 0 20px 0 22px !important;
  }
}

main {
  height: 100vh;
  transition: margin-left .2s ease-in-out;

  &.app-sidenav-open {
    margin-left: 72px;
  }

  &.app-sidenav-expanded {
    margin-left: 248px;
  }
}

.app-menu-link {
  color: rgba(255, 255, 255, 1);
}

.app-menu-link:hover {
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgba(var(--side-bar-active-rgb), .5) !important;
}

.app-sidenav {
  background-color: var(--side-bar);
}

.app-menu-link.router-link-active {
  background-color: var(--side-bar-active);
  color: rgba(255, 255, 255, 1);
}

.app-menu-link.router-link-active:hover,
.app-menu-link.router-link-active:focus {
  color: rgba(255, 255, 255, 1) !important;
  background-color: var(--side-bar-active);
}

.app-menu-collapse {
  background-color: var(--side-bar-active);

}

.app-is-mobile {
  .app-sidenav {
    width: calc(100vw - 72px - 72px) !important;
  }

  .app-menu-link {
    height: 3em !important;

    .mat-mdc-list-item-icon {
      width: 24px !important;
      height: 24px !important;
      font-size: 24px !important;
    }
  }
}
