@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin shell-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .app-menu-link {
    color: rgba(255, 255, 255, 1);
  }

  .app-menu-link:hover {
    color: rgba(255, 255, 255, 1) !important;
    background-color: lighten(mat.get-color-from-palette($background, side-bar), 8) !important;
  }

  .app-sidenav {
    background-color: mat.get-color-from-palette($background, side-bar);
  }

  .app-menu-link.router-link-active {
    background-color: lighten(mat.get-color-from-palette($background, side-bar), 10);
    color: rgba(255, 255, 255, 1);
  }

  .app-menu-link.router-link-active:hover,
  .app-menu-link.router-link-active:focus {
    color: rgba(255, 255, 255, 1) !important;
    background-color: lighten(mat.get-color-from-palette($background, side-bar), 12) !important;
  }

  .app-menu-collapse {
    background-color: lighten(mat.get-color-from-palette($background, side-bar), 12) !important;

  }

  .app-is-mobile {
    .app-sidenav {
      width: calc(100vw - 72px- 72px) !important;
    }

    .app-menu-link {
      height: 3em !important;

      .mat-list-icon {
        width: 24px !important;
        height: 24px !important;
        font-size: 24px !important;
      }
    }
  }
}
