<div class="app-container">
  <div
    class="app-sidenav"
    [class.app-sidenav-expanded]="sideNavExpanded"
    *ngIf="sideMenuOpen$ | async"
    (closedStart)="onSidenavClosedStart()"
  >
    <div class="app-sidenav-list">
      <a
        class="main-logo"
        [routerLink]="['/workspaces']"
        matTooltip="Go to Workspaces"
        matTooltipPosition="right"
      >
        <img
          src="assets/apple-touch-icon.png"
          alt="Netptune logo"
          width="48"
          height="48"
        >
      </a>
      <a
        *ngFor="let link of links"
        [routerLink]="link.value"
        class="app-menu-link"
        routerLinkActive="router-link-active"
      >
        <mat-icon mat-list-icon class="material-icons-round">
          {{ link.icon }}
        </mat-icon>
        <p>
          {{ link.label }}
        </p>
      </a>
    </div>

    <div class="app-sidenav-list">
      <a
        *ngFor="let link of bottomLinks"
        [routerLink]="link.value"
        class="app-menu-link"
        routerLinkActive="router-link-active"
      >
        <mat-icon mat-list-icon class="material-icons-round">
          {{ link.icon }}
        </mat-icon>
        <p>
          {{ link.label }}
        </p>
      </a>

      <div class="app-menu-link app-menu-collapse" (click)="onToggleExpandClicked()">
        <mat-icon mat-list-icon class="material-icons-round">
          {{ sideNavExpanded ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}
        </mat-icon>
      </div>
    </div>

  </div>

  <main [class.app-sidenav-expanded]="sideNavExpanded">
    <router-outlet></router-outlet>
  </main>

</div>
