@import '~@angular/material/theming';

@mixin task-list-group-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .task-list {
    background-color: mat-color($background, card);
    border: 1px solid mat-color($background, disabled-button);
    box-shadow: 1px 2px 4px rgba(0,0,0,.03);
  }

  .task-drag {
    background-color: mat-color($background);
    border-bottom: 1px solid mat-color($background, disabled-button);
  }

  .empty-list-img, .list-empty-mark {
    color: mat-color($foreground, empty-list);
    .empty-text {
      color: mat-color($foreground, disabled-button);
    }
  }

}
