<div class="tasks-container">
  <h4> {{ header }} </h4>
  <div class="task-list">

    <ng-container *ngIf="(loaded | async) && tasks.length; else elseTemplate">

      <div
        cdkDropList
        class="task-list-group"
        [cdkDropListData]="{ tasks: tasks, status: status }"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          cdkDrag
          class="task-drag"
          app-task-list-item
          *ngFor="let taskItem of tasks"
          [task]="taskItem"
          [cdkDragData]="taskItem"
        >
        </div>
        <app-task-inline [status]="status"></app-task-inline>
      </div>

    </ng-container>

    <ng-template #elseTemplate>
      <ng-container *ngIf="(loaded | async); else loadedElseTemplate">

        <app-task-inline [status]="status"></app-task-inline>

        <div class="list-empty">
          <div class="list-empty-mark">
            <i class="far fa-compass"></i>
            <h4 class="empty-text">
              {{ emptyMessage }}
            </h4>
          </div>
        </div>

      </ng-container>
      <ng-template #loadedElseTemplate>

        <div class="spinner-container">
          <div class="typing-loader"></div>
        </div>

      </ng-template>
    </ng-template>

  </div>
</div>
