@import '~@angular/material/theming';

@mixin task-list-group-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);


  @media only screen and (max-width: 600px) {
    .task-list {
      background-color: mat-color($background, card);
      border-left: none !important;
      border-right: none  !important;
      border-top: 1px solid mat-color($background, disabled-button);
      border-bottom: 1px solid mat-color($background, disabled-button);
      box-shadow: 1px 2px 4px rgba(0,0,0,.03);
    }
  }

  .task-list {
    background-color: mat-color($background, card);
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
  }

  .task-drag {
    background-color: mat-color($background);
    border-bottom: 1px solid mat-color($background, disabled-button);
  }

  .empty-list-img, .list-empty-mark {
    color: mat-color($foreground, empty-list);
    .empty-text {
      color: mat-color($foreground, disabled-button);
    }
  }

}
