<div class="container tasks-container">
  <h4> {{ header }} </h4>
  <div class="task-list">

    <ng-container *ngIf="(tasks | async).length > 0 && (loaded | async); else elseTemplate">

      <div class="task-drag" *ngFor="let taskItem of tasks | async">
        <app-task-list-item [task]="taskItem">
        </app-task-list-item>
      </div>

    </ng-container>
    <ng-template #elseTemplate>
      <ng-container *ngIf="(loaded | async); else loadedElseTemplate">

        <div class="list-empty">
          <div class="list-empty-mark">
            <i class="far fa-compass"></i>
            <h4 class="empty-text">
              {{ emptyMessage }}
            </h4>
          </div>
        </div>

      </ng-container>
      <ng-template #loadedElseTemplate>

        <div class="spinner-container">
          <div class="typing_loader"></div>
        </div>

      </ng-template>
    </ng-template>

  </div>
</div>
