<div class="container main">
  <div class="container-max">

    <div class="component-header bottom-border">
      <h4>Tasks</h4>
      <button mat-button type="button" class="new-button float-right" (click)='showAddModal()'>
        <i class="fas fa-project-diagram"></i>
        New
      </button>
    </div>

    <div *ngIf="!projectTaskService.tasks">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="container tasks-container" [hidden]='projectTaskService.myTasks.length < 1'>
      <h4>My Tasks</h4>

      <app-task-list [tasks]='projectTaskService.myTasks'></app-task-list>

    </div>

    <div class="container tasks-container" [hidden]='projectTaskService.tasks.length < 1'>
      <h4>Backlog</h4>

      <app-task-list [tasks]='projectTaskService.tasks'></app-task-list>

    </div>

    <button mat-button *ngIf="projectTaskService.tasks && projectTaskService.tasks.length > 0" type="button" class="btn btn-light float-right"
      id="export-button" (click)='exportProjects()' [disabled]='exportInProgress'>
      Export Projects
    </button>

  </div>
</div>
