<div class="container main fade-in" *ngIf="dataLoaded">
  <div class="container-max">

    <div class="component-header bottom-border">
      <h4>Tasks</h4>
      <button mat-raised-button type="button" class="float-right" id="new-button" (click)='showAddModal()'>
        <i class="fas fa-plus"></i>
        New Task
      </button>
    </div>

    <div *ngIf="!projectTaskService.tasks">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <mat-accordion class="tasks-accordion" [multi]='true' [hideToggle]='false'>

      <div class="container tasks-container" [hidden]='myTasks.length === 0'>
        <h4 (click)='myTaskspanel.toggle()' id="container-header">My Tasks</h4>
        <mat-expansion-panel [expanded]='(isDragging$ | async) || true' id="task-expansion" #myTaskspanel>
          <app-task-list [(tasks)]='myTasks' dragGroupName="PROJECT_TASKS" [identifier]="inProgressStatus"></app-task-list>
        </mat-expansion-panel>
      </div>

      <div class="container tasks-container" [hidden]='completedTasks.length === 0' id="completed-container">
        <h4 (click)='completedTasksspanel.toggle()' id="container-header">
          <i class="fas fa-clipboard-check"></i>
          Completed Tasks
        </h4>
        <mat-expansion-panel [expanded]='(isDragging$ | async) || true' id="task-expansion" #completedTasksspanel>
          <app-task-list [(tasks)]='completedTasks' dragGroupName="PROJECT_TASKS" [identifier]="completedStatus"></app-task-list>
        </mat-expansion-panel>
      </div>

      <div class="container tasks-container" id="backlog-container">
        <h4 (click)='taskspanel.toggle()' id="container-header-dark-text">
          <i class="fas fa-th-list"></i>
          Backlog
        </h4>
        <mat-expansion-panel [expanded]='(isDragging$ | async) || true' id="task-expansion" #taskspanel>
          <app-task-list [(tasks)]='backlogTasks' dragGroupName="PROJECT_TASKS" [identifier]="backlogStatus" [dragExpaneded]='isDragging$ | async'></app-task-list>
        </mat-expansion-panel>
      </div>

    </mat-accordion>

  </div>
</div>