<div class="auth-page-container">
  <form
    [formGroup]="requestPasswordResetGroup"
    (ngSubmit)="requestPasswordReset()"
  >
    <div class="auth-progress-bar">
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="authLoading$ | async"
      ></mat-progress-bar>
    </div>

    <h3 class="auth-title">Request Password Reset</h3>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        id="email"
        name="email"
        formControlName="email"
        autocomplete="username"
      />
      <mat-error
        *ngIf="email.hasError('password') && !email.hasError('required')"
      >
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <div class="button-container mt-2">
      <a
        mat-button
        color="primary"
        type="button"
        class="form-action-button"
        [routerLink]="['/auth/login']"
      >
        Back to Log in
      </a>

      <button mat-stroked-button color="primary" type="submit">
        Send Password Reset Email
      </button>
    </div>
  </form>
</div>
