<div class="app-list mb-5">
  @for (user of users(); track user.id) {
  <app-user-list-item [user]="user">
    <button
      class="app-list-item-action"
      cdkDragHandle
      mat-icon-button
      aria-label="more"
      matTooltip="click for more options. click and hold to drag task"
      [matTooltipShowDelay]="1200"
      [matMenuTriggerData]="{ user: user }"
      [matMenuTriggerFor]="menu"
    >
      <svg lucideGripVertical class="app-list-drag-icon h-4 w-4"></svg>
    </button>

    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        @if (!user.isWorkspaceOwner) {
        <button mat-menu-item (click)="onRemoveClicked(user)">
          <svg lucideTrash2 class="h-4 w-4"></svg>
          <span>Remove user from workspace</span>
        </button>
        }
      </ng-template>
    </mat-menu>
  </app-user-list-item>
  }
</div>
