@import '~@angular/material/theming';

@mixin app-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  main {
    background-color: mat-color($background, background);
  }

  .app-shell-sidenav {
    background-color: mat-color($background, side-bar);
  }

  .workspace-nav-list {
    .app-workspace-link {
      color: mat-color($background, card);
    }
  }
}
