<main>
  <mat-sidenav-container
    class="app-shell"
    [class.app-is-mobile]="mobileQuery.matches"
  >
    <mat-sidenav
      [opened]="!mobileQuery.matches && (authenticated$ | async)"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      class="app-shell-sidenav"
    >
      <mat-nav-list>
        <a
          class="main-logo"
          [routerLink]="['/workspaces']"
          matTooltip="Go to Workspaces"
          matTooltipPosition="right"
        >
          <img
            src="assets/apple-touch-icon.png"
            alt="Netptune logo"
            width="48"
            height="48"
          >
        </a>
      </mat-nav-list>


      <div class="workspace-nav-list">
        <a
          class="app-workspace-link"
          routerLinkActive="router-link-active"
          *ngFor="let workspace of workspaces$ | async"
          [routerLink]="['/', workspace.slug]"
          [matTooltip]="workspace?.name"
          matTooltipPosition="right"
        >
          <div
            class="app-workspace-link-inner"
            [style.backgroundColor]="workspace?.metaInfo.color"
          >
            {{ workspace.name[0] }}
          </div>
        </a>
      </div>


    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
