.mat-drawer-container {
  height: 100vh;
}

.app-shell-sidenav {
  width: 72px;
  border: 0 !important;
  transition: background-color .14s ease-in-out;

  &.zero-width {
    width: 0;
  }
}

.main-logo {
  display: flex;
  padding-top: 6px;

  img {
    margin: auto;
  }
}

.workspace-nav-list {
  display: flex;
  flex-direction: column;
  padding: .4rem .2rem;
  align-items: center;

  .app-workspace-link {
    box-sizing: border-box;
    margin: .4rem 0;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    width: 48px;
    height: 48px;
    border-radius: .2rem;
    cursor: pointer !important;
    transition: padding .14s ease-out;
    overflow: hidden;

    .app-workspace-link-inner {
      opacity: .75;
      height: 100%;
      width: 100%;
      vertical-align: middle;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: .12rem;
      transition: opacity .2s ease-in-out;
    }
  }
}

.bottom-nav-list {
  margin-top: auto;
  margin-bottom: .8rem;
  padding: .6rem;

  .profile-nav-btn {
    display: block;
    text-decoration: none;
  }
}
