@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin create-board-group-theme($theme) {
  .create-group-button {
    background-color: var(--background);
    border: 4px dashed rgba(var(--border), .04);
    color: rgba(var(--foreground-rgb), .4);
  }

  .create-group-button:hover {
    background-color: rgba(var(--mat-sys-primary-container), .08);
    color: rgba(var(--mat-sys-primary-container), .8);
  }
}
