@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin create-board-group-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .create-group-button {
    background-color: mat.get-color-from-palette($background, background);
    border: 4px dashed mat.get-color-from-palette($background, border, .04);
    color: mat.get-color-from-palette($foreground, text, .4);
  }

  .create-group-button:hover {
    background-color: mat.get-color-from-palette($primary, .08);
    color: mat.get-color-from-palette($primary, .8);
  }
}
