<div class="px-md-3 px-lg-5 mt-5">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">

    <form [formGroup]="profileGroup" class="px-4">

        <mat-form-field class="mb-3 col-lg-4 col-md-6 col-sm-12" appearance="outline">
          <mat-label>Firstname</mat-label>
          <input matInput placeholder="Edit Firstname" formControlName="firstname">
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>

        <mat-form-field class="mb-3 col-lg-4 col-md-6 col-sm-12" appearance="outline">
          <mat-label>Lastname</mat-label>
          <input matInput placeholder="Edit Lastname" formControlName="lastname">
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>

        <mat-form-field class="mb-3 col-lg-4 col-md-6 col-sm-12" appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Change Email Address" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>

    </form>

  </div>

</div>
