<div class="mb-5 px-3 px-md-4 px-0 px-lg-5 container">

  <div class="component-header">
    <button mat-fab type="button" id="new-button" (click)="onLogoutClicked()">
      <mat-icon>exit_to_app</mat-icon>
      <span id="new-button-text">Log Out</span>
    </button>
  </div>

  <h4> Edit Profile </h4>

  <mat-card>
    <form [formGroup]="profileGroup" class="px-4">

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Firstname</mat-label>
          <input matInput placeholder="Edit Firstname" formControlName="firstname">
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Lastname</mat-label>
          <input matInput placeholder="Edit Lastname" formControlName="lastname">
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Change Email Address" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </p>

    </form>
  </mat-card>

</div>
