.container {
  mat-card {
    padding: 2rem;
    form {
      p {
        mat-form-field {
          max-width: 480px;
          width: 360px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    mat-card {
      padding: .4rem;
      form {
        margin: 0;
        padding: 0 .4rem !important;
        p {
          mat-form-field {
            width: 100%;
          }
        }
      }
    }
  }
}
