<div class="w-full rounded">
  @if (isEditActive()) {
  <input
    #input
    type="text"
    class="inline-edit-input w-full border-0 bg-transparent p-1 text-[inherit] [font:inherit] box-border transition-all duration-200"
    [value]="value()"
    [readonly]="readonly()"
    [disabled]="disabled()"
    [class.active-border]="activeBorder()"
    (input)="onInput($event)"
    (keyup.enter)="onSubmit(input.value)"
  />
  } @else {
  <div class="p-1 border-2 border-transparent [font:inherit]">{{ value() }}</div>
  }
</div>
