<div class="app-list-item">
  <div class="app-list-item-header">
    <ng-content />

    <mat-checkbox class="user-checkbox" color="primary"> </mat-checkbox>

    <div class="image">
      <app-avatar
        [imageUrl]="user.pictureUrl"
        [name]="user.displayName"
        [size]="26"
        />
    </div>

    <div class="title">{{ user.displayName }}</div>

    <div class="description">{{ user.email }}</div>

    @if (user.isWorkspaceOwner) {
      <div class="app-list-item-pill">Owner</div>
    }
  </div>

  <div class="app-list-item-footer"></div>
</div>
