<h1 mat-dialog-title>Re-assign Tasks</h1>

<p>Select the user you wish to assign the selected tasks to</p>

<div app-dialog-content>
  <div class="user-selection">
    <app-button
      [class.selected]="selected === user.id"
      mat-stroked-button
      [color]="selected === user.id ? 'primary' : undefined"
      *ngFor="let user of users$ | async"
      (click)="onUserClicked(user.id)"
    >
      <app-avatar size="24" [name]="user.userName" [imageUrl]="user.pictureUrl">
      </app-avatar>

      <label> {{ user.displayName }} </label>
    </app-button>
  </div>
</div>

<div app-dialog-actions align="end">
  <app-button mat-stroked-button app-dialog-close>Cancel</app-button>
  <app-button
    mat-flat-button
    color="primary"
    (click)="onReassignTasksClicked()"
    type="button"
  >
    Re-assign Tasks
  </app-button>
</div>
