@use '@angular/material' as mat;

@mixin reassign-tasks-dialog-theme($theme) {
  .user-selection {
    button {
      &.selected {
        color: invert(mat.m2-get-color-from-palette($foreground, text));
        background-color: mat.m2-get-color-from-palette($primary);

        .pill {
          background-color: invert(mat.m2-get-color-from-palette($foreground, text, .4));
        }
      }
    }
  }
}
