.user-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
  justify-content: center;
}

.user-selection button {
  margin: 0.4rem 1rem;
  width: 100%;
  max-width: 200px;
}

.user-selection button app-avatar {
  flex: 0 0 24px;
}

.user-selection button .user-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.user-selection button.selected {
  color: var(--foreground);
  background-color: rgb(0, 0, 0);
}

.user-selection button.selected .pill {
  background-color: rgb(0, 0, 0);
}
