<h1 mat-dialog-title>Re-assign Tasks</h1>

<p>Select the user you wish to assign the selected tasks to</p>

<div app-dialog-content>
  <div class="user-selection">
    @for (user of users$ | async; track user) {
      <button
        [class.selected]="selected === user.id"
        mat-stroked-button
        [color]="selected === user.id ? 'primary' : ''"
        (click)="onUserClicked(user.id)"
        >
        <label>
          <app-avatar
            size="24"
            [name]="user.displayName"
            [imageUrl]="user.pictureUrl"
            >
          </app-avatar>
          <span>{{ user.displayName }}</span>
        </label>
      </button>
    }
  </div>
</div>

<div app-dialog-actions align="end">
  <button mat-stroked-button app-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="onReassignTasksClicked()"
    type="button"
    >
    Re-assign Tasks
  </button>
</div>
