@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;@use 'variables';

@mixin task-detail-dialog-theme($theme) {
  $is-dark-theme: map.get($theme, is-dark);
  $inline-backgroud: if($is-dark-theme, #272727, #fff);

  .task-scope-id {
    background-color: rgba(var(--mat-sys-primary-container), .2);
  }

  .actions-row {
    .mat-mdc-icon-button {
      border-radius: 4px;
      line-height: 0;
    }
  }

  .comments-container {
    .material-icons-outlined {
      color: rgba(var(--foreground-rgb), .4);
    }

    .comment-button .material-icons {
      font-size: 20px;
      line-height: 20px;
      height: 20px;
    }
  }

  .clickable:hover {
    background-color: rgba(var(--foreground-rgb), .06);
  }

  .detail-list-item {
    .mat-mdc-chip {
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 242px;
      overflow: hidden;
    }

    .autocomplete-chips {
      .mat-mdc-chip {
        margin: .2rem;
        min-height: 24px;
        font-weight: 500;
        font-size: 12px;
        padding: .1rem .4rem;
      }
    }
  }

  .detail-form {
    .inline-edit {
      position: sticky;
      top: 0;
      background-color: var(--card);
      z-index: 2;
    }

    .mat-mdc-dialog-actions {
      min-height: 32px;
    }

    .detail-title-input {
      .task-detail-title {
        background-color: $inline-backgroud;
      }
    }

    .detail-title {
      background-color: $inline-backgroud;
    }

  }

  .inline-text-area {
    background-color: $inline-backgroud;
  }

  .detail-form .inline-text-area {
    z-index: 9999;
  }
}
