<ng-container *ngIf="task$ | async as task; else loading">

  <div class="detail-title">

    <h1 mat-dialog-title>{{ task.name }}</h1>

    <mat-icon
      class="task-complete"
      *ngIf="task.status === 1"
    >
      done
    </mat-icon>

    <div class="task-scope-id">
      {{ task.systemId }}
    </div>
  </div>

  <mat-dialog-content class="task-detail-dialog">


    <div class="detail-container">

      <div class="detail-form">
        <form [formGroup]="projectFromGroup">

          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Task Summary</mat-label>
            <textarea
              matInput
              class="form-control"
              placeholder="Enter Task Summary"
              formControlName="name"
              name="name"
              required
              rows="1"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              class="form-control"
              formControlName="description"
              placeholder="Enter Task Description"
              name="description"
              aria-label="With textarea"
              rows="3"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="9"
            ></textarea>
          </mat-form-field>

          <app-editor></app-editor>

          <app-autocomplete-chips
            [options]="tags$ | async"
            [selected]="task.tags"
            (selectionChanged)="onTagsSelectionChanged($event)"
            placeholder="Add Tags"
            label="Tags"
          >
          </app-autocomplete-chips>

        </form>

        <div class="comments-container" *ngIf="user$ | async as user">

          <div class="comments-input">
            <app-avatar
              size="24"
              class="task-card-user-chip"
              [name]="user.displayName"
              [imageUrl]="user.pictureUrl"
            >
            </app-avatar>

            <form [formGroup]="commentsFromGroup" (ngSubmit)="onCommentSubmit()">
              <mat-form-field class="w-100 no-floating-label" appearance="fill">
                <input
                  matInput
                  formControlName="comment"
                  class="form-control"
                  placeholder="Add Comment"
                  name="description"
                >
                <mat-icon
                  matSuffix
                  class="material-icons-outlined"
                >
                  chat_bubble_outline
                </mat-icon>
              </mat-form-field>
            </form>
          </div>

          <div class="comments-list">
            <div
              class="comments-list-item"
              *ngFor="let comment of comments$ | async"
            >
              <app-avatar
                size="24"
                class="task-card-user-chip"
                [name]="comment.userDisplayName"
                [imageUrl]="comment.userDisplayImage"
              >
              </app-avatar>
              <div class="comment-body">
                <span class="comment-user-display-name">
                  {{ comment.userDisplayName }}

                  <small>
                    {{ comment.createdAt | fromNow }}
                  </small>

                  <div class="comment-actions">
                    <button
                      class="comment-button"
                      mat-icon-button
                      aria-label="Comment Actions"
                      [matMenuTriggerFor]="commentMenu"
                      [matMenuTriggerData]="{comment: comment}"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>

                    <mat-menu #commentMenu="matMenu">
                      <ng-template matMenuContent let-comment="comment">
                        <button mat-menu-item (click)="onDeleteCommentClicked(comment)">
                          <mat-icon>delete</mat-icon>
                          <span>Delete Comment</span>
                        </button>
                      </ng-template>
                    </mat-menu>
                  </div>

                </span>
                <span class="comment-body-text">
                  {{ comment.body }}
                </span>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="detail-column">

        <div class="detail-list">
          <div class="detail-list-item">
            <h4>Assignee</h4>

            <div class="user-item clickable" matRipple [matMenuTriggerFor]="assigneeMenu">
              <app-avatar
                size="24"
                class="task-card-user-chip"
                [name]="task.assigneeUsername"
                [imageUrl]="task.assigneePictureUrl"
              >
              </app-avatar>

              <small>
                {{ task.assigneeUsername }}
              </small>
            </div>

            <mat-menu #assigneeMenu="matMenu">
              <small>Change Assignee</small>
              <button
                mat-menu-item
                *ngFor="let user of users$ | async"
                (click)="selectAssignee(user)"
              >
                <div class="user-menu-item">
                  <app-avatar
                    [imageUrl]="user.pictureUrl"
                    size="24"
                  >
                  </app-avatar>
                  <span>
                    {{ user.displayName }}
                  </span>
                </div>
              </button>
            </mat-menu>

          </div>
          <div class="detail-list-item">
            <h4>Reporter</h4>

            <div class="user-item">
              <app-avatar
                size="24"
                class="task-card-user-chip"
                [name]="task.ownerUsername"
                [imageUrl]="task.ownerPictureUrl"
              >
              </app-avatar>

              <small>
                {{ task.assigneeUsername }}
              </small>
            </div>

          </div>
          <div class="detail-list-item">
            <h4>Status</h4>
            <mat-chip-list>
              <mat-chip>{{ task.status | taskStatus }} </mat-chip>
            </mat-chip-list>
          </div>
          <div class="detail-list-item">
            <h4>Project</h4>
            <mat-chip-list>
              <mat-chip [matMenuTriggerFor]="projectsMenu">
                {{ task.projectName }}
              </mat-chip>
            </mat-chip-list>

            <mat-menu #projectsMenu="matMenu">
              <small>Change Project</small>
              <button
                mat-menu-item
                *ngFor="let project of projects$ | async"
                (click)="selectProject(project.id)"
              >
                {{ project.name }}
              </button>
            </mat-menu>

          </div>
        </div>

        <div class="bottom-row">
          <h4>Actions</h4>

          <div class="actions-row">
            <button
              mat-icon-button
              mat-stroked-button
              aria-label="Delete Task"
              matTooltip="Delete Task"
              (click)="deleteClicked()"
            >
            <mat-icon class="material-icons-outlined">
              delete
            </mat-icon>
          </button>
            <button
              mat-icon-button
              mat-stroked-button
              aria-label="Flag Task"
              matTooltip="Flag Task"
              color="warn"
              (click)="onFlagClicked()"
            >
            <mat-icon [class.material-icons-outlined]="!task.isFlagged">
              flag
            </mat-icon>
          </button>
          </div>
        </div>

      </div>

    </div>
  </mat-dialog-content>

  <div mat-dialog-actions align="end">
    <div class="task-dates">
      <div class="created-at" [matTooltip]="task.createdAt | prettyDate">
        <label>Created</label>
        <span>{{ task.createdAt | fromNow }}</span>
      </div>
      <div class="updated-at" [matTooltip]="task.updatedAt | prettyDate">
        <label>Updated</label>
        <span>{{ task.updatedAt | fromNow }}</span>
      </div>
    </div>
    <button mat-stroked-button (click)="close()">Close</button>
  </div>

</ng-container>

<ng-template #loading>
  <div class="task-detail-loading">

    <mat-spinner diameter="32"></mat-spinner>

  </div>
</ng-template>
