.detail-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.2rem;

  * {
    margin: 0 .6rem 0 0;
  }

  h1 {
    font-weight: 400;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .task-scope-id {
    border-radius: 4px;
    padding: .2rem .4rem;
    height: 1rem;
    font-size: 14px;
    margin-left: auto;
    white-space: nowrap;
    line-height: 16px;
  }
}

.detail-list {
  display: flex;
  flex-direction: column;

  .detail-list-item {
    h4 {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: .125px;
      margin: 1rem 0 .4rem;
    }

    .user-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: .2rem;
      transition: background-color .14s ease-in-out;
      padding: .4rem .8rem;

      small {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: .125px;
        margin-left: .4rem;
      }

      &.clickable {
        cursor: pointer;
      }
    }
  }
}

.bottom-row {
  h4 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .125px;
    margin: 1rem 0 .4rem;
  }

  .actions-row {
    display: flex;
    flex-direction: row;
    margin: .6rem 0;

    button {
      margin-right: .6rem;
    }
  }
}

.detail-title-input {
  .task-detail-title {
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
  }
}

.detail-title {
  position: sticky;
  top: 0;
  z-index: 2;
}

.task-detail-loading {
  height: 974px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  app-avatar {
    flex: 0 0 32px;
  }
}

@media only screen and (max-width: 600px) {
  .detail-container {
    display: flex;
    flex-direction: column;

    .detail-form  {
      flex: 0;
      line-height: 1.5;
    }

    .detail-column {
      flex: 0;
      margin-bottom: 2rem;
      margin-left: .4rem;
    }
  }

  .task-dates {
    margin: 1rem 0;
  }
}

.detail-label {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .125px;
}

.tags-autocomplete {
  font-size: 14px;
}

.detail-column {
  padding: 0 3rem;
}

.comments {
  margin: 0 0 .4rem;

  h4 {
    margin-bottom: .6rem !important;
  }
}

.task-scope-id {
  background-color: rgba(var(--primary-rgb), .2);
}

.actions-row {
  .mat-mdc-icon-button {
    border-radius: 4px;
    line-height: 0;
  }
}

.comments-container {
  .material-icons-outlined {
    color: rgba(var(--foreground-rgb), .4);
  }

  .comment-button .material-icons {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
  }
}

.clickable:hover {
  background-color: rgba(var(--foreground-rgb), .06);
}

.detail-list-item {
  .mat-mdc-chip {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 242px;
    overflow: hidden;
  }

  .autocomplete-chips {
    .mat-mdc-chip {
      margin: .2rem;
      min-height: 24px;
      font-weight: 500;
      font-size: 12px;
      padding: .1rem .4rem;
    }
  }
}

.detail-form {
  .inline-edit {
    position: sticky;
    top: 0;
    background-color: var(--card);
    z-index: 2;
  }

  .mat-mdc-dialog-actions {
    min-height: 32px;
  }

  .detail-title-input {
    .task-detail-title {
      background-color: var(--background);
    }
  }

  .detail-title {
    background-color: var(--background);
  }

}

.inline-text-area {
  background-color: var(--background);
}

.detail-form .inline-text-area {
  z-index: 9999;
}

.task-detail-dialog {
  animation: dialog-enter .14s ease-in;
}

.task-detail-loading {
  opacity: 1;
  animation: loading-enter 3.2s;
}

@keyframes dialog-enter {
  from {
    opacity: 0;
    transform: translate(0, 12px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes loading-enter {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#description {
  border: 2px solid rgba(var(--foreground-rgb), 0.3);
  border-radius: 4px;
  display: flex;
  overflow-y: auto;
  max-height: calc(100vh - 960px);
  scrollbar-gutter: stable;
  padding: 0.2rem 1rem;
  margin-top: .8rem;
}
