@if (task(); as task) {
<div class="task-detail-dialog">
  <form>
    <div class="detail-title">
      @if (task.status === 1) {
      <mat-icon class="task-complete"> done </mat-icon>
      }
      <div class="task-scope-id">{{ task.systemId }}</div>
      <app-activity-menu [entityType]="entityType" [entityId]="task.id">
      </app-activity-menu>
    </div>
    <div class="detail-column detail-title-input">
      <app-inline-text-area
        class="w-100"
        class="form-control task-detail-title"
        [field]="taskForm.name"
        [minRows]="1"
        [maxRows]="5"
        activeBorder="true"
      />
    </div>
    <div class="detail-column">
      <div class="detail-list">
        <div class="detail-list-item">
          <h4>Assignees</h4>
          <app-user-select
            [value]="task.assignees"
            [options]="users()"
            (selectChange)="selectAssignee($event)"
          />
        </div>
        <div class="detail-list-item">
          <h4>Reporter</h4>
          <div class="user-item">
            <app-avatar
              size="24"
              class="task-card-user-chip"
              [name]="task.ownerUsername"
              [imageUrl]="task.ownerPictureUrl"
            >
            </app-avatar>
            <small> {{ task.ownerUsername }} </small>
          </div>
        </div>
        <div class="detail-list-item">
          <h4>Status</h4>
          <mat-chip-listbox>
            <mat-chip-option>{{ task.status | taskStatus }} </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="detail-list-item">
          <h4>Project</h4>
          <mat-chip-listbox>
            <mat-chip-option [matMenuTriggerFor]="projectsMenu">
              {{ task.projectName }}
            </mat-chip-option>
          </mat-chip-listbox>
          <mat-menu #projectsMenu="matMenu">
            <small>Change Project</small>
            @for (project of projects(); track project.id) {
            <button mat-menu-item (click)="selectProject(project.id)">
              {{ project.name }}
            </button>
            }
          </mat-menu>
        </div>
      </div>
      <div class="detail-list-item bottom-row">
        <h4>Actions</h4>
        <div class="actions-row">
          <button
            mat-icon-button
            aria-label="Delete Task"
            matTooltip="Delete Task"
            (click)="deleteClicked()"
          >
            <mat-icon class="material-icons-outlined"> delete </mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="Flag Task"
            matTooltip="Flag Task"
            color="warn"
            (click)="onFlagClicked()"
          >
            <mat-icon [class.material-icons-outlined]="!task.isFlagged">
              flag
            </mat-icon>
          </button>
        </div>
      </div>
      <div class="detail-list">
        <div class="detail-list-item">
          <h4>Tags</h4>
          <app-autocomplete-chips
            class="tags-autocomplete"
            placeholder="Add a Tag..."
            [options]="tags()"
            [selected]="task.tags"
            (selectionChanged)="onTagsSelectionChanged($event)"
          >
          </app-autocomplete-chips>
        </div>
        <div class="detail-list-item comments">
          <h4>Comments</h4>
          @if (editorLoaded()) {
          <app-comments-list
            [user]="user()"
            [comments]="comments()"
            (commentSubmit)="onCommentSubmit($event)"
            (deleteComment)="onDeleteCommentClicked($event)"
          >
          </app-comments-list>
          }
        </div>
      </div>
      <label class="detail-label" for="description"> Description </label>
      <app-editor
        id="description"
        aria-labelledby="description"
        [field]="taskForm.description"
        placeholder="Add a Description..."
        (loaded)="onEditorLoaded()"
      >
      </app-editor>
    </div>
  </form>
</div>
<div app-dialog-actions align="end">
  <app-task-dates [task]="task" />
</div>
} @else {
<div class="task-detail-loading">
  <mat-spinner diameter="64" />
</div>
}
