.board-group-users {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;

  .board-group-user {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
  }

  .board-group-user:not(:last-child) {
    margin-left: -12px;
  }
}

.board-group-user.selected {
  border: 2px solid rgba(var(--primary-rgb), 400);
  z-index: 99;
}

.board-group-user {
  background-color: var(--background);
  border: 2px solid transparent;

  &:hover {
    z-index: 100;
  }
}
