@use '@angular/material' as mat;

@mixin board-group-users-theme($theme) {
  .board-group-user.selected {
    border: 2px solid mat.get-color-from-palette($primary, 400);
    z-index: 99;
  }

  .board-group-user {
    background-color: $background;
    border: 2px solid transparent;

    &:hover {
      z-index: 100;
    }
  }

}
