.board-group-users {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;

  .board-group-user {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
  }

  .board-group-user:not(:last-child) {
    margin-left: -12px;
  }
}
