<div class="user-select" [class.user-select-compact]="compact()" #dropdown>
  <button class="select-trigger" (click)="open(selectmenu, origin)" #origin>
    @for (user of value(); track user.id) {
      <div class="user-item">
        <app-avatar
          [imageUrl]="user.pictureUrl"
          [name]="user.displayName"
          size="24"
          >
        </app-avatar>
        <small> {{ user.displayName }} </small>
      </div>
    }

    <ng-template #elseTemplate>
      <div class="app-user-link-inner"></div>
      <div class="select-label">{{ label() }}</div>
    </ng-template>
  </button>

  <div #selectmenu class="select-menu">
    @if (isOpen) {
      <div class="select-menu-inner menu-scale-in">
        @if (options()?.length) {
          <input
            appAutofocus
            class="label-input"
            placeholder="Search.."
            [formControl]="searchControl"
            (click)="$event.stopPropagation()"
            />
        }
        <div class="select-menu-inner-options custom-scroll">
          @if (!options()?.length) {
            <div class="no-results-item">
              {{noResults()}}
            </div>
          }
          @for (option of options$ | async; track option.id) {
            <div
              class="select-item"
              [class.active]="isActive(option)"
              [class.selected]="isSelected(option)"
              (click)="select(option)"
              >
              <app-avatar
                [imageUrl]="option.pictureUrl"
                [name]="option.displayName"
                size="24"
                >
              </app-avatar>
              <span> {{ option.displayName }} </span>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
