<div class="user-select" [class.user-select-compact]="compact" #dropdown>
  <button class="select-trigger" (click)="open(selectmenu, origin)" #origin>
    <app-avatar
      *ngFor="let user of value"
      [imageUrl]="user.pictureUrl"
      [name]="user.displayName"
      size="24"
    >
    </app-avatar>

    <ng-template #elseTemplate>
      <div class="app-user-link-inner"></div>
      <div class="select-label">{{ label }}</div>
    </ng-template>
  </button>

  <div #selectmenu class="select-menu">
    <div *ngIf="isOpen" class="select-menu-inner menu-scale-in">
      <input
        *ngIf="options?.length"
        appAutofocus
        class="label-input"
        placeholder="Search.."
        [formControl]="searchControl"
        (click)="$event.stopPropagation()"
      />

      <div class="select-menu-inner-options custom-scroll">
        <div *ngIf="!options?.length" class="no-results-item">
          {{noResults}}
        </div>

        <div
          *ngFor="let option of options$ | async"
          class="select-item"
          [class.active]="isActive(option)"
          (click)="select(option)"
        >
          <app-avatar
            [imageUrl]="option.pictureUrl"
            [name]="option.displayName"
            size="24"
          >
          </app-avatar>

          <span> {{ option.displayName }} </span>
        </div>
      </div>
    </div>
  </div>
</div>
