@use '@angular/material' as mat;
@use 'sass:color';
@mixin user-select-theme($theme) {

  $is-dark-theme: map-get($theme, is-dark);

  .user-select {

    .label-input {
      color: mat.m2-get-color-from-palette($foreground, text);
    }

    .label-input {
      $dark-bg: color.scale($card, $lightness: 10%);
      $light-bg: color.scale($card, $lightness: -4%);
      background-color: if($is-dark-theme, $dark-bg, $light-bg);
    }

    .select-trigger {
      color: mat.m2-get-color-from-palette($foreground, text);
      background-color: transparent;

      &:hover {
        background-color: mat.m2-get-color-from-palette($foreground, text, .08);
      }
    }

    .select-menu-inner {
      background-color: $card;
    }

    .select-item {
      &:hover {
        $dark-bg: color.scale($card, $lightness: 10%);
        $light-bg: color.scale($card, $lightness: -6%);
        background-color: if($is-dark-theme, $dark-bg, $light-bg);
      }

      &.active {
        $dark-bg: color.scale(mat.m2-get-color-from-palette($primary, .2), $lightness: 20%);
        $light-bg: color.scale(mat.m2-get-color-from-palette($primary, .2), $lightness: -10%);
        background-color: if($is-dark-theme, $dark-bg, $light-bg);
      }

      &.selected {
        $dark-bg: color.scale(mat.m2-get-color-from-palette($primary, .2), $lightness: 20%);
        $light-bg: color.scale(mat.m2-get-color-from-palette($primary, .2), $lightness: -10%);
        background-color: if($is-dark-theme, $dark-bg, $light-bg);
      }
    }

    .app-user-link-inner {
      color: #fff;
    }
  }
}
