@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;@use 'sass:color';
@mixin user-select-theme($theme) {

  $is-dark-theme: map.get($theme, is-dark);

  .user-select {

    .label-input {
      color: var(--foreground);
    }

    .label-input {
      $dark-bg: var(--card);
      $light-bg: var(--card);
      background-color: if($is-dark-theme, $dark-bg, $light-bg);
    }

    .select-trigger {
      color: var(--foreground);
      background-color: transparent;

      &:hover {
        background-color: rgba(var(--foreground-rgb), .08);
      }
    }

    .select-menu-inner {
      background-color: var(--card);
    }

    .select-item {
      &:hover {
        $dark-bg: var(--card);
        $light-bg: var(--card);
        background-color: if($is-dark-theme, $dark-bg, $light-bg);
      }

      &.active {
        // $dark-bg: color.scale(rgba(var(--mat-sys-primary-container), .2), $lightness: 20%);
        // $light-bg: color.scale(rgba(var(--mat-sys-primary-container), .2), $lightness: -10%);
        // background-color: if($is-dark-theme, $dark-bg, $light-bg); // TODO
      }

      &.selected {
        // $dark-bg: color.scale(rgba(var(--mat-sys-primary-container), .2), $lightness: 20%);
        // $light-bg: color.scale(rgba(var(--mat-sys-primary-container), .2), $lightness: -10%);
        // background-color: if($is-dark-theme, $dark-bg, $light-bg); // TODO
      }
    }

    .app-user-link-inner {
      color: #fff;
    }
  }
}
