<form
  [formGroup]="formGroup"
  class="px-0"
>


  <mat-form-field
    class="form-control mb-3"
    appearance="fill"
  >
    <mat-label>Current Password</mat-label>
    <input
      matInput
      type="password"
      autocomplete="current-password"
      placeholder="Current Password"
      formControlName="currentPassword"
    >
  </mat-form-field>


  <mat-form-field
    class="form-control mb-3"
    appearance="fill"
  >
    <mat-label>New Password</mat-label>
    <input
      matInput
      type="password"
      autocomplete="new-password"
      placeholder="New Password"
      formControlName="newPassword"
    >
  </mat-form-field>


  <mat-form-field
    class="form-control mb-3"
    appearance="fill"
  >
    <mat-label>Confirm New Password</mat-label>
    <input
      matInput
      type="password"
      autocomplete="new-password"
      placeholder="Confirm New Password"
      formControlName="confirmPassword"
    >
  </mat-form-field>

  <div class="error-message">
    {{ errorMessage$ | async }}
  </div>

  <button
    class="form-submit-btn"
    mat-stroked-button
    (click)="changePasswordClicked()"
    [disabled]="formGroup.invalid || (loadingPasswordChange$ | async)"
  >
    Change Password
  </button>


</form>
