<form class="px-0">
  <app-form-input
    type="password"
    [field]="passwordForm.currentPassword"
    autocomplete="current-password"
    label="Current Password"
  >
  </app-form-input>

  <app-form-input
    type="password"
    [field]="passwordForm.newPassword"
    autocomplete="new-password"
    label="New Password"
  >
  </app-form-input>

  <app-form-input
    type="password"
    [field]="passwordForm.confirmPassword"
    autocomplete="new-password"
    label="Confirm Password"
  >
  </app-form-input>

  @if (error()) {
    <div class="error-message">{{ error() }}</div>
  }


  <button
    class="form-submit-btn"
    mat-stroked-button
    (click)="changePasswordClicked()"
    [disabled]="passwordForm().invalid() || loading()"
  >
    Change Password
  </button>
</form>
