mat-form-field {
  max-width: 480px;
  width: 100%;
  display: block;
  margin-bottom: .8rem;
}

@media only screen and (max-width: 600px) {
  mat-form-field {
    max-width: initial;
    width: 100%;
  }
}
