<form [formGroup]="formGroup" class="px-0">
  <app-form-input
    type="password"
    formControlName="currentPassword"
    autocomplete="current-password"
    label="Current Password"
  >
  </app-form-input>

  <app-form-input
    type="password"
    formControlName="newPassword"
    autocomplete="new-password"
    label="New Password"
  >
  </app-form-input>

  <app-form-input
    type="password"
    formControlName="confirmPassword"
    autocomplete="new-password"
    label="Confirm Password"
  >
  </app-form-input>

  <div class="error-message">{{ errorMessage$ | async }}</div>

  <app-button
    class="form-submit-btn"
    mat-stroked-button
    (click)="changePasswordClicked()"
    [disabled]="formGroup.invalid || (loadingPasswordChange$ | async)"
  >
    Change Password
  </app-button>
</form>
