<form class="px-0 max-w-[480px]">
  <app-form-input
    type="password"
    [formField]="passwordForm.currentPassword"
    autocomplete="current-password"
    label="Current Password"
  >
  </app-form-input>

  <app-form-input
    type="password"
    [formField]="passwordForm.newPassword"
    autocomplete="new-password"
    label="New Password"
  >
  </app-form-input>

  <app-form-input
    type="password"
    [formField]="passwordForm.confirmPassword"
    autocomplete="new-password"
    label="Confirm Password"
  >
  </app-form-input>

  @if (error()) {
    <div class="my-1 mb-3 text-sm font-medium text-warn">{{ error() }}</div>
  }


  <button
    class="block mt-3 ml-auto"
    mat-stroked-button
    (click)="changePasswordClicked()"
    [disabled]="passwordForm().invalid() || loading()"
  >
    Change Password
  </button>
</form>
