<app-page-container
  [marginBottom]="false"
  [verticalPadding]="false"
  [fullHeight]="true"
>
  <app-page-header
    title="Boards"
    actionTitle="Create Board"
    (actionClick)="onCreateBoardClicked()"
  >
  </app-page-header>

  <ng-container *ngIf="loading$ | async; else elseTemplate">
    <div class="page-loading">
      <mat-spinner diameter="32"></mat-spinner>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <app-boards-grid></app-boards-grid>
  </ng-template>
</app-page-container>
