<div class="container mb-5 px-md-3 px-lg-5">

    <div class="component-header">
      <button mat-fab type="button" id="new-button" (click)='showAddModal()'>
        <mat-icon>add</mat-icon>
        <span id="new-button-text">New Task</span>
      </button>
    </div>

    <!-- <div *ngIf="!projectTaskService.tasks">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div> -->

    <div class="container tasks-container">
      <h4>My Tasks</h4>
      <div cdkDropList #myTasksList="cdkDropList" class="task-list"
        [cdkDropListConnectedTo]="[completedTasksList, backlogTasksList]" [cdkDropListData]="myTasks"
        (cdkDropListDropped)="drop($event)">

        <ng-container *ngIf="(myTasks$ | async).length > 0; else myTasksElseTemplate">
          <div class="task-drag" cdkDrag *ngFor="let task of myTasks$ | async">
            <app-task-list-item [(task)]="task">
            </app-task-list-item>
          </div>
        </ng-container>
        <ng-template #myTasksElseTemplate>
          <div class="list-empty">
            <div class="list-empty-mark">
              <i class="far fa-compass"></i>
              <h4 class="empty-text">
                You have no tasks. Click the button in the bottom right to create a task.
              </h4>
            </div>
          </div>
        </ng-template>

      </div>
    </div>

    <div class="container tasks-container" @dropIn>
      <h4>
        Completed Tasks
      </h4>
      <div cdkDropList #completedTasksList="cdkDropList" class="task-list"
        [cdkDropListConnectedTo]="[backlogTasksList, myTasksList]" [cdkDropListData]="completedTasks"
        (cdkDropListDropped)="drop($event)">

        <ng-container *ngIf="(completedTasks$ | async).length > 0; else completedTasksElseTemplate">
          <div class="task-drag" cdkDrag *ngFor="let task of completedTasks$ | async">
            <app-task-list-item [(task)]="task">
            </app-task-list-item>
          </div>
        </ng-container>
        <ng-template #completedTasksElseTemplate>
          <div class="list-empty">
            <div class="list-empty-mark">
              <i class="far fa-compass"></i>
              <h4 class="empty-text">
                You currently have no completed tasks. Mark a task as completed and it will show up here.
              </h4>
            </div>
          </div>
        </ng-template>

      </div>
    </div>

    <div class="container tasks-container" @dropIn>
      <h4>
        Backlog
      </h4>
      <div cdkDropList #backlogTasksList="cdkDropList" class="task-list"
        [cdkDropListConnectedTo]="[myTasksList, completedTasksList]" [cdkDropListData]="backlogTasks"
        (cdkDropListDropped)="drop($event)">

        <ng-container *ngIf="(backlogTasks$ | async).length > 0; else backlogTasksElseTemplate">
          <div class="task-drag" cdkDrag *ngFor="let task of backlogTasks$ | async">
            <app-task-list-item [(task)]="task">
            </app-task-list-item>
          </div>
        </ng-container>
        <ng-template #backlogTasksElseTemplate>
          <div class="list-empty">
            <div class="list-empty-mark">
              <i class="far fa-compass"></i>
              <h4 class="empty-text">
                Your backlog is currently empty hurray!
              </h4>
            </div>
          </div>
        </ng-template>

      </div>
    </div>

</div>
