<div class="mb-5 px-md-3 px-lg-5">
  <div class="row">

    <div class="col">

      <div class="component-header">
        <button mat-fab type="button" id="new-button" (click)='showAddModal()'>
          <mat-icon>add</mat-icon>
          <span id="new-button-text">New Task</span>
        </button>
      </div>

      <div *ngFor="let group of taskGroups" class="mb-5">
        <app-task-list-group
          [tasks]="group.tasks"
          [header]="group.header"
          [emptyMessage]="group.emptyMessage"
          [loaded]="loaded$">
        </app-task-list-group>
      </div>

    </div>

    <div class="col-4" *ngIf="selectedTask$ | async">
      <app-task-detail></app-task-detail>
    </div>

  </div>
</div>
