#task-expansion {
  background-color: transparent;
  box-shadow: none;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.fas {
  margin-right: 1rem;
}

#export-button {
  color: #6C757D;
  margin-top: 2rem;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2rem;
}

.icon {
  margin: 0px auto;
  text-align: center;
  height: 48px;
  width: 48px;
  font-size: 2.5rem;
  padding: 0.5rem;
  display: inline-block;
  margin-right: 1.5rem;
}

.action-button {
  margin-right: 0.8rem;
}

.action-button:first-child,
.mat-card-actions .mat-raised-button:first-child {
  margin-left: 0;
  margin-right: 0.8rem !important;
}

.action-mat-icon {
  margin-right: 0.6rem;
}

.tasks-container {
  margin-top: 2em;
}


h4 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 1.4rem;
  font-family: 'Roboto', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}

.task-list {
  min-height: 196px;
  overflow: hidden;
  display: block;
}

@media (min-width: 600px) {
  .task-list {
    min-height: 196px;
    border-radius: .4rem;
    overflow: hidden;
    display: block;
  }

  h4 {
    margin-left: 0;
  }
}

// Drag n drop styling.
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: .4rem;
  overflow: hidden;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(.24, 0, 0.2, 1);
}

.task-drag:last-child {
  border: none;
}

.task-list.cdk-drop-list-dragging .task-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(.24, 0, 0.2, 1);
}


.list-empty {
  display: flex;
  justify-content: center;
  .list-empty-mark {
    font-size: 3rem;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    .far {
      margin: 1.4rem auto;
      font-size: 6rem;
    }
    .empty-text {
      color: #808080;
      margin: 0;
      margin-bottom: 3rem;
      margin-left: 4rem;
      margin-right: 4rem;
      font-family: 'Roboto', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    }
  }
}
