<div class="container main" *ngIf="dataLoaded">
  <div class="container-max">

    <div class="component-header bottom-border">
      <button mat-raised-button type="button" class="float-right" id="new-button" (click)='showAddModal()'>
        <i class="fas fa-plus"></i>
        New Task
      </button>
    </div>

    <div *ngIf="!projectTaskService.tasks">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="container tasks-container">
      <h4>My Tasks</h4>
      <div
        cdkDropList
        #myTasksList="cdkDropList"
        class="task-list"
        [cdkDropListConnectedTo]="[completedTasksList, backlogTasksList]"
        [cdkDropListData]="myTasks"
        (cdkDropListDropped)="drop($event)">

        <div class="task-drag" cdkDrag *ngFor="let task of myTasks">
          <app-task-list-item [(task)]="task">
          </app-task-list-item>
        </div>

      </div>
    </div>

    <div class="container tasks-container">
      <h4>
        <i class="fas fa-clipboard-check"></i>
        Completed Tasks
      </h4>
      <div
        cdkDropList
        #completedTasksList="cdkDropList"
        class="task-list"
        [cdkDropListConnectedTo]="[backlogTasksList, myTasksList]"
        [cdkDropListData]="completedTasks"
        (cdkDropListDropped)="drop($event)">

        <div class="task-drag" cdkDrag *ngFor="let task of completedTasks">
          <app-task-list-item [(task)]="task">
          </app-task-list-item>
        </div>

      </div>
    </div>

    <div class="container tasks-container">
      <h4>
        <i class="fas fa-th-list"></i>
        Backlog
      </h4>
      <div
        cdkDropList
        #backlogTasksList="cdkDropList"
        class="task-list"
        [cdkDropListConnectedTo]="[myTasksList, completedTasksList]"
        [cdkDropListData]="backlogTasks"
        (cdkDropListDropped)="drop($event)">

        <div class="task-drag" cdkDrag *ngFor="let task of backlogTasks">
          <app-task-list-item [(task)]="task">
          </app-task-list-item>
        </div>

      </div>
    </div>

  </div>
</div>
