.task-container {
  flex: 1;
}

.board-group-card {
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
  border-radius: .3rem;
}

.create-task {
  padding: .3rem;

  button {
    display: block;
    width: 100%;
  }
}
