<form class="flex flex-row justify-start max-[1036px]:flex-col-reverse px-0 gap-24">
  <div class="w-full max-w-[480px]">
    <app-form-input [formField]="profileForm.firstname" label="Firstname" />
    <app-form-input [formField]="profileForm.lastname" label="Lastname" />
    <app-form-input [formField]="profileForm.email" label="Email Address" />

    <input type="hidden" [formField]="profileForm.pictureUrl" />

    <button
      class="block mt-3 ml-auto"
      app-stroked-button
      (click)="updateClicked()"
      >
      Update Profile
    </button>
  </div>

  <app-update-profile-image
    [pictureUrl]="profileForm.pictureUrl().value()"
    (changePictureClicked)="onChangePictureClicked()"
    />
</form>
