<form
  [formGroup]="formGroup"
  class="px-0"
>

  <div class="column">
    <mat-form-field
      class="profile-input mb-3"
      appearance="fill"
    >
      <mat-label>Firstname</mat-label>
      <input
        matInput
        placeholder="Edit Firstname"
        formControlName="firstname"
      >
    </mat-form-field>


    <mat-form-field
      class="profile-input mb-3"
      appearance="fill"
    >
      <mat-label>Lastname</mat-label>
      <input
        matInput
        placeholder="Edit Lastname"
        formControlName="lastname"
      >
    </mat-form-field>


    <mat-form-field
      class="profile-input mb-3"
      appearance="fill"
    >
      <mat-label>Email Address</mat-label>
      <input
        matInput
        placeholder="Change Email Address"
        formControlName="email"
      >
    </mat-form-field>

    <input
      type="hidden"
      formControlName="pictureUrl"
    >

    <button
      class="form-submit-btn"
      mat-stroked-button
      (click)="updateClicked()"
      [disabled]="formGroup.invalid || (loadingUpdate$ | async)"
    >
      Update Profile
    </button>
  </div>

  <div class="column-fill">
    <div class="profile-image">

      <ng-container *ngIf="editProfilePicture$ | async; else elseTemplate">
        <app-image-cropper
          [src]="pictureUrl.value"
          (cropped)="onCropped($event)"
          (canceled)="onCropperCanceled()"
          (cleared)="onCropperCleared()"
        ></app-image-cropper>
      </ng-container>
      <ng-template #elseTemplate>

        <ng-container *ngIf="pictureUrl.value; else elseTemplate">
          <img
            class="profile-picture"
            [src]="pictureUrl.value"
            alt="Profile Image"
            height="260"
            width="260"
          >

          <button
            class="profile-picture-btn"
            mat-stroked-button
            (click)="onChangePictureClicked()"
          >
            Change Picture
          </button>

        </ng-container>

        <ng-template #elseTemplate>

          <img
            class="profile-picture"
            src="https://netptune.s3.eu-west-2.amazonaws.com/common/placeholder/no_profile.png"
            alt="Placeholder Profile Image"
            height="260"
            width="260"
          >

          <button
            class="profile-picture-btn"
            mat-stroked-button
            (click)="onChangePictureClicked()"
          >
            Change Picture
          </button>
        </ng-template>
      </ng-template>


    </div>
  </div>

</form>
