<form class="px-0">
  <div class="column">
    <app-form-input [field]="profileForm.firstname" label="Firstname" />
    <app-form-input [field]="profileForm.lastname" label="Lastname" />
    <app-form-input [field]="profileForm.email" label="Email Address" />

    <input type="hidden" formControlName="pictureUrl" />

    <button
      class="form-submit-btn"
      mat-stroked-button
      (click)="updateClicked()"
      >
      Update Profile
    </button>
  </div>

  <div class="column-fill">
    <div class="profile-image">
      @if (editProfilePicture()) {
        <img [width]="180" [src]="profileForm.pictureUrl()" alt="profile-image" />
      } @else {
        @if (profileForm.pictureUrl()) {
          <img
            crossorigin="anonymous"
            class="profile-picture"
            [src]="profileForm.pictureUrl()"
            alt="Profile Image"
            height="180"
            width="180"
            />
          <button
            class="profile-picture-btn"
            mat-stroked-button
            (click)="onChangePictureClicked()"
            >
            Change Picture
          </button>
        } @else {
          <img
            crossorigin="anonymous"
            class="profile-picture"
            src="https://netptune.s3.eu-west-2.amazonaws.com/common/placeholder/no_profile.png"
            alt="Placeholder Profile Image"
            height="180"
            width="180"
            />
          <button
            class="profile-picture-btn"
            mat-stroked-button
            (click)="onChangePictureClicked()"
            >
            Change Picture
          </button>
        }
      }
    </div>
  </div>
</form>
