<form
  [formGroup]="formGroup"
  class="px-0"
>

  <div class="column">


    <app-form-input
      formControlName="firstname"
      label="Firstname"
    >
    </app-form-input>


    <app-form-input
      formControlName="lastname"
      label="Lastname"
    >
    </app-form-input>


    <app-form-input
      formControlName="email"
      label="Email Address"
    >
    </app-form-input>

    <input
      type="hidden"
      formControlName="pictureUrl"
    >

    <button
      class="form-submit-btn"
      mat-stroked-button
      (click)="updateClicked()"
      [disabled]="formGroup.invalid || (loadingUpdate$ | async)"
    >
      Update Profile
    </button>
  </div>

  <div class="column-fill">
    <div class="profile-image">

      <ng-container *ngIf="editProfilePicture$ | async; else elseTemplate">
        <app-image-cropper
          [src]="pictureUrl.value"
          (cropped)="onCropped($event)"
          (canceled)="onCropperCanceled()"
          (cleared)="onCropperCleared()"
        ></app-image-cropper>
      </ng-container>
      <ng-template #elseTemplate>

        <ng-container *ngIf="pictureUrl.value; else elseTemplate">
          <img
            crossorigin="anonymous"
            class="profile-picture"
            [src]="pictureUrl.value"
            alt="Profile Image"
            height="260"
            width="260"
          >

          <button
            class="profile-picture-btn"
            mat-stroked-button
            (click)="onChangePictureClicked()"
          >
            Change Picture
          </button>

        </ng-container>

        <ng-template #elseTemplate>

          <img
            crossorigin="anonymous"
            class="profile-picture"
            src="https://netptune.s3.eu-west-2.amazonaws.com/common/placeholder/no_profile.png"
            alt="Placeholder Profile Image"
            height="260"
            width="260"
          >

          <button
            class="profile-picture-btn"
            mat-stroked-button
            (click)="onChangePictureClicked()"
          >
            Change Picture
          </button>
        </ng-template>
      </ng-template>


    </div>
  </div>

</form>
