.task-list-main {
  width: 100%;
}

.task-list-view {
  padding-bottom: 24rem;
  display: flex;
  flex-direction: column;
}

.loading {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
