@import './variables.scss';

button {
  min-width: 8rem !important;
}

#new-button {
  margin-bottom: 2rem;
  margin-right: 6rem;
  font-size: 1.2rem;
  height: 3rem;
  background-color: #9C27B0;
  color: white;
  padding-left: 1rem;
  border-radius: 48px !important;
  width: 12rem;
  font-weight: 100;
  transition: all 330ms;
  bottom: 0;
  position: fixed;
  right: 0;
  min-width: 0px;
  overflow: hidden;
  z-index: 99;
  span {
    white-space: nowrap;
    overflow: hidden;
    .fas {
      margin-left: 0.3rem !important;
      margin-right: 1rem !important;
      margin-bottom: 0.3rem !important;
    }
  }
}

.component-header {
  h4 {
    font-weight: 200;
    font-size: 2rem;
    margin-top: 0rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
}

.list-item-text {
  h4 {
    font-weight: 500;
  }
}

.component-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2em;
}

.bottom-border {
  border-top: 0 !important;
  border-bottom: 1px solid $hover !important;
}

.card {
  border: 0 !important;
  margin: 1rem !important;
  border-radius: 0.3rem !important;
}

.card-footer {
  border: 0 !important;
  background-color: transparent;
}

.full-width {
  min-width: 150px;
  width: 100%;
}

ul {
  list-style-type: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-action-button {
  font-size: 1.4rem;
  font-weight: initial;
  height: 3.6rem;
  border-width: 2px !important;
  border-color: $primary !important;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.form-spacer {
  height: 2rem;
}

.center {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.flex-row {
  display: flex !important;
}

.space-between {
  justify-content: space-between;
}

.card-actions {
  display: flex;
}

.card-chips {
  display: flex;
}
