html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: #FAFAFA !important;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.center {
  height: 100% !important;
}
