<div class="task-inline-container" [class.edit-mode]="editMode">

  <ng-container *ngIf="!editMode; else elseTemplate">
    <div class="new-task-button">
      <button mat-ripple (click)="addTaskClicked()">
        <mat-icon>add</mat-icon>
        <span>
          Add Task
        </span>
      </button>
    </div>
  </ng-container>

  <ng-template #elseTemplate>
    <div class="inline-task-form">
      <mat-icon>drag_indicator</mat-icon>
      <mat-checkbox color="primary" disabled></mat-checkbox>
      <form [formGroup]="taskGroup" class="task-form" (ngSubmit)="onSubmit()">
        <input matInput formControlName="taskName" class="inline-task-input" placeholder="What do you need to get done?" autofocus>
      </form>
    </div>
  </ng-template>

</div>
