
<div *ngIf="!authServives.userLoggedIn  && authServives.isLoginCheckReady">
  <app-login></app-login>
</div>

<div *ngIf="authServives.userLoggedIn">
  <app-nav-menu></app-nav-menu>
  <div class='container-fluid'>
    <div class="container main shadow-panel">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ngb-alert *ngIf="alertService.successMessage" type="success" (close)="alertService.successMessage = null">{{ alertService.successMessage }}</ngb-alert>
<ngb-alert *ngIf="alertService.errorMessage" type="danger" (close)="alertService.errorMessage = null">{{ alertService.errorMessage }}</ngb-alert>