.component-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2rem;
}

.bottom-border {
    border-top: 0 !important;
    border-bottom: 1px solid $hover !important;
}

.card {
    border-radius: 0;
    border: 1px solid #829098  !important;
    margin: 1rem !important;
}