.task-container {
  flex: 1;
  height: 100%;
}

.board-group-card {
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: .3rem;
  height: 100%;
  position: relative;
}

.create-task {
  padding: .3rem;
  height: 46px;

  button {
    display: block;
    width: 100%;
  }
}

.create-task-spacer {
  height: 46px;
  min-height: 46px;
  width: 100%;
}

.board-task-list {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 267px);
  overflow-y: auto;
  padding: .6rem;
}

.cdk-drag-placeholder {
  opacity: .2;
}

.cdk-drag-preview {
  mat-card {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12) !important;
  }
}

.cdk-drag-animating {
  transition: transform .25s cubic-bezier(0, 0, .2, 1);
}

.board-task-list.cdk-drop-list-dragging .board-group-task-card:not(.cdk-drag-placeholder) {
  transition: transform 140ms cubic-bezier(0, 0, .2, 1);
}
