<div class="page-body">
  <div @insertRemoveSidebar id="left" class="column-fs" [ngClass]="transitionService.sidebarStateClass" *ngIf="showSidebar">
    <div class="bottom">
      <app-side-bar class="sidebar"></app-side-bar>
    </div>
  </div>
  <div id="right" class="column-fs">
    <div class="bottom">
      <ng-container *ngIf="routeLoading; else elseTemplate">
          <mat-spinner style="margin:0 auto;"></mat-spinner>
      </ng-container>
      <ng-template #elseTemplate>
          <router-outlet></router-outlet>
      </ng-template>
    </div>
  </div>
</div>
