h1 {
  font-weight: lighter;
}

.form-auth {
  height: 100%;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 1rem;
}

.form-auth .checkbox {
  font-weight: 400;
}

.form-auth .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
  transition: color .3s;
}

.cursor-pointer:hover {
  color: rgba(0, 0, 0, .5);
}

.auth-progress-bar {
  height: 1rem;
}
