@import '~@angular/material/theming';

@mixin image-cropper-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .image-cropper {
    .mat-button.icon-button {
      min-width: 0;
      width: 42px;
      border-radius: 50%;
      padding: 2px;
    }
  }

}
