<div class="image-cropper" [style.visibility]="ready ? 'visible' : 'hidden'">
  <ly-img-cropper
    class="cropper"
    [style.max-width]="size"
    [style.height]="size"
    [config]="myConfig"
    [(scale)]="scale"
    (minScale)="minScale = $event"
    (ready)="ready = true"
    (cleaned)="ready = false"
    (cropped)="onCropped($event)"
  >
    <span class="empty-image" *ngIf="ready"> Drag and drop image </span>
  </ly-img-cropper>

  <div class="cropper-upload">
    <input
      #_fileInput
      type="file"
      (change)="cropper.selectInputEvent($event)"
      accept="image/*"
      hidden
    />
  </div>

  <div class="cropper-tool-bar" *ngIf="ready">
    <app-button
      class="icon-button"
      (click)="cropper.zoomIn()"
      mat-button
      matTooltip="Zoom In"
    >
      <mat-icon>zoom_in</mat-icon>
    </app-button>
    <app-button
      class="icon-button"
      (click)="cropper.zoomOut()"
      mat-button
      matTooltip="Zoom Out"
    >
      <mat-icon>zoom_out</mat-icon>
    </app-button>
    <app-button
      class="icon-button"
      (click)="cropper.center()"
      mat-button
      matTooltip="Center Focus"
    >
      <mat-icon>filter_center_focus</mat-icon>
    </app-button>
    <app-button
      class="icon-button"
      (click)="cropper.rotate(-90)"
      mat-button
      matTooltip="Rotate"
    >
      <mat-icon>rotate_90_degrees_ccw</mat-icon>
    </app-button>

    <app-button (click)="cropper.fit()" mat-button>Fit</app-button>
    <app-button (click)="cropper.fitToScreen()" mat-button
      >Fit to screen</app-button
    >
    <app-button (click)="cropper.setScale(1)" mat-button>1:1</app-button>
    <app-button (click)="cropper.clean()" mat-button>Clean</app-button>
  </div>

  <app-button
    mat-stroked-button
    class="crop-image-btn"
    (click)="onCancelClicked()"
  >
    Cancel
  </app-button>

  <app-button
    *ngIf="src"
    mat-stroked-button
    class="crop-image-btn"
    (click)="onClearClicked()"
  >
    Remove
  </app-button>

  <app-button
    mat-stroked-button
    class="crop-image-btn select-file"
    (click)="_fileInput.click()"
  >
    <mat-icon>image</mat-icon>
    <span>Upload</span>
  </app-button>

  <app-button
    *ngIf="ready"
    mat-flat-button
    color="primary"
    class="crop-image-btn"
    (click)="onCropClicked()"
  >
    <mat-icon>crop</mat-icon>Save
  </app-button>
</div>
