.crop-image-btn {
  margin: .6rem 0 .6rem .8rem;

  .mat-icon {
    margin-right: .4rem;
  }
}

.select-file {
  justify-self: end;
}

.empty-image {
  font-family: 'Overpass', sans-serif;
}

.image-cropper {
  .mat-mdc-button.icon-button {
    min-width: 0;
    width: 42px;
    border-radius: 50%;
    padding: 2px;
  }

  .cropper-upload {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .cropper-tool-bar {
    display: flex;
    align-items: center;
    padding-top: .2rem;
  }

  .cropper {
    max-width: 180px;
    height: 180px;
    border-radius: 4px;
    margin: auto;
  }

  .crop-result {
    border-radius: 50%;
  }
}
