<ng-container *ngIf="loading$ | async; else elseTemplate">
  <div class="loading">
    <mat-spinner diameter="32"></mat-spinner>
  </div>
</ng-container>


<ng-template #elseTemplate>
  <div
    class="task-list-main drag-group"
    cdkDropListGroup
  >
    <app-task-list-group
      class="mb-5"
      *ngFor="let group of taskGroups$ | async"
      [tasks]="group.tasks"
      [header]="group.header"
      [groupName]="group.groupName"
      [status]="group.status"
      [emptyMessage]="group.emptyMessage"
    >
    </app-task-list-group>
  </div>
</ng-template>

