<h1 mat-dialog-title>{{ task ? 'Edit Task' : 'Add new Task'}}</h1>

<form [formGroup]="projectFromGroup">

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Enter Task Summary</mat-label>
    <textarea matInput id="name" class="form-control" formControlName="nameFormControl" placeholder="What do you need to get done?"
      name="name" aria-label="With textarea" required></textarea>
      <mat-hint>Required</mat-hint>
  </mat-form-field>

  <br>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Task Project</mat-label>
    <mat-select id="type" name="type" placeholder="Project" formControlName="projectFormControl" (selectionChange)="selectProject()">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let project of projects$ | async" [value]="project">{{ project.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field class="full-width" appearance="outline" *ngIf="showDescriptionField">
    <mat-label>Enter Task Description</mat-label>
    <input matInput id="description" class="form-control" placeholder="Task Summary" formControlName="descriptionFormControl" name="Description">
  </mat-form-field>

</form>


<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Close</button>
  <div class="mr-2"></div>
  <button mat-flat-button color="primary" (click)="getResult()" type="button">
    {{ task ? 'Save Changes' : 'Save Task'}}
  </button>
</div>
