<div class="nept-form-control">
  @if (label()) {
  <label [for]="name()" class="form-control-label">
    {{ label() }}
  </label>
  }

  <div class="flex justify-stretch">
    @for (color of colorsRowTop; track color) {
    <div
      class="flex-1 h-9 min-w-9 min-h-9 rounded-[--radius-sm] m-[0.2rem] flex justify-center items-center text-white cursor-pointer"
      [matTooltip]="color.name"
      [style.background-color]="color.color"
      (click)="onOptionClicked(color)"
    >
      @if (value() === color.color) {
      <mat-icon>done</mat-icon>
      }
    </div>
    }
  </div>
  <div class="flex justify-stretch">
    @for (color of colorsRowBottom; track color.color) {
    <div
      class="flex-1 h-9 min-w-9 min-h-9 rounded-[--radius-sm] m-[0.2rem] flex justify-center items-center text-white cursor-pointer"
      [matTooltip]="color.name"
      [style.background-color]="color.color"
      (click)="onOptionClicked(color)"
    >
      @if (value() === color.color) {
      <mat-icon>done</mat-icon>
      }
    </div>
    }
  </div>

  @if (hint()) {
  <small class="form-control-hint"> {{ hint() }} </small>
  }
</div>
