.color-options {
  display: flex;
  flex-wrap: wrap;

  .color-option {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border-radius: 3px;
    margin: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
}
