.color-options {
  display: flex;
  justify-content: stretch;

  .color-option {
    flex: 1;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border-radius: var(--border-radius-small);
    margin: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
}
