<div class="nept-form-control">
  <label
    *ngIf="label"
    [for]="ngControl.name"
    class="form-control-label"
  >
    {{ label }}
  </label>

  <div class="color-options">
    <div
      class="color-option"
      *ngFor="let color of colors"
      [matTooltip]="color.name"
      [style.background-color]="color.color"
      (click)="onOptionClicked(color)"
    >
      <mat-icon *ngIf="value == color.color">done</mat-icon>
    </div>
  </div>

  <small
    *ngIf="hint"
    class="form-control-hint"
  >
    {{ hint }}
  </small>
</div>
