.group-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: -0.4rem;
  margin: 2rem 0;
  justify-content: space-between;

  button {
    margin: 0.4rem 7rem;
    width: 100%;
    text-transform: uppercase;

    .group-item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0.2rem;
      width: 100%;
    }

    .pill {
      height: 0.2rem;
      width: 100%;
      border-radius: 5rem;
    }

    .pill {
      background-color: rgba(var(--foreground-rgb), 0.1);
    }

    &.selected {
      color: var(--foreground);
      background-color: rgba(var(--primary-rgb), .25);

      .pill {
        background-color: rgba(var(--primary-rgb), .4);
      }
    }
  }
}
