@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin move-tasks-dialog-theme($theme) {
  .group-selection {
    button {
      .pill {
        background-color: rgba(var(--foreground-rgb), .1);
      }
      &.selected {
        color: invert(var(--foreground));
        background-color: var(--mat-sys-primary-container);

        .pill {
          // background-color: invert(rgba(var(--foreground-rgb), .4)); //TODO
        }
      }
    }
  }
}
