@import '~@angular/material/theming';

@mixin move-tasks-dialog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .group-selection {
    button {
      .mat-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .pill {
        background-color: mat-color($foreground, text, .1);
      }


      &.selected {
        color: invert(mat-color($foreground, text));
        background-color: mat-color($primary);

        .pill {
          background-color: invert(mat-color($foreground, text, .4));
        }
      }
    }
  }
}
