.group-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: -0.4rem;
  margin: 2rem 0;
  justify-content: space-between;
}

.group-selection button {
  margin: 0.4rem 7rem;
  width: 100%;
  text-transform: uppercase;
}

.group-selection button .group-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
}

.group-selection button .pill {
  height: 0.2rem;
  width: 100%;
  border-radius: 5rem;
}

.group-selection button .pill {
  background-color: rgba(var(--foreground-rgb), 0.1);
}

.group-selection button.selected {
  color: var(--foreground);
  background-color: rgba(var(--primary-rgb), 0.25);
}

.group-selection button.selected .pill {
  background-color: rgba(var(--primary-rgb), 0.4);
}
