<h1 mat-dialog-title>
  {{ isEditMode ? 'Edit Workspace' : 'Add new Workspace'}}
</h1>

<form
  class="form-auth"
  [formGroup]="formGroup"
>
  <app-form-input
    formControlName="name"
    label="Name"
    maxLength="1024"
  >
  </app-form-input>

  <app-form-input
    formControlName="identifier"
    label="Identifier"
    maxLength="1024"
    [icon]="identifierIcon$ | async"
    [loading]="isUniqueLoading$ | async"
    [hint]="identifier.hasError('already-taken') ? 'Identifier is already taken' : null"
  >
  </app-form-input>

  <app-form-textarea
    formControlName="description"
    label="Description"
    maxLength="4096"
  >
  </app-form-textarea>

  <app-color-select
    formControlName="color"
    label="Color"
  >
  </app-color-select>
</form>

<div mat-dialog-actions align="end">
  <button
    mat-stroked-button
    mat-dialog-close
  >
    Close
  </button>

  <button
    mat-flat-button
    color="primary"
    (click)="getResult()"
    type="button"
  >
    {{ isEditMode ? 'Save Changes' : 'Save Workspace'}}
  </button>
</div>
