@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin workspace-dialog-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .color-select {
    .mat-form-field-infix {
      max-height: 18px;
    }
  }

  .identifier-check {
    cursor: default;
    color: mat.get-color-from-palette($foreground, success);
  }

  .is-unique-loading {
    height: 18px;
  }
}
