<h1 mat-dialog-title>
  {{ isEditMode ? 'Edit Workspace' : 'Add new Workspace'}}
</h1>

<form app-dialog-content class="form-auth">
  <app-form-input [field]="dialogForm.name" label="Name" maxLength="1024" />

  <app-form-input
    [field]="dialogForm.identifier"
    label="Identifier"
    maxLength="1024"
    [icon]="identifierIcon()"
    [loading]="dialogForm.identifier().pending()"
    [hint]="dialogForm.identifier().errors()[0]?.message"
  />

  <app-form-textarea
    [field]="dialogForm.description"
    label="Description"
    maxLength="4096"
  />


  <app-color-select [field]="dialogForm.color" label="Color" />
</form>

<div app-dialog-actions align="end">
  <button mat-stroked-button app-dialog-close>Close</button>

  <button mat-flat-button color="primary" (click)="getResult()" type="button">
    {{ isEditMode ? 'Save Changes' : 'Save Workspace'}}
  </button>
</div>
