@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin workspace-dialog-theme($theme) {

  .identifier-check {
    cursor: default;
    color: var(--success);
  }

  .is-unique-loading {
    height: 18px;
  }
}
