@use '@angular/material' as mat;

@mixin workspace-dialog-theme($theme) {

  .identifier-check {
    cursor: default;
    color: mat.get-color-from-palette($foreground, success);
  }

  .is-unique-loading {
    height: 18px;
  }
}
