<h1 mat-dialog-title>
  {{ isEditMode ? 'Edit Workspace' : 'Add new Workspace'}}
</h1>

<form app-dialog-content class="form-auth">
  <app-form-input [formField]="dialogForm.name" label="Name" maxLength="1024" />

  <app-form-input
    [formField]="dialogForm.identifier"
    label="Identifier"
    maxLength="1024"
    [icon]="identifierIcon()"
    [loading]="dialogForm.identifier().pending()"
    [hint]="dialogForm.identifier().errors()[0]?.message"
  />

  <app-form-textarea
    [formField]="dialogForm.description"
    label="Description"
    maxLength="4096"
  />


  <app-color-select [formField]="dialogForm.color" label="Color" />
</form>

<div app-dialog-actions align="end">
  <app-button variant="outlined" app-dialog-close>Close</app-button>
  <app-button variant="filled" (click)="getResult()">{{ isEditMode ? 'Save Changes' : 'Save Workspace'}}</app-button>
</div>
