<h1 mat-dialog-title>
  {{ task ? 'Edit Task' : 'Add new Task'}}
</h1>

<form [formGroup]="projectFromGroup">

  <mat-form-field
    class="w-100"
    appearance="fill"
  >
    <mat-label>Enter Task Summary</mat-label>
    <textarea
      matInput
      class="form-control"
      formControlName="nameFormControl"
      name="name"
      rows="1"
      required
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
    ></textarea>
  </mat-form-field>

  <br>

  <mat-form-field
    class="w-100"
    appearance="fill"
  >
    <mat-label>Task Project</mat-label>
    <mat-select
      name="type"
      formControlName="projectFormControl"
    >
      <mat-option>None</mat-option>
      <mat-option
        *ngFor="let project of projects$ | async"
        [value]="project"
      >
        {{ project.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field
    class="w-100"
    appearance="fill"
  >
    <mat-label>Description</mat-label>
    <textarea
      matInput
      class="form-control"
      formControlName="descriptionFormControl"
      rows="3"
      name="description"
      required
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="6"
    ></textarea>
  </mat-form-field>

</form>

<div
  mat-dialog-actions
  align="end"
>
  <button
    mat-stroked-button
    (click)="close()"
  >
    Close
  </button>
  <div class="mr-2"></div>
  <button
    mat-flat-button
    color="primary"
    (click)="saveClicked()"
    type="button"
  >
    {{ task ? 'Save Changes' : 'Save Task'}}
  </button>
</div>
