<h1 mat-dialog-title>{{ isEditMode ? 'Edit Board' : 'Create Board'}}</h1>

<form app-dialog-content class="form-auth">
  <app-form-input [field]="boardForm.name" label="Board Name" maxLength="1024">
  </app-form-input>

  <app-form-input
    [field]="boardForm.identifier"
    label="Board Identifier"
    maxLength="1024"
    [icon]="identifierIcon()"
    [loading]="boardForm.identifier().pending()"
    >
  </app-form-input>

  <app-form-select [field]="boardForm.projectId" label="Project">
    @for (project of projects(); track project.id) {
      <app-form-select-option
        [value]="project.id"
        >
        {{ project.name }}
      </app-form-select-option>
    }
  </app-form-select>

  <app-color-select [field]="boardForm.color" label="Color"> </app-color-select>
</form>

<div app-dialog-actions align="end">
  <button mat-stroked-button app-dialog-close>Close</button>

  <button mat-flat-button color="primary" (click)="getResult()" type="button">
    {{ isEditMode ? 'Save Changes' : 'Create Board'}}
  </button>
</div>
