<app-card
  class="flex flex-col items-start p-[8px] text-[14px] tracking-[.1px] cursor-pointer mb-[.3rem] overflow-hidden"
  [class.flagged]="task().isFlagged"
  [class.selected]="task().selected"
  >
  <div class="mb-0 leading-[1.4rem]">{{ task().name }}</div>

  <div class="flex flex-row flex-wrap">
    @for (tag of task().tags; track trackByTag($index, tag)) {
      <div class="ml-[0] mr-[.2rem] my-[.2rem] rounded-[4px] px-[.4rem] py-[.2rem]">
        {{ tag }}
      </div>
    }
  </div>

  <div class="card-footer">
    <div class="bottom-right">
      @if (task().isFlagged) {
        <mat-icon color="warn"> flag </mat-icon>
      }
      @for (assignee of task().assignees; track trackById($index, assignee)) {
        <app-avatar
          size="24"
          class="task-card-user-chip"
          [name]="assignee.displayName"
          [imageUrl]="assignee.pictureUrl"
          >
        </app-avatar>
      }
    </div>

    <div class="bottom-left">
      <app-task-scope-id [id]="task().systemId" />

      @if (task().status === 1) {
        <mat-icon class="text-green-500">
          done
        </mat-icon>
      }
    </div>
  </div>
</app-card>
