<mat-card
  class="group-task-card"
  [class.flagged]="task.isFlagged"
  [class.selected]="task.selected"
  (click)="onTaskClicked($event)"
>
  <div class="task-name-text">
    {{ task.name }}
  </div>

  <div class="card-tags">
    <div class="card-tag" *ngFor="let tag of task.tags; trackBy: trackByTag">
      {{ tag }}
    </div>
  </div>

  <div class="card-footer">
    <div class="bottom-right">
      <mat-icon
        *ngIf="task.isFlagged"
        color="warn"
      >
        flag
      </mat-icon>
      <app-avatar
        size="24"
        class="task-card-user-chip"
        [name]="task.assigneeUsername"
        [imageUrl]="task.assigneePictureUrl"
      >
      </app-avatar>
    </div>

    <div class="bottom-left">
      <div class="task-scope-id">
        {{ task.systemId }}
      </div>

      <mat-icon
      class="task-complete"
      *ngIf="task.status === 1"
      >
        done
      </mat-icon>
    </div>
  </div>

</mat-card>
