.card-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .card-tag {
    margin: .2rem .2rem .2rem 0;
    border-radius: 4px;
    padding: .2rem .4rem;
    background-color: rgba(var(--foreground-rgb), .06);
  }
}

.card-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-self: flex-end;
  width: 100%;
  margin-top: .2rem;
  align-items: center;

  .bottom-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    mat-icon {
      margin-right: .6rem;
    }
  }

  .bottom-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .task-scope-id {
    background-color: rgba(var(--primary-rgb), .2);
  }
}
