@import '../../../../../styles/variables.scss';

#task-expansion {
    background-color: transparent;
    box-shadow: none;
}

#completed-container {
    background-color: #0a9e830d;
    padding-top: 0.1rem;
    border-radius: 16px;
}

#backlog-container {
    background: repeating-linear-gradient( -45deg, #f0f0f0, #f0f0f0 10px, #f1f1f1 10px, #f1f1f1 20px);
    padding-top: 0.1rem;
    border-radius: 16px;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.main {
    height: 90%;
    position: relative;
    width: 100%;
}

.fas {
    margin-right: 1rem;
}

.input-group-prepend {
    span,
    label {
        width: 10rem;
    }
}

#export-button {
    color: #6C757D;
    margin-top: 2rem;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2rem;
}

.icon {
    margin: 0px auto;
    text-align: center;
    height: 48px;
    width: 48px;
    font-size: 2.5rem;
    padding: 0.5rem;
    display: inline-block;
    margin-right: 1.5rem;
}

.action-button {
    margin-right: 0.8rem;
}

.action-button:first-child,
.mat-card-actions .mat-raised-button:first-child {
    margin-left: 0;
    margin-right: 0.8rem !important;
}

.action-mat-icon {
    margin-right: 0.6rem;
}

.tasks-container {
    margin-top: 2em;
}

mat-divider {
    margin-top: 2em;
    margin-bottom: 2em;
}

h4 {
    font-weight: 100;
}

#container-header {
    margin-left: 2rem;
    color: #0a9e83e8;
    cursor: pointer;
    font-weight: 500;
}

#container-header-dark-text {
    color: #171717;
    margin-left: 2rem;
    cursor: pointer;
    font-weight: 500;
}

.mat-expanded .expanded {
    min-height: 8rem;
}