.page-header {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0 0;
  max-height: 136px;
  height: 136px;
}

.header-back-link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.225px;
  cursor: pointer;

  .mat-icon {
    font-size: 24px;
    height: 24px;
    margin-right: 0.4rem;
  }
}

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

.header-main-back {
  height: 24px;
}

.header-top-row {
  height: 108px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .header-top-row-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .header-tool-bar {
      margin-left: 1.4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.8rem;
    }
  }

  .page-header-title {
    font-weight: 400;
    font-size: 2rem;
    font-family: "Overpass", sans-serif;
    margin: 0;
  }

  .page-header-title-editable {
    cursor: pointer;
  }

  .header-actions {
    .header-primary-action,
    .header-secondary-action {
      border-radius: 6rem;
      margin-left: 0.8rem;
    }

    .header-actions-overflow {
      button {
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-header-title {
    font-weight: 400;
    font-size: 1.4rem !important;
    margin: 0;
  }

  .page-header {
    flex-direction: row;
    align-items: center;
    padding: 0 0 1.4rem;

    .header-top-row {
      flex: 1;
    }

    .header-top-row-left {
      flex: 1;
      margin-top: 0.4rem;
    }
  }
}

.header-back-link {
  color: rgba(var(--foreground-rgb), 0.5);

  &:hover {
    color: var(--primary);
  }
}

.header-actions {
  display: flex;
  flex-direction: row;
}
