@use '@angular/material' as mat;

@mixin page-header-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .header-top-row {
    border-bottom: 2px solid mat.get-color-from-palette($background, border);
  }

  .header-back-link {
    color: mat.get-color-from-palette($foreground, text, .5);

    &:hover {
      color: mat.get-color-from-palette($primary);
    }
  }

  .header-actions {
    display: flex;
    flex-direction: row;

    .header-primary-action {
      background-color: mat.get-color-from-palette($primary);
      color: #fff;
    }

    .header-primary-action:hover {
      background-color: lighten(mat.get-color-from-palette($primary), 4);
    }

    .header-secondary-action {
      background-color: mat.get-color-from-palette($foreground, text, .08);
      color: mat.get-color-from-palette($foreground, text, .7);
    }

    .header-secondary-action:hover {
      background-color: mat.get-color-from-palette($foreground, text, .2);
    }

    .header-menu-action {
      background-color: mat.get-color-from-palette($foreground, text, .08);
      color: mat.get-color-from-palette($foreground, text, .4);
    }

    .header-menu-action:hover {
      background-color: mat.get-color-from-palette($foreground, text, .2);
    }
  }

  .header-tool-bar {
    & > * {
      margin-right: .8rem;
    }
  }
}

