.page-header {
  display: flex;
  flex-direction: column;
  padding: .4rem 0 0;
  max-height: 136px;
  height: 136px;
}

.header-back-link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .225px;
  cursor: pointer;

  .mat-icon {
    font-size: 24px;
    height: 24px;
    margin-right: .4rem;
  }
}

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 100%;
  align-items: center;
}

.header-main-back {
  height: 24px;
}

.header-top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .header-top-row-left {
    display: flex;
    flex-direction: column;
    justify-content: start;

    .header-tool-bar {
      margin-left: 1.4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .page-header-title {
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Overpass', sans-serif;
  }

  .header-actions {
    .header-primary-action,
    .header-secondary-action {
      font-family: inherit;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: .5px;
      padding: .6rem 1.4rem;
      border-radius: 6rem;
      cursor: pointer;
      transition: background-color .2s ease-in-out;
      margin-left: .8rem;
      text-decoration: none;
      border: 0;
      appearance: none;
    }

    .header-menu-action {
      font-family: inherit;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: .5px;
      padding: .2rem .4rem;
      border-radius: 6rem;
      cursor: pointer;
      transition: background-color .2s ease-in-out;
      margin-left: .8rem;
      text-decoration: none;
      border: 0;
      appearance: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 36px;
      max-width: 36px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-header-title {
    font-weight: 400;
    font-size: 1.4rem !important;
    margin: 0;
  }

  .page-header {
    flex-direction: row;
    align-items: center;
    padding: 0 0 1.4rem;

    .header-top-row {
      flex: 1;
    }

    .header-top-row-left {
      flex: 1;
      margin-top: .4rem;
    }
  }
}
