<h1 mat-dialog-title>Add Post</h1>

<form [formGroup]="postFromGroup">

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Enter Post Title</mat-label>
    <input matInput id="name" class="form-control" placeholder="Enter title..." formControlName="titleFormControl" name="title"
      required>
    <mat-hint>Required</mat-hint>
  </mat-form-field>

</form>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
  <button mat-button [mat-dialog-close]="getResult()" [disabled]="postFromGroup.invalid" type="button">
    Save Post
  </button>
</div>
