.avatar-container {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding: 3px;
  font-weight: 500;
  letter-spacing: .8px;
}

.avatar-border {
  border: 3px solid rgba(255, 255, 255, .8);
}
