<div
  class="avatar-container"
  [style.height]="size | px"
  [style.width]="size | px"
  [style.background-color]="imageUrl ? null : backgroundColor"
  [style.color]="color"
  [style.border-radius]="borderRadius"
  [class.avatar-border]="border"
  [matTooltip]="tooltip ? name : undefined"
  [style.font-size]="size | avatarFontSize"
>
  <ng-container *ngIf="imageUrl; else elseTemplate">
    <img
      class="avatar-image"
      [width]="size"
      [height]="size"
      [src]="imageUrl"
      [alt]="name"
    >
  </ng-container>

  <ng-template #elseTemplate>
    {{ name | avatar }}
  </ng-template>

</div>
