<div
  class="avatar-container"
  [style.height]="sizePx"
  [style.width]="sizePx"
  [style.background-color]="backgroundColor"
  [style.color]="color"
  [class.avatar-border]="border"
  [matTooltip]="tooltip ? name : undefined"
  [style.font-size]="fontSize"
>
  <ng-container *ngIf="imageUrl; else elseTemplate">
    <img
      class="avatar-image"
      [width]="size"
      [height]="size"
      [src]="imageUrl"
      [alt]="name"
    >
  </ng-container>
  <ng-template #elseTemplate>{{ name | avatar }}</ng-template>

</div>
