@import '~@angular/material/theming';

@mixin boards-view-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .board-group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid mat-color($background, border, .04);
    align-items: center;

    button,
    .mat-icon {
      height: 16px;
      width: 16px;
      line-height: 16px;
      align-self: flex-end;
    }
  }
}
