<app-page-container [marginBottom]="false" [verticalPadding]="false" [fullHeight]="true">

  <div class="action-bar">

    <button mat-button [matMenuTriggerFor]="belowMenu">
      {{ selectedBoardName$ | async }}
    </button>

    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button
        mat-menu-item
        *ngFor="let board of boards$ | async"
        (click)="boardClicked(board)"
      >
        {{ board.name }}
      </button>
    </mat-menu>

    <button
      mat-stroked-button
      color="primary"
      (click)="showAddModal()"
    >
      Create Board
    </button>
  </div>

  <div
    cdkDropList
    class="board-groups"
    *ngIf="groups$ | async as groups"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="groups"
  >

    <app-board-group
      cdkDrag
      class="board-group"
      *ngFor="let group of groups"
      [cdkDragData]="group"
      [group]="group"
    >
      <span class="board-group-header" cdkDragHandle>
        {{ group.name }}
      </span>
    </app-board-group>


  </div>

</app-page-container>
