<div class="auth-page-container">

  <div class="auth-progress-bar">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="$authLoading | async"
    ></mat-progress-bar>
  </div>

  <form
    [formGroup]="loginGroup"
    (ngSubmit)="login()"
  >

    <img
      src="assets/apple-touch-icon.png"
      alt="Netptune Logo"
      width="72"
      height="72"
    >

    <h3 class="mat-typography auth-title">Sign in to continue</h3>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        id="email"
        placeholder="Enter Email Address"
        name="email"
        formControlName="email"
        autocomplete="username"
      >
      <mat-error *ngIf="!email.hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        id="password"
        placeholder="Enter Password"
        [type]="hidePassword ? 'password' : 'text'"
        name="current-password"
        formControlName="password"
        autocomplete="current-password"
      >
      <mat-icon
        matSuffix
        (click)="hidePassword = !hidePassword"
        class="cursor-pointer"
      >
        {{ hidePassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
      <mat-error *ngIf="password.hasError('required')">
        Password is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <div class="button-container">
      <button
        mat-stroked-button
        color="primary"
        type="submit"
      >
        Sign in
      </button>

      <a
        mat-button
        color="primary"
        type="button"
        [routerLink]="['/auth/register']"
      >
        Create Account
      </a>
    </div>

    <div class="auth-footer">
      <a
        mat-button
        color="primary"
        [routerLink]="['/auth/request-password-reset']"
      >
        Forgot Password?
      </a>
    </div>

  </form>
</div>
