<div class="px-md-3 px-lg-5 mt-5">
  <ng-container *ngIf="(settings$ | async) as settings">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">

      <mat-form-field class="mb-3 col-lg-4 col-md-6 col-sm-12" appearance="outline">
        <mat-label>Theme</mat-label>
        <mat-select
          placeholder="Select Theme"
          (selectionChange)="onThemeSelect($event)"
          [ngModel]="settings.theme"
        >
          <mat-option *ngFor="let theme of themes" [value]="theme.value">
            {{ theme.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </ng-container>
</div>
