@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin tags-input-theme($theme) {

  $item-background: rgba(var(--foreground-rgb), .06);
  $item-background-hover: rgba(var(--foreground-rgb), .1);

  .edit-tag-item {
    color: var(--foreground);
  }
}
