.edit-tag-item {
  appearance: none;
  outline: none;
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  width: 100%;
  margin: .3rem 0;
  max-width: calc(300px - .4rem);
  border-radius: 4px;
  padding: .4rem .6rem;
  color: inherit;
}
