@use '@angular/material' as mat;

@mixin tags-input-theme($theme) {

  $item-background: mat.get-color-from-palette($foreground, text, .06);
  $item-background-hover: mat.get-color-from-palette($foreground, text, .1);

  .edit-tag-item {
    color: mat.get-color-from-palette($foreground, text);
  }
}
