@use '@angular/material' as mat;
@use 'variables' as *;

@use 'sass:map';

@mixin board-groups-selection-theme($theme) {
  .board-groups-selection {
    // background-color: mix(mat.m2-get-color-from-palette($primary), var(--board-group), 5%) !important; // TODO

    .mat-icon {
      opacity: .3;
    }

    span,
    .mat-icon {
      opacity: .6;
      color: var(--mat-sys-primary-container);
    }

    .close-btn:hover {
      color: var(--mat-sys-primary-container);
    }

  }

  .board-groups-selection-btn {
    // background-color: mix(mat.m2-get-color-from-palette($primary), var(--board-group), 5%) !important; // TODO

    .mat-icon {
      opacity: .6;
      color: rgba(var(--foreground-rgb), .6);
    }

    &:hover {
      // background-color: mix(mat.m2-get-color-from-palette($primary), var(--board-group), 25%) !important; // TODO
      // color: mix(mat.m2-get-color-from-palette($primary), var(--board-group), 95%) !important; // TODO

      .mat-icon {
        opacity: .9;
        // fill: mix(rgba(var(--mat-sys-primary-container), A700), var(--board-group), 95%) !important; // TODO
      }
    }
  }
}
