.board-groups-selection {
  padding: 0 .8rem;
  border-radius: .3rem;
  display: flex;
  align-items: center;
  margin-left: .4rem;
  height: 36px;

  button {
    outline: none;
    appearance: none;
    border: 0;
    background: transparent;
  }
}

.board-groups-selection-btn {
  outline: none;
  appearance: none;
  border: 0;
  padding: 0 .8rem;
  border-radius: .3rem;
  display: flex;
  align-items: center;
  margin-left: .4rem;
  height: 36px;
  cursor: pointer;
  transition: background-color .14s ease-in-out, color .14s ease-in-out;
}

span {
  margin-left: .4rem;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .125px;
  opacity: .6;
  line-height: 36px;

  b {
    font-weight: 700;
  }
}

.row {
  display: flex;
  align-items: center;
}

.close-btn {
  margin-left: .4rem;
  cursor: pointer;
}

.board-groups-selection {
  background-color: var(--toolbar-btn-background);

  .mat-icon {
    opacity: .3;
  }

  span,
  .mat-icon {
    opacity: .6;
    color: var(--primary);
  }

  .close-btn:hover {
    color: var(--primary);
  }

}

.board-groups-selection-btn {
  background-color: var(--toolbar-btn-background);

  .mat-icon {
    opacity: .6;
    color: rgba(var(--foreground-rgb), .6);
  }

  &:hover {
    background-color: rgba(var(--primary-rgb), .25) !important;
    color: rgba(var(--primary-rgb), .25) !important;

    .mat-icon {
      opacity: .9;
      fill: rgba(var(--primary-rgb), .25) !important;
    }
  }
}
