@use '@angular/material' as mat;

@mixin board-groups-selection-theme($theme) {
  .board-groups-selection {
    background-color: mix(mat.get-color-from-palette($primary), $board-group, 5%) !important;

    .mat-icon {
      opacity: .3;
    }

    span,
    .mat-icon {
      opacity: .6;
      color: mat.get-color-from-palette($primary);
    }

    .close-btn:hover {
      color: mat.get-color-from-palette($primary);
    }

  }

  .board-groups-selection-btn {
    background-color: mix(mat.get-color-from-palette($primary), $board-group, 5%) !important;

    .mat-icon {
      opacity: .6;
      color: mat.get-color-from-palette($foreground, text, .6);
    }

    &:hover {
      background-color: mix(mat.get-color-from-palette($primary), $board-group, 25%) !important;
      color: mix(mat.get-color-from-palette($primary), $board-group, 95%) !important;

      .mat-icon {
        opacity: .9;
        fill: mix(mat.get-color-from-palette($primary, A700), $board-group, 95%) !important;
      }
    }
  }
}
