@import '../../../../styles/variables.scss';

.fas {
    margin-right: 1rem;
}

form {
  max-width: 400px;
    margin-top: 4em;
    margin-right: auto;
    margin-left: auto;
}

.form-spacer {
    height: 2em;
}

.form-actions {
  margin-bottom: 3rem;
    button {
        float: right;
    }
}

.mat-form-field {
    margin-bottom: 1.4em;
}

.mat-card {
    padding: 2rem;
}

.profile-section-header {
  font-weight: 400;
  font-size: 1.1rem;
}
