<div class="container px-0">
  <div class="component-header">
    <button mat-fab type="button" id="new-button" (click)="showAddModal()">
      <mat-icon>add</mat-icon>
      <span id="new-button-text">New Project</span>
    </button>
  </div>

  <div class="container mb-5 px-md-3 px-lg-5">
    <div class="card-group">
      <mat-card *ngFor="let project of (projects$ | async); let i = index; trackBy: trackById" class="project-card">
        <mat-card-header>
          <mat-card-title>{{ project.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ project.description }}</p>

          <div class="card-chips">
            <mat-chip-list>
              <mat-chip
                >Owner {{ project.owner?.firstName + ' ' + project.owner?.lastName }}</mat-chip
              >
              <mat-chip>Updated {{ project.updatedAt | date }}</mat-chip>
              <mat-chip>Created {{ project.createdAt | date }}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
