<app-page-container [marginBottom]="false" [verticalPadding]="false" [fullHeight]="true">

  <div
    cdkDropList
    class="board-groups"
    *ngIf="groups$ | async as groups"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="groups"
  >

    <app-board-group
      cdkDrag
      class="board-group"
      *ngFor="let group of groups; trackBy:group?.id"
      [cdkDragData]="group"
      [group]="group"
      [siblingIds]="getsiblingIds(group, groups)"
      [dragListId]="group.id.toString()"
    >
      <span class="board-group-header" cdkDragHandle>
        {{ group.name }}
        <button mat-icon-button class="delete-board-group-btn">
          <mat-icon>close</mat-icon>
        </button>
      </span>
    </app-board-group>

    <app-create-board-group class="board-group">
    </app-create-board-group>

  </div>

</app-page-container>
