.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 64px;
}

.board-groups {
  width: 100%;
  max-height: calc(100vh - 180px);
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-bottom: 1rem;
  overflow: scroll;
}

.board-group {
  margin-right: 1rem;
  flex: 0 0 300px;
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.board-group:last-child {
  margin-right: 0 !important;
}

.board-group-header {
  cursor: pointer;

  .title {
    padding: 0 0 0 16px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    .title-input {
      margin-left: .2rem;
      width: 100%;
      transition: background-color .2s ease-in-out;
      border-radius: 3px;
      padding: 4px 6px;
    }

    span {
      margin-left: .2rem;
      font-weight: 700;
    }
  }

  .delete-board-group-btn {
    margin: 0 .2rem;
  }
}


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
  0 8px 10px 1px rgba(0, 0, 0, .14),
  0 3px 14px 2px rgba(0, 0, 0, .12);
  transition: box-shadow .3s cubic-bezier(0, 0, .2, 1);
}

.cdk-drag-animating {
  transition: transform .25s cubic-bezier(0, 0, .2, 1);
}

.board-groups.cdk-drop-list-dragging .board-group:not(.cdk-drag-placeholder) {
  transition: transform .5s cubic-bezier(0, 0, .2, 1);
}

.board-group-header:hover {
  .delete-board-group-btn {
    visibility: visible;
  }
}

.delete-board-group-btn {
  visibility: hidden;
}

.board-groups-loading {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
