@import '~@angular/material/theming';

@mixin boards-view-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .board-group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    span {
      color: mat-color($foreground, text, .3);
    }

    .title {
      color: mat-color($foreground, text, .6);
    }

    button,
    .mat-icon {
      height: 16px;
      width: 16px;
      line-height: 16px;
      align-self: flex-end;
      color: mat-color($foreground, icon, .4);
    }
  }
}
