<form
  [formGroup]="formGroup"
  class="px-0"
>


  <mat-form-field
    class="profile-input mb-3"
    appearance="fill"
  >
    <mat-label>Firstname</mat-label>
    <input
      matInput
      placeholder="Edit Firstname"
      formControlName="firstname"
    >
  </mat-form-field>


  <mat-form-field
    class="profile-input mb-3"
    appearance="fill"
  >
    <mat-label>Lastname</mat-label>
    <input
      matInput
      placeholder="Edit Lastname"
      formControlName="lastname"
    >
  </mat-form-field>


  <mat-form-field
    class="profile-input mb-3"
    appearance="fill"
  >
    <mat-label>Email Address</mat-label>
    <input
      matInput
      placeholder="Change Email Address"
      formControlName="email"
    >
  </mat-form-field>


  <mat-form-field
    class="profile-input mb-3"
    appearance="fill"
  >
    <mat-label>Image Url</mat-label>
    <input
      matInput
      placeholder="Change Profile Image Url"
      formControlName="pictureUrl"
    >
  </mat-form-field>

  <div>
    <input
    #upload
    class="hidden"
    type="file"
    id="upload-file"
    name="upload-file"
    (change)="uploadClicked($event)"
  >
  </div>

  <button
    class="form-submit-btn"
    mat-stroked-button
    (click)="updateClicked()"
    [disabled]="formGroup.invalid || (loadingUpdate$ | async)"
  >
    Update Profile
  </button>


</form>
