<h1 mat-dialog-title>{{ isEditMode ? 'Edit Workspace' : 'Add new Workspace'}}</h1>

<form class="form-auth" [formGroup]="workspaceFromGroup">

  <div class="name-color-row">

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Enter Workspace Name</mat-label>
      <input
        matInput
        id="name"
        class="form-control"
        placeholder="Workspace Name"
        name="name"
        formControlName="name"
      >
    </mat-form-field>

    <mat-form-field class="w-100 color-field" appearance="outline">
      <mat-label>Choose Color</mat-label>
      <mat-select placeholder="Color" formControlName="color">

        <mat-select-trigger>
          <div class="color-option">
            <div class="color-pallete" [style.background-color]="selectedColor"></div>
            <div class="label">
              {{ getColorLabel(selectedColor) }}
            </div>
          </div>
        </mat-select-trigger>

        <mat-option *ngFor="let item of colors" [value]="item.color">
          <div class="color-option">
            <div class="color-pallete" [style.background-color]="item.color"></div>
            <div class="label">
              {{ item.name }}
            </div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Enter Workspace Summary</mat-label>
    <textarea
      matInput
      id="description"
      class="form-control"
      placeholder="Description"
      name="description"
      aria-label="With textarea"
      formControlName="description"
    >
    </textarea>
  </mat-form-field>

</form>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button (click)="getResult()" type="button">
    {{ isEditMode ? 'Save Changes' : 'Save Workspace'}}
  </button>
</div>
