.detail-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.6rem;

  * {
    margin: 0 .6rem 0 0;
  }

  h1 {
    font-weight: 400;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .task-scope-id {
    border-radius: 4px;
    padding: .2rem .4rem;
    height: 1rem;
    font-size: 14px;
    margin-left: auto;
    white-space: nowrap;
  }
}

.detail-container {
  display: flex;
  flex-direction: row;

  .detail-form  {
    flex: 1;
  }

  .detail-column {
    margin-left: 1.6rem;
    flex: 0 0 200px;

    .detail-list {
      display: flex;
      flex-direction: column;

      .detail-list-item {
        h4 {
          font-weight: 500;
          font-size: 14px;
          letter-spacing: .125px;
          margin: 1rem 0 .4rem;
        }

        mat-chip {
          margin: .2rem 0 1rem;
          min-height: 24px !important;
        }
      }
    }

    .bottom-row {
      h4 {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: .125px;
        margin: 1rem 0 .4rem;
      }

      .actions-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: .6rem 0;
      }
    }
  }
}

.task-detail-loading {
  height: 516px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
