@import '~@angular/material/theming';

@mixin task-detail-dialog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .task-detail-dialog {
    .task-scope-id {
      background-color: mat-color($primary, .2);
    }
  }

  .actions-row {
    .mat-icon-button {
      border-radius: 4px;
    }
  }

  .comments-container {
    .mat-form-field-flex {
      border-radius: 4px 4px 0 0;
      padding: 0 .75em;
    }

    .mat-form-field-suffix {
      margin: auto;
    }

    .material-icons-outlined {
      color: mat-color($foreground, icon, .4);
    }
  }
}
