<div
  class="workspace-select"
  [class.workspace-select-compact]="compact()"
  #dropdown
  >
  <button class="select-trigger" (click)="open(selectmenu, origin)" #origin>
    @if (currentWorkspace) {
      <div
        class="app-workspace-link-inner"
        [style.backgroundColor]="currentWorkspace.metaInfo?.color"
        >
        {{ currentWorkspace.name[0] }}
      </div>
      <div class="select-label">{{ currentWorkspace.name }}</div>
    } @else {
      <div class="app-workspace-link-inner"></div>
      <div class="select-label">Select Workspace</div>
    }

  </button>

  <div #selectmenu class="select-menu">
    @if (isOpen) {
      <div class="select-menu-inner menu-scale-in">
        @if (!options()?.length) {
          <div class="no-results-item">
            No results found...
          </div>
        }
        @if (options()?.length) {
          <input
            appAutofocus
            class="label-input"
            placeholder="Search.."
            [formControl]="searchControl"
            (click)="$event.stopPropagation()"
            />
        }
        <div class="select-menu-inner-options custom-scroll">
          @for (option of options$ | async; track option) {
            <div
              class="select-item"
              [class.active]="isActive(option)"
              (click)="select(option)"
              >
              <div
                class="app-workspace-link-inner"
                [style.backgroundColor]="option?.metaInfo?.color"
                >
                {{ option.name[0] }}
              </div>
              <span> {{ option.name }} </span>
            </div>
          }
        </div>
        <div class="select-menu-footer">
          <a class="select-menu-footer-item" [routerLink]="['/workspaces']">
            Workspaces
          </a>
          <div class="select-menu-footer-item" (click)="onlogOutClicked()">
            Logout
          </div>
        </div>
      </div>
    }
  </div>
</div>
