<div class="dropdown" #dropdown>

  <button
    class="select-trigger"
    (click)="open(selectmenu, origin)"
    #origin
  >

    <ng-container
      *ngIf="currentWorkspace; else elseTemplate"
    >
      <div
        class="app-workspace-link-inner"
        [style.backgroundColor]="currentWorkspace?.metaInfo.color"
      >
        {{ currentWorkspace.name[0] }}
      </div>
      <div class="select-label">
        {{ currentWorkspace.name }}
      </div>
    </ng-container>

    <ng-template #elseTemplate>
      <div
        class="app-workspace-link-inner"
      >
      </div>
      <div class="select-label">
        Select Workspace
      </div>
    </ng-template>

  </button>

  <div #selectmenu class="select-menu">
    <div
      *ngIf="isOpen"
      class="select-menu-inner menu-scale-in"
    >

      <div
        *ngIf="!options.length"
        class="no-results-item"
      >
        No results found...
      </div>

      <input
        *ngIf="options.length"
        appAutofocus
        class="label-input"
        placeholder="Search.."
        [formControl]="searchControl"
        (click)="$event.stopPropagation()"
      >

      <div class="select-menu-inner-options custom-scroll">
        <div
          *ngFor="let option of options$ | async"
          class="select-item"
          [class.active]="isActive(option)"
          (click)="select(option)"
        >
          <div
            class="app-workspace-link-inner"
            [style.backgroundColor]="option?.metaInfo.color"
          >
            {{ option.name[0] }}
          </div>

          <span>
            {{ option.name }}
          </span>
        </div>
      </div>

    </div>
  </div>

</div>
