@use '@angular/material' as mat;

@mixin baords-theme($theme) {
  .board-filter-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 32px !important;

    &.mat-warn .mat-icon {
      color: inherit !important;
    }

    &.mat-primary .mat-icon {
      color: inherit !important;
    }

    .mat-icon {
      color: mat.get-color-from-palette($foreground, text, .4);
    }
  }

  .board-filter-button:not(.mat-warn) {
    background-color: darken($board-group, 1);
  }

  .board-filter-button.mat-warn {
    background-color: mat.get-color-from-palette($warn, .08);
  }

  .board-filter-button.mat-primary {
    background-color: mat.get-color-from-palette($primary, .08);
  }

  .board-filter-seperator {
    height: 1.4rem;
    margin: 0 .4rem;
    border-right: 1px solid mat.get-color-from-palette($foreground, text, .1);
  }
}
