@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin baords-theme($theme) {
  .board-filter-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 32px !important;

    &.mat-warn .mat-icon {
      color: inherit !important;
    }

    &.mat-primary .mat-icon {
      color: inherit !important;
    }

    .mat-icon {
      color: rgba(var(--foreground-rgb), .4);
    }
  }

  .board-filter-button:not(.mat-warn) {
    // background-color:  color.scale(var(--board-group), 1); // TODO
  }

  .board-filter-button.mat-warn {
    background-color: rgba(var(--mat-sys-error-container), .08);
  }

  .board-filter-button.mat-primary {
    background-color: rgba(var(--mat-sys-primary-container), .08);
  }

  .board-filter-seperator {
    height: 1.4rem;
    margin: 0 .4rem;
    border-right: 1px solid rgba(var(--foreground-rgb), .1);
  }
}
