@use 'scroll';

.list-item-text {
  h4 {
    font-weight: 500;
  }
}

.card {
  border: 0 !important;
  margin: 1rem !important;
  border-radius: .2rem !important;
}

.card-footer {
  border: 0 !important;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.flex-row {
  display: flex !important;
}

.space-between {
  justify-content: space-between;
}

.card-actions {
  display: flex;
}

.card-chips {
  display: flex;
}

.mat-mdc-menu-item {
  line-height: 32px !important;
  height: 32px !important;
}

.auth-progress-bar {
  height: .4rem;
  margin-bottom: .4rem;

  .mat-mdc-progress-bar {
    border-radius: .4rem !important;
    height: .4rem !important;
  }
}

// Angular Material Modal Class

.mat-mdc-dialog-content {
  @extend .custom-scroll
}

.app-modal-class {
  transition: max-height .3s ease-out;
  height: auto;
  max-height: 40vh;
}

.app-modal-class.content-loaded {
  max-height: 80vh;
}
