@use 'scroll';

.list-item-text {
  h4 {
    font-weight: 500;
  }
}

.card {
  border: 0 !important;
  margin: 1rem !important;
  border-radius: .2rem !important;
}

.card-footer {
  border: 0 !important;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.flex-row {
  display: flex !important;
}

.space-between {
  justify-content: space-between;
}

.card-actions {
  display: flex;
}

.card-chips {
  display: flex;
}

.mat-mdc-menu-item {
  line-height: 32px !important;
  height: 32px !important;
}

.auth-progress-bar {
  height: .4rem;
  margin-bottom: .4rem;

  .mat-mdc-progress-bar {
    border-radius: .4rem !important;
    height: .4rem !important;
  }
}

// Angular Material Modal Class

.mat-mdc-dialog-content {
  @extend .custom-scroll
}

.app-modal-class {
  transition: max-height .3s ease-out;
  height: auto;
  max-height: 40vh;
}

.app-modal-class.content-loaded {
  max-height: 80vh;
}


.mat-mdc-menu-content {
  small {
    font-weight: 500;
    letter-spacing: .125px;
    font-size: 12px;
    opacity: .6;
    padding: 0 16px;
    line-height: 24px;
    height: 24px;
  }
}

// Scroll Shadows

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.scroll-shadow-left {
  transition: opacity 1s ease-in-out;
  display: block;
  position: absolute;
  width: 12px;
  height: calc(100% - 198px);
  box-shadow: inset 6px 0 6px 0 rgba(0, 0, 0, .06) !important;
  animation: fadein .4s;
  border-radius: 4px;
  z-index: 32;
}

.scroll-shadow-right {
  transition: opacity 1s ease-in-out;
  display: block;
  position: absolute;
  right: 32px;
  width: 12px;
  height: calc(100% - 198px);
  box-shadow: inset -6px 0 6px 0 rgba(0, 0, 0, .06) !important;
  animation: fadein .4s;
  border-radius: 4px;
  z-index: 32;
}

.scroll-shadow-top {
  transition: opacity 1s ease-in-out;
  display: block;
  position: absolute;
  left: 9px;
  width: 87%;
  height: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, -.02);
  top: 41px;
  box-shadow: 0 7px 4px -1px rgba(0, 0, 0, .1) !important;
  animation: fadein .8s;
  z-index: 32;
}

.scroll-shadow-bottom {
  transition: opacity 1s ease-in-out;
  display: block;
  position: absolute;
  right: 18px;
  width: 90%;
  height: 0;
  bottom: 0;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, .1) !important;
  animation: fadein .8s;
  border-radius: 4px;
  z-index: 32;
}

// Form Seperator

.form-seperator {
  border-bottom: 2px solid var(--border);
  margin: 2rem 0;
}

// Error Message

.error-message {
  margin: .4rem 0 .8rem;
  font-size: 14px;
  font-weight: 500;
  color: var(--warn);
}
