.app-container {
  height: 100%;
}

.auth-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 50vh;
    background-size: 20px 20px;
    z-index: 0;
    transform: rotateX(20deg);
  }

  form {
    z-index: 2;
    width: 400px;
    max-width: 400px;
    padding: 2rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: normal;

    img {
      margin: 1rem auto;
    }

    .mat-mdc-form-field {
      width: 100%;
    }
  }

  .auth-title {
    letter-spacing: normal;
    margin-bottom: 2.8rem;
    width: 100%;
    text-align: center;
    font-weight: 400;
  }

  .auth-error {
    height: 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .auth-error-text {
      border-radius: .4rem;
      width: 100%;
      padding: .4rem;
      display: block;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .25px;
      text-align: center;
      margin: 0;
    }
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a,
    button {
      height: 38px;
      min-width: 8rem;
    }
  }

  .auth-footer {
    margin-top: 1.4rem;
  }
}

.card-group {
  display: flex;
  flex-direction: column;
  padding: .6rem;
  border-radius: .4rem;

  & > *:not(:last-child) {
    display: block;
    margin-bottom: 1rem;
  }
}


@media only screen and (max-width: 600px) {
  .auth-page-container {
    height: 100vh;
    font-size: 18px;

    form {
      border: 0 !important;
      padding: 0 !important;
      max-width: 100vw  !important;
      width: 100vw !important;
    }

    .button-container {
      flex-direction: column-reverse !important;
      width: 100% !important;

      .mat-mdc-button {
        align-self: flex-start;
      }

      .mat-mdc-outlined-button {
        width: 100%;
        min-height: 3.4rem;
        margin-bottom: .6rem;
        align-self: flex-start;
        margin-bottom: 1.8rem;
      }
    }

    .mat-mdc-form-field,
    .button-container,
    .auth-error,
    .auth-footer {
      width: 80vw !important;
      max-width: 80vw !important;
      margin: 0 auto !important;
    }

    .auth-footer  {
      margin: .8rem auto !important;
    }
  }

}

.app-container {
  background-color: var(--background)
}

.auth-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    background-color: rgba(var(--mat-table-background-color), .6);
    background-image: radial-gradient(rgba(255, 255, 255, .2) 1px, var(--background) 1px);
  }

  form {
    box-shadow: 0 4px 32px 0 rgb(10 14 29 / 2%), 0 8px 64px 0 rgb(10 14 29 / 8%);
    background-color: var(--background);
    border: 1px solid var(--border);
  }
}

.card-group {
  background-color: var(--board-group);
}

.auth-error {
  .auth-error-text {
    background-color: rgba(var(--warn-rgb) .06);
    color: var(--warn);
  }
}
