@use '@angular/material' as mat;

@mixin containers-theme($theme) {
  .app-container {
    background-color: $background
  }

  .auth-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
      background-color: mat.get-color-from-palette($primary, .6);
      background-image: radial-gradient(rgba(255, 255, 255, .2) 1px, $background 1px);
    }

    form {
      box-shadow: 0 4px 32px 0 rgb(10 14 29 / 2%), 0 8px 64px 0 rgb(10 14 29 / 8%);
      background-color: $background
    }
  }

  .card-group {
    background-color: darken($board-group, 1);
  }

  .auth-error {
    .auth-error-text {
      background-color: mat.get-color-from-palette($warn, .06);
      color: darken(mat.get-color-from-palette($warn), 36);
    }
  }
}
