.dialog-actions {
  display: flex;
  gap: .8rem;
  margin-top: 1.8rem;
}

.dialog-actions-align-center {
  justify-content: center;
}

.dialog-actions-align-end {
  justify-content: end;
}

.dialog-actions button {
  min-width: 8rem;
}
