@import '~@angular/material/theming';

@mixin lists-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .app-list {
    background-color: darken(mat-color($background, board-group), 1);

    .mat-checkbox-frame {
      border-color: rgba(mat-color($foreground, icon), .3);
    }
  }

  .app-list-item {
    background-color: mat-color($background, card);

    .description {
      color: mat-color($foreground, text, .6);
    }
  }

  .app-list-drag-icon {
    color: rgba(mat-color($foreground, icon), .3);
  }
}
