.app-list {
  min-height: 196px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1.4rem;
  height: 100%;
  border-radius: .3rem;
  padding: .6rem;
}

.app-list-item {
  height: 40px;
  max-height: 40px;
  margin-bottom: .3rem;
  border: 0 !important;
  border-radius: .2rem;
  overflow: hidden;
  transition: background-color .2s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .app-list-item-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    flex: 1;
    overflow: hidden;

    .app-list-item-action {
      flex: 0 0 40px;
    }

    .app-list-item-scope-id {
      flex: 0 0 40px;
    }

    .app-list-item-checkbox {
      flex: 0 0 16px;
    }

    .mat-checkbox {
      margin: auto;
    }
  }

  .app-list-item-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 160px;
  }

  .title {
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 180px;
  }

  .description {
    flex: 1;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 56px;
  }

  .card-chips {
    justify-content: flex-end;
  }

  .input-group-prepend {
    span,
    label {
      width: 10rem;
    }
  }

  mat-divider {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .expand-icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-left: .4rem;
    visibility: hidden;
  }

  .app-list-item-header:hover {
    .expand-icon {
      visibility: visible;
    }
  }
}
