@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin lists-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .app-list {
    background-color: darken(mat.get-color-from-palette($background, board-group), 1);

    .mat-checkbox-frame {
      border-color: rgba(mat.get-color-from-palette($foreground, icon), .3);
    }
  }

  .app-list-item {
    background-color: mat.get-color-from-palette($background, card);

    .description {
      color: mat.get-color-from-palette($foreground, text, .6);
    }
  }

  .app-list-drag-icon {
    color: rgba(mat.get-color-from-palette($foreground, icon), .3);
  }

  .app-list-item-pill {
    color: mat.get-color-from-palette($primary);
    background-color: rgba(mat.get-color-from-palette($primary), .1);
  }
}
