@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin lists-theme($theme) {
  .app-list {
    background-color: var(--board-group);
  }

  .app-list-item {
    background-color: var(--card);

    .description {
      color: rgba(var(--foreground-rgb), .6);
    }
  }

  .app-list-drag-icon {
    color: rgba(var(--foreground-rgb), .3);
  }

  .app-list-item-pill {
    color: var(--mat-sys-primary-container);
    background-color: rgba(var(--mat-sys-primary-container), .1);
  }
}
