body {
  --mat-menu-item-label-text-tracking: 0.125px;
  --mat-menu-item-label-text-size: 14px;
}

// Material icons classes
.material-icons-outlined,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
  font-family: 'Material Icons Two Tone';
}

.material-icons-round,
.material-icons.material-icons--round {
  font-family: 'Material Icons Round';
}

.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-family: 'Material Icons Sharp';
}

.mat-line {
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: .125px !important;
}

// Text Area

textarea.mat-mdc-input-element {
  line-height: 1.5;
}


// Menu

.mat-mdc-menu-panel, .mat-mdc-menu-item, .mat-mdc-option {
  min-height: 32px !important;
}

.mat-mdc-menu-item {
  min-width: 180px;
}

.mat-mdc-option .mdc-list-item__primary-text {
  white-space: nowrap !important;
}

// Material Auto Complete

.auto-complete-option {
  padding: 2px 12px !important;
}

div.mat-mdc-autocomplete-panel {
  @extend .custom-scroll;

  border-radius: 4px;
  margin-top: .4rem;
}

.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

// Buttons

.mat-mdc-button {
  padding: 0 16px !important;
}

.mat-mdc-button > .mat-icon {
  margin-right: 0 !important;
  height: auto !important;
  width: auto !important;
  font-size: 22px !important;
}

