@use 'typography';
@use 'variables';

body {
  font-family: variables.$netptune-font-family;
  margin: 0;
  height: 100vh;
}

* {
  &:active,
  :focus {
    outline: none !important;
  }
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px;
}

.mat-mdc-menu-content {
  fa-icon {
    position: relative;
    top: 2px;
    left: 4px;
  }
}

label {
  margin-bottom: 0;
}

.custom-scroll::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

.custom-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border: 6px solid transparent;
  background: var(--forgeground, .2);
  border-radius: 10px;
  background-clip: padding-box;
}

.custom-scroll {
  scrollbar-color: var(--forgeground, .2) transparent;
  scrollbar-width: auto;
}

a {
  color: var(--primary);
  text-decoration: none;
}
