@import './typography';

body {
  font-family: $netptune-font-family;
  margin: 0;
  height: 100vh;
}

* {
  &:active,
  :focus {
    outline: none !important;
  }
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px;
}

.mat-menu-content {
  fa-icon {
    position: relative;
    top: 2px;
    left: 4px;
  }
}

label {
  margin-bottom: 0;
}
