.custom-scroll::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

.custom-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border: 6px solid transparent;
  background: var(--scrollbar-foreground);
  border-radius: 10px;
  background-clip: padding-box;
}

.custom-scroll {
  scrollbar-color: var(--scrollbar-foreground) transparent;
  scrollbar-width: auto;
}
