@use '@angular/material' as mat;

@mixin spinners-theme($theme) {

  @keyframes typing {
    0% {
      background-color: $background;
      box-shadow: 12px 0 0 0 mat.get-color-from-palette($primary, .2), 24px 0 0 0 mat.get-color-from-palette($primary, .2);
    }

    25% {
      background-color: mat.get-color-from-palette($primary, .4);
      box-shadow: 12px 0 0 0 mat.get-color-from-palette($primary, 2), 24px 0 0 0 mat.get-color-from-palette($primary, .2);
    }

    75% {
      background-color: mat.get-color-from-palette($primary, .4);
      box-shadow: 12px 0 0 0 mat.get-color-from-palette($primary, .2), 24px 0 0 0 $background
    }
  }
}
