.typing-loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  animation: typing 1s linear infinite alternate;
  margin: 46px auto;
  position: relative;
  left: -12px;
}

.page-loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes typing {
  0% {
    background-color: var(--background);
    box-shadow: 12px 0 0 0 rgba(var(--primary-rgb), .2), 24px 0 0 0 rgba(var(--primary-rgb), .2);
  }

  25% {
    background-color: rgba(var(--primary-rgb), .4);
    box-shadow: 12px 0 0 0 rgba(var(--primary-rgb), 2), 24px 0 0 0 rgba(var(--primary-rgb), .2);
  }

  75% {
    background-color: rgba(var(--primary-rgb), .4);
    box-shadow: 12px 0 0 0 rgba(var(--primary-rgb), .2), 24px 0 0 0 var(--background)
  }
}
