@import '~@angular/material/theming';

@mixin projects-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .project-card {
    .mat-card-subtitle {
      a {
        color: mat-color($primary) !important;
      }
    }
  }
}
