@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as *;
@mixin board-group-tags-theme($theme) {
  .tags-menu {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: .2rem .8rem;

    .mdc-form-field, .mdc-label {
      width: 100%;
    }
  }

  .mat-mdc-menu-panel.mat-mdc-menu-panel {
    @extend .custom-scroll;
  }
}
