@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin board-group-tags-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .tags-menu {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: .2rem .8rem;

    .mdc-form-field, .mdc-label {
      width: 100%;
    }
  }

  .mat-mdc-menu-panel.mat-mdc-menu-panel {
    @extend .custom-scroll;
  }
}
