<button
  mat-button
  matTooltip="Filter by Tag"
  class="board-filter-button"
  [matMenuTriggerFor]="tagMenu"
  (click)="onClicked()"
  [matBadge]="!!selectedCount() ? selectedCount() : undefined"
  [color]="!!selectedCount() ? 'primary' : ''"
  >
  <mat-icon
    aria-hidden="false"
    aria-label="Expand Tags Dropdown"
    class="material-icons-outlined"
    >
    local_offer
  </mat-icon>
</button>

<mat-menu #tagMenu="matMenu">
  <ng-template matMenuContent>
    <div class="tags-menu">
      @if (loaded$ | async) {
        <ng-container *ngrxLet=" tags$ as tags">
          @if (tags.length) {
            @for (tag of tags; track trackByTag($index, tag)) {
              <mat-checkbox
                class="tag-checkbox mat-menu-item"
                role="menuitemcheckbox"
                (click)="$event.stopPropagation()"
                (change)="onOptionClicked(tag)"
                [checked]="tag.selected ?? false"
                >
                {{ tag.name }}
              </mat-checkbox>
            }
          } @else {
            <div class="no-tags-message">
              <mat-icon class="material-icons-outlined"> local_offer </mat-icon>
              <span> There are currently No Tags </span>
              <p>Tags Assigned to tasks will show here</p>
            </div>
          }
        </ng-container>
      } @else {
        <div class="loading">
          <mat-spinner diameter="24" />
        </div>
      }

    </div>
  </ng-template>
</mat-menu>
