@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin board-group-tags-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .tags-menu {

    .mat-menu-item {
      display: flex;
      align-items: center;
      height: 38px !important;
    }

    .tag-checkbox {
      .mat-checkbox-layout .mat-checkbox-label {
        border-radius: 4px;
        padding: 0 .4rem;
        background-color: mat.get-color-from-palette($foreground, text, .06);
      }
    }
  }
}
