<button
  *ngrxLet="selectedCount$ as count"
  mat-button
  matTooltip="Filter by Tag"
  class="board-filter-button"
  [matMenuTriggerFor]="tagMenu"
  (click)="onClicked()"
  [matBadge]="!!count ? count : undefined"
  [color]="!!count ? 'primary' : ''"
>
  <mat-icon
    aria-hidden="false"
    aria-label="Expand Tags Dropdown"
    class="material-icons-outlined"
  >
    local_offer
  </mat-icon>
</button>

<mat-menu #tagMenu="matMenu" class="tags-menu">
  <ng-template matMenuContent>

    <ng-container *ngIf="loaded$ | async; else elseTemplate">
      <ng-container *ngrxLet=" tags$ as tags">

        <ng-container *ngIf="tags.length; else elseTemplate">
          <mat-checkbox
            class="tag-checkbox mat-menu-item"
            role="menuitemcheckbox"
            (click)="$event.stopPropagation()"
            (change)="onOptionClicked(tag)"
            [checked]="tag.selected"
            *ngFor="let tag of tags; trackBy: trackByTag"
          >
            {{ tag.name }}
          </mat-checkbox>
        </ng-container>

        <ng-template #elseTemplate>
          <div class="no-tags-message">
            <mat-icon class="material-icons-outlined">
              local_offer
            </mat-icon>
            <span>
              There are currently No Tags
            </span>
            <p>
              Tags Assigned to tasks will show here
            </p>
          </div>
        </ng-template>

      </ng-container>
    </ng-container>

    <ng-template #elseTemplate>
      <div class="loading">
        <mat-spinner diameter="24"></mat-spinner>
      </div>
    </ng-template>

  </ng-template>
</mat-menu>
