<div class="tasks-container">
  <h4>{{ header() }}</h4>

  <div class="task-list">
    @if (tasks()?.length) {
      <cdk-virtual-scroll-viewport
        class="task-list-group custom-scroll"
        itemSize="43"
        minBufferPx="1024"
        maxBufferPx="2048"
        >
        <app-task-list-item
          class="task-list-item"
          *cdkVirtualFor="let taskItem of tasks(); trackBy: trackByTask; templateCacheSize: 0"
          [task]="taskItem"
          >
        </app-task-list-item>
        <app-task-inline [siblings]="tasks()" />
      </cdk-virtual-scroll-viewport>
    } @else {
      <app-task-inline />
      <div class="list-empty">
        <div class="list-empty-mark">
          <i class="far fa-compass"></i>
          <h4 class="empty-text">{{ emptyMessage() }}</h4>
        </div>
      </div>
    }

  </div>
</div>
