@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin task-list-group-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .tasks-container {
    h4 {
      color: mat.get-color-from-palette($foreground, text, .6);
    }

    .task-list {
      background-color: darken(mat.get-color-from-palette($background, board-group), 1);
    }


    .task-drag {
      background-color: mat.get-color-from-palette($background);
    }

    .cdk-virtual-scroll-orientation-vertical
    .cdk-virtual-scroll-content-wrapper {
      max-width: 100%;
    }
  }

  .empty-list-img,
  .list-empty-mark {
    color: mat.get-color-from-palette($foreground, empty-list);
  }

  .empty-text {
    color: mat.get-color-from-palette($foreground, disabled-button);
  }
}
