@use '@angular/material' as mat;

@mixin task-list-group-theme($theme) {
  .tasks-container {
    h4 {
      color: mat.get-color-from-palette($foreground, text, .6);
    }

    .task-list {
      background-color: darken($board-group, 1);
    }
    .task-list-item {
      background-color: $background;
    }

    .cdk-virtual-scroll-orientation-vertical
    .cdk-virtual-scroll-content-wrapper {
      max-width: 100%;
    }
  }

  .empty-list-img,
  .list-empty-mark {
    color: mat.get-color-from-palette($foreground, empty-list);
  }

  .empty-text {
    color: mat.get-color-from-palette($foreground, disabled-button);
  }
}
