.card-group {
  padding: 2rem;
  border-radius: .4rem;
}

.project-header-image {
  background-image: url('assets/apple-touch-icon.png');
  background-size: cover;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-chips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
