<app-page-container  [marginBottom]="true">

  <app-page-header
    title="Projects"
    actionTitle="Create Project"
    (actionClick)="showAddModal()"
  >
  </app-page-header>

  <div class="card-group">
    <mat-card *ngFor="let project of projects$ | async; let i = index; trackBy: trackById" class="project-card">
      <mat-card-header>
        <div mat-card-avatar class="project-header-image"></div>
        <mat-card-title>
          {{ project.name }}
        </mat-card-title>
        <mat-card-subtitle>
          <a [href]="project.repositoryUrl">
            {{ project.repositoryUrl }}
          </a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ project.description }}</p>

        <div class="card-chips">
          <mat-chip-list>
            <mat-chip>
              Owner {{ project.ownerDisplayName }}
            </mat-chip>
            <mat-chip>
              Updated {{ project.updatedAt | date }}
            </mat-chip>
            <mat-chip>
              Created {{ project.createdAt | date }}
            </mat-chip>
          </mat-chip-list>

          <mat-menu #appMenu="matMenu">
            <ng-template matMenuContent>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">
                  edit
                </mat-icon>
                <span>Edit Project</span>
              </button>
              <button mat-menu-item (click)="deleteClicked(project)">
                <mat-icon class="material-icons-outlined">
                  delete
                </mat-icon>
                <span>Delete Project</span>
              </button>
            </ng-template>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</app-page-container>
