@import '~@angular/material/theming';

@mixin projects-index-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @media only screen and (max-width: 600px) {
    .project-card {
      background-color: mat-color($background, card);
      border-left: 0 !important;
      border-right: 0 !important;
      border-top: 1px solid mat-color($background, disabled-button);
      border-bottom: 1px solid mat-color($background, disabled-button);
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .03);
      border-radius: 0;
    }
  }
}
