<h1 mat-dialog-title>{{ data.title }}</h1>

<div app-dialog-content *ngIf="data.message || data.confirmationCheckboxLabel">
  <div class="message-icon">
    <mat-icon *ngIf="data.icon" class="material-icons-outlined">
      {{ data.icon }}
    </mat-icon>
  </div>

  <ng-container *ngIf="data.message">
    <p
      [innerHTML]="data.message"
      [class.no-margin]="!data.messageExtended && !data.icon"
    >
      {{ data.message }}
    </p>

    <p *ngIf="data.messageExtended">{{ data.messageExtended }}</p>
  </ng-container>

  <ng-container *ngIf="data.confirmationCheckboxLabel">
    <mat-checkbox
      [class.indented]="data.message"
      [(ngModel)]="confirmationChecked"
    >
      {{ data.confirmationCheckboxLabel }}
    </mat-checkbox>
  </ng-container>
</div>

<div mat-dialog-actions align="end">
  <ng-container *ngIf="data.isInfoMessage; else elseTemplate">
    <button mat-stroked-button cdkFocusInitial (click)="dialogRef.close(false)">
      Ok
    </button>
  </ng-container>

  <ng-template #elseTemplate>
    <button
      *ngIf="data.cancelLabel"
      mat-stroked-button
      cdkFocusInitial
      (click)="dialogRef.close(false)"
    >
      {{ data.cancelLabel }}
    </button>

    <button
      mat-flat-button
      [color]="data.color"
      (click)="dialogRef.close(true)"
      [disabled]="data.confirmationCheckboxLabel && !confirmationChecked"
    >
      {{ data.acceptLabel }}
    </button>
  </ng-template>
</div>
