<h1 mat-dialog-title>{{ data.title }}</h1>

@if (data.message || data.confirmationCheckboxLabel) {
  <div app-dialog-content>
    <div class="flex flex-col items-center">
      @if (data.icon) {
        <mat-icon class="material-icons-outlined my-[0.4rem] mx-auto text-[4rem] h-[4rem] w-[4rem]">
          {{ data.icon }}
        </mat-icon>
      }
    </div>
    @if (data.message) {
      <p
        [innerHTML]="data.message"
        [class.m-0]="!data.messageExtended && !data.icon"
        >
        {{ data.message }}
      </p>
      @if (data.messageExtended) {
        <p>{{ data.messageExtended }}</p>
      }
    }
    @if (data.confirmationCheckboxLabel) {
      <mat-checkbox
        [class.mt-8]="data.message"
        [class.ml-8]="data.message"
        [formField]="confirmForm.confirmationChecked"
        >
        {{ data.confirmationCheckboxLabel }}
      </mat-checkbox>
    }
  </div>
}

<div app-dialog-actions align="end">
  @if (data.isInfoMessage) {
    <button mat-stroked-button cdkFocusInitial (click)="dialogRef.close(false)">
      Ok
    </button>
  } @else {
    @if (data.cancelLabel) {
      <button
        mat-stroked-button
        cdkFocusInitial
        (click)="dialogRef.close(false)"
        >
        {{ data.cancelLabel }}
      </button>
    }
    <button
      mat-flat-button
      [color]="data.color"
      (click)="dialogRef.close(true)"
      [disabled]="data.confirmationCheckboxLabel && !confirmForm.confirmationChecked().value()"
      >
      {{ data.acceptLabel }}
    </button>
  }

</div>
